.test {
    alignment-adjust: test;
    alignment-baseline: test;
    animation: test;
    animation-name: test;
    animation-duration: test;
    animation-timing-function: test;
    animation-delay: test;
    animation-iteration-count: test;
    animation-direction: test;
    animation-play-state: test;
    appearance: test;
    backface-visibility: test;
    background-clip: test;
    background-origin: test;
    background-size: test;
    baseline-shift: test;
    bookmark-label: test;
    bookmark-level: test;
    bookmark-target: test;
    border-bottom-left-radius: test;
    border-bottom-right-radius: test;
    border-image: test;
    border-image-outset: test;
    border-image-repeat: test;
    border-image-slice: test;
    border-image-source: test;
    border-image-width: test;
    border-radius: test;
    border-top-left-radius: test;
    border-top-right-radius: test;
    box-decoration-break: test;
    box-align: test;
    box-direction: test;
    box-flex: test;
    box-flex-group: test;
    box-lines: test;
    box-ordinal-group: test;
    box-orient: test;
    box-pack: test;
    box-shadow: test;
    box-sizing: test;
    color-profile: test;
    column-fill: test;
    column-gap: test;
    column-rule: test;
    column-rule-color: test;
    column-rule-style: test;
    column-rule-width: test;
    column-span: test;
    column-width: test;
    columns: test;
    column-count: test;
    crop: test;
    dominant-baseline: test;
    drop-initial-after-adjust: test;
    drop-initial-after-align: test;
    drop-initial-before-adjust: test;
    drop-initial-before-align: test;
    drop-initial-size: test;
    drop-initial-value: test;
    fit: test;
    fit-position: test;
    float-offset: test;
    font-size-adjust: test;
    font-stretch: test;
    grid-columns: test;
    grid-rows: test;
    hanging-punctuation: test;
    hyphenate-after: test;
    hyphenate-before: test;
    hyphenate-characters: test;
    hyphenate-lines: test;
    hyphenate-resource: test;
    hyphens: test;
    icon: test;
    image-orientation: test;
    image-resolution: test;
    inline-box-align: test;
    line-stacking: test;
    line-stacking-ruby: test;
    line-stacking-shift: test;
    line-stacking-strategy: test;
    mark: test;
    mark-after: test;
    mark-before: test;
    marks: test;
    marquee-direction: test;
    marquee-play-count: test;
    marquee-speed: test;
    marquee-style: test;
    move-to: test;
    nav-down: test;
    nav-index: test;
    nav-left: test;
    nav-right: test;
    nav-up: test;
    opacity: test;
    outline-offset: test;
    overflow-style: test;
    overflow-x: test;
    overflow-y: test;
    page: test;
    page-policy: test;
    perspective: test;
    perspective-origin: test;
    punctuation-trim: test;
    rendering-intent: test;
    resize: test;
    rest: test;
    rest-after: test;
    rest-before: test;
    rotation: test;
    rotation-point: test;
    ruby-align: test;
    ruby-overhang: test;
    ruby-position: test;
    ruby-span: test;
    size: test;
    string-set: test;
    target: test;
    target-name: test;
    target-new: test;
    target-position: test;
    text-align-last: test;
    text-emphasis: test;
    text-height: test;
    text-justify: test;
    text-outline: test;
    text-overflow: test;
    text-shadow: test;
    text-wrap: test;
    transform: test;
    transform-origin: test;
    transform-style: test;
    transition: test;
    transition-property: test;
    transition-duration: test;
    transition-timing-function: test;
    transition-delay: test;
    word-break: test;
    word-wrap: test;
}

