/*
 * @author: zhifu.wang@renren-inc.com
 */
@unit-test-expecteds {
    2: comment for ".test-comment-length" length should less than 80 per line
    2: comment for ".test-chn-length" length should less than 80 per line
    2: comment for ".test-chn-and-eng-length" length should less than 80 per line
    2: comment for ".test-comment-multiline-length" length should less than 80 per line
    1: ".test-comment-length, .test-chn-length, .test-chn-and-eng-length, .test-comment-multiline-length, .correct-comment" contains the same rules in "FEDCommentLengthLessThan80.css"
}

/** fdasfdsaffffffffffffffffffffffffffffffffffffffffffffffffffffffffftested code */
.test-comment-length {
    width: 100px;
}

/* 中文字符中文字符中文字符中文字符中文字符中文字符中文字符中文字符中文字符中文字符 */
.test-chn-length {
    width: 100px;
}

/* fdasjklfjdlskafdlasjfldsajfd符中文字符中文字符中文字符中文字符中文字符中文字符 */
.test-chn-and-eng-length {
    width: 100px;
}

/*
 * fdjlfdfdsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
 * fffffffffffffffffffjfkldasjflkda
 */
.test-comment-multiline-length {
    width: 100px;
}

/*
 * fjdklajfdlsjflkdsjkfdsjakl
 */
.correct-comment {
    width: 100px;
}
