/*
 * @author: zhifu.wang@renren-inc.com
 */
@unit-test-expecteds {
    2: css3 prop "-moz-animation-delay" should align to right in ".css-three-attrs-no-order"
    2: css3 prop "-ms-animation-delay" should align to right in ".css-three-attrs-no-order"
    2: css3 prop "-o-animation-delay" should align to right in ".css-three-attrs-no-order"
    2: css3 prop "animation-delay" should align to right in ".css-three-attrs-no-order"
    2: css3 prop "box-shadow" should align to right in ".box-shadow-no-order"

    0: css3 prop "box-shadow" missing some of "-webkit-,-moz-,-o-,std" in ".box-shadow-no-order"
    0: css3 prop "-webkit-box-shadow" missing some of "-webkit-,-moz-,-o-,std" in ".box-shadow-has-webkit"

    0: css3 prop "-webkit-animation-delay" missing some of "-webkit-,-moz-,-o-,std" in ".no-standard"
    0: css3 prop "-moz-animation-delay" missing some of "-webkit-,-moz-,-o-,std" in ".no-standard"
    0: css3 prop "-ms-animation-delay" missing some of "-webkit-,-moz-,-o-,std" in ".no-standard"
    0: css3 prop "-o-animation-delay" missing some of "-webkit-,-moz-,-o-,std" in ".no-standard"

    1: css3 prop "-webkit-animation-delay" should keep in "-webkit-,-moz-,-ms-,-o-,std" order in ".not-keep-in-order"
    1: css3 prop "-moz-animation-delay" should keep in "-webkit-,-moz-,-ms-,-o-,std" order in ".not-keep-in-order"
    1: css3 prop "-ms-animation-delay" should keep in "-webkit-,-moz-,-ms-,-o-,std" order in ".not-keep-in-order"
    1: css3 prop "-o-animation-delay" should keep in "-webkit-,-moz-,-ms-,-o-,std" order in ".not-keep-in-order"
    1: css3 prop "animation-delay" should keep in "-webkit-,-moz-,-ms-,-o-,std" order in ".not-keep-in-order"

    1: "-ms-animation-delay" should after "-webkit-animation-delay" in ".not-keep-in-order" (order: display/box/text/other/css3)
    2: should have 1(only) space before css3 prop "-moz-animation-delay" in ".single-css-attr"
    2: should have 1(only) space before css3 prop "-o-animation-delay" in ".single-css-attr"
    2: css3 prop "border-radius" should align to right in ".border-radius-is-not-ok-if-prefix"

    1: ".css-three-attrs-no-order, .single-css-attr, .keep-in-order, .not-keep-in-order" contains the same rules in "FEDCss3PropSpaces.css"
    1: ".box-shadow-no-order, .box-shadow-has-webkit" contains the same rules in "FEDCss3PropSpaces.css"
}

.css-three-attrs-no-order {
    -webkit-animation-delay: 1;
    -moz-animation-delay: 1;
    -ms-animation-delay: 1;
    -o-animation-delay: 1;
    animation-delay: 1;
}

.single-css-attr { -webkit-animation-delay: 1;   -moz-animation-delay: 1; -ms-animation-delay: 1;  -o-animation-delay: 1; animation-delay: 1; }

.box-shadow-no-order {
    box-shadow: 1;
}

.box-shadow-has-webkit {
    -webkit-box-shadow: 1;
}

.no-standard {
    -webkit-animation-delay: 1;
       -moz-animation-delay: 1;
        -ms-animation-delay: 1;
         -o-animation-delay: 1;
}

.keep-in-order {
    -webkit-animation-delay: 1;
       -moz-animation-delay: 1;
        -ms-animation-delay: 1;
         -o-animation-delay: 1;
            animation-delay: 1;
}

.not-keep-in-order {
        -ms-animation-delay: 1;
    -webkit-animation-delay: 1;
       -moz-animation-delay: 1;
         -o-animation-delay: 1;
            animation-delay: 1;
}

.border-radius-is-ok {
    border-top-left-radius: 0;
    border-radius: 0;
}

.border-radius-is-not-ok-if-prefix {
    -webkit-border-radius: 0;
    border-radius: 0;
}