/*
 * @author: zhifu.wang@renren-inc.com
 */
@unit-test-expecteds {
    0: should not set style for ".nav" in ".nav"
    0: should not set style for "#sidebar" in "#sidebar"
    0: should not set style for ".nav" in ".nav-b, .nav"
    1: ".nav-b, .nav, .nav:hover" contains the same rules in "FEDDoNotSetStyleForSimpleSelector.css"
    1: "#side-bar, #sidebar" contains the same rules in "FEDDoNotSetStyleForSimpleSelector.css"
}

.nav {
    width: 100px;
    height: 200px;
}

#side-bar {
    float: left;
}

#sidebar {
    float: left;
}

.nav-b,
.nav {
    width: 100px;
}

.nav:hover {
    width: 100px;
}
