/*
 * @author: zhifu.wang@renren-inc.com
 */
@unit-test-expecteds {
    0: unknown attribute name "^width" found in ".hack-by-extra-char"
    0: "width" is not in correct hacking way in ".error-hack-ie"
}

.hack-by-extra-char {
    ^width: 100px;
}

.no-hack {
    width: 200px;
}

.hack-ie-six {
    _width: 200px;
}

.hack-ie-seven {
    +width: 200px;
}

.hack-ie-six-and-seven {
    *width: 200px;
}

.hack-ies {
    width: 200px\9;
}

.error-hack-ie {
    width: 200px\0;
}
