/*
 * @author: zhifu.wang@renren-inc.com
 */
@unit-test-expecteds {
    0: not correct hacking way in "@-moz-document         url-prefix()"
    0: not correct hacking way in "@-moz-document prefix()"
    0: not correct hacking way in "@media screen and (-webkit-min-device-pixel-ratio:0) and other"
    0: not correct hacking way in "@media all and (-webkit-min-device-pixel-ratio:10), not all and (-webkit-min-device-pixel-ratio:0)"
}

@-moz-document url-prefix() {
    width: 100px;
}

@-moz-document         url-prefix() {
    width: 100px;
}

@-moz-document prefix() {
    width: 100px;
}


@media screen and (-webkit-min-device-pixel-ratio:0) and other {
    width: 100px;
}

@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
    width: 100px;
}

@media all and (-webkit-min-device-pixel-ratio:10), not all and (-webkit-min-device-pixel-ratio:0) {
    width: 100px;
}
