/*
 * @author: zhifu.wang@renren-inc.com
 */
@unit-test-expecteds {
    2: should "enter" after the opening brace in ".multi-no-enter-before-open-brace"
    2: should "enter" before the closing brace in ".multi-brace-no-enter"
    2: extra "space" after the opening brace in ".multi-space-after-brace"
    2: every name/value should in single line in ".multi-brace-no-enter-another"
    2: should have (only) one "space" before value of "width" in ".multi-brace-no-enter"
    2: should have (only) one "space" before value of "width" in ".multi-brace-no-enter-another"
}

.multi-a {
    width: 100px;
    height: 100px;
}

.multi-no-enter-before-open-brace {    width: 100px;
    height: 100px;
}

.multi-space-after-brace { 
    width: 100px;
    height: 100px;
}

.multi-brace-no-enter {
    width:100px;
    height: 100px; }

.multi-brace-no-enter-another {
    width:100px;    height: 100px; }
