/*
 * @author: zhifu.wang@renren-inc.com
 */
@unit-test-expecteds {
    1: should not use appearance word "red" in ".color-red"
    1: should not use appearance word "float" in ".float-left"
}

.is-correct-name {
    width: 100px;
    height: 200px;
}

.color-red {
    color: red;
}

.float-left {
    float: left;
}

.topic {
    float: left;
}
