/*
 * @author: zhifu.wang@renren-inc.com
 */
@unit-test-expecteds {
    1: replace "border: 0" with "border: none" in ".test-border-zero"
    1: replace "border-width: 0" with "border-width: none" in ".test-border-width-zero"
}

.test-border-none {
    border: none;
}

.test-border-zero {
    border: 0;
}

.test-border-width-zero {
    border-width: 0;
}
