/*
 * @author: zhifu.wang@renren-inc.com
 */
@unit-test-expecteds {
    1: each rule in ".abcd" need semicolon in the end, "border" has not
    1: each rule in ".abcd" need semicolon in the end, "width" has not
    1: each rule in ".abcd:hover" need semicolon in the end, "height" has not
}

.abcd {
    width: 0
    border: 1px solid red
}

.abcd:hover {
    width: 0;
    height: 200px
}
