/*
 * @author: zhifu.wang@renren-inc.com
 */
@unit-test-expecteds {
    0: Should not use !important in "width" of ".test"
    0: Should not use !important in "width" of ".testa"
    0: Should not use !important in "width" of ".testb"

    1: ".test, .testa" contains the same rules in "FEDShouldNotUseImportant.css"
}

.test {
    width: 100px !important;
}

.testa {
    width: 100px                !important;
}

.testb {
    width: 100px ! important;
}
