/*
 * @author: zhifu.wang@renren-inc.com
 */
@unit-test-expecteds {
    2: should not "enter" at the end of ".single-has-enter"
    2: should start with "space" in ".single-extra-space"
    2: should have "only one space" before the opening brace in ".many-spaces-end"
    2: selector should end with only one space ".single-has-enter"
    2: selector should end with only one space ".many-spaces-end"

    1: ".single-has-enter, .single-extra-space, .many-spaces-end" contains the same rules in "FEDSingleLineSelector.css"
}

.single-ok { width: 100px; height: 100px; }

.single-has-enter
{
    width: 100px;
}

 .single-extra-space { width: 100px; }

.many-spaces-end   { width: 100px; }
