/*
 * @author: zhifu.wang@renren-inc.com
 */
@unit-test-expecteds {
    1: selector should use lower case, in ".IS-UPPER"
    1: should not use _ in selector ".is_uppeR"
    1: selector should use lower case, in ".is_uppeR"
    1: selector should use lower case, in ".AAA, .BBB"

    1: ".IS-UPPER, .is_uppeR, .AAA, .BBB" contains the same rules in "FEDUseLowerCaseSelector.css"
}

.is-correct-lower-selector {
    width: 100px;
    height: 200px;
}

.IS-UPPER {
    width: 100px;
}

.is_uppeR {
    width: 100px;
}

.AAA,
.BBB {
    width: 100px;
}
