/*----This is normal stylesheet for adaptive by Lmoon----*/
/* BODY STYLES */
body#adaptive{position:relative;*padding-top:15px;background:url('http://a.xnimg.cn/smallsite/images/theme/adaptive/bg.gif') repeat;font-family:"Microsoft Yahei",Arial;font-size:12px; word-wrap:break-word;}
a{text-decoration:none; color:#555;}
a:hover{text-decoration:underline;}
html, #container header, body.home, #main-wrap, .topics, #siteTopic, #container footer, #followsCounter {width:100%;min-width:1120px;}
/* HEADER STYLES */
#container .sitehead {
    display:none
}
#header-followsCounter{
    display:block;
    position:absolute;
    width:100%;
    height:410px;
    bottom:0px;
    left:0px;
    background-color:#3b3b3b;
}
#container header{
    position: relative;
    padding-bottom:45px;
    padding-top:150px;
    background-color:#3b3b3b;
    border-bottom:1px solid #fff;
    text-align:center;
    -webkit-box-shadow:2px 2px 2px #aaa;
    -moz-box-shadow:3px 3px 3px #aaa;
    box-shadow:3px 3px 3px #aaa;
    *zoom:1;
 }
#title {border: none;border-bottom:none !important;font-size:60px;color:#d5d5d5; padding-bottom:10px;}
#title:hover {
    text-decoration:none;
    color:#01a8ac;
}
#sitedesc{font-size:18px;color:#7c7c7c; width:900px;word-wrap:break-word; word-break:break-all;margin:15px auto 0 auto; display:block;}
#siteTopic{
    position:absolute;
    top:92px;
    left:0px;
    padding-bottom:25px;
    background:url('http://a.xnimg.cn/smallsite/images/theme/adaptive/post-bg.gif') no-repeat center bottom;
}
#followsCounter{
    display:block;
    position:absolute;
    top:45px;
    left:0px;
    margin-bottom:10px;
    text-align:center;
    font-weight:bold;
    font-size:16px;
}
#followsCounter em{
    position:relative;
    top:2px;
    font-size:28px;
    font-style:normal;
    line-height: 28px;
}
#followsCounter a{
    color:#555;
    text-decoration:none;
}
#followsCounter a:hover{
    color:#01a8ac
}
#followsCounter a{
    font-size:18px;
}
#followers, #master {width:690px;margin:0 auto;}
#siteTopic h4 { display:none;}
.topics{
    margin:0 auto;
    text-align:center;
    height:34px;
    overflow: hidden;
}
.topics li{
    display:inline-block;
    *zoom:1;
    *display:inline;
    padding:0 5px;
    margin-top:10px;
}
.topics li a{
    display: block;
    padding:0px 5px;
    color:#999;
    height:21px;
    font-size:14px;
    overflow:hidden;
    text-decoration:none;
    line-height:20px;
    _display:inline
}
.topics li a:hover{
    color:#01a8ac;
}
.topics li a.s{
    color:#333;
    font-weight:bold;
}

/*sync_area*/
#container .add-reply .sync_area{
    margin-right: 5px;
    _margin-right:3px;
    margin-top: 6px;
    *margin-top: 4px;
    _top:75px;
    _right:4px;
}
#container .add-reply .sync_area input{vertical-align:middle;width:auto;height:auto;margin-bottom:5px;*margin-top:0px;margin-bottom:1px\9;background:none;border:none;outline:none}
#container .add-reply .sync_area label{cursor:pointer;*zoom:1;*padding-top:3px}

/* POST STYLES */
.post .content{background:none}
.post-text .post-panel,.post-article .post-panel,.reprint,.post-footer,.desc,.video-desc,.post-audio,.post-link,#pagerbar,.post-video .post-panel{width:740px;margin:0 auto;_overflow:hidden}

/*music*/
.post-music .album-cover {margin-right:10px}
.post-music .textarea-box object{margin: 0 335px 0 0;_margin-right:328px}
.post-music .album-cover img{display:block;width:120px;height:120px;*margin:2px  13px 0 0px}
.post-music .post-panel{width:690px;margin:0 auto}
.post-music h3{font-size:28px;font-weight:bold;margin-bottom:20px; line-height:28px;text-shadow:1px 1px 1px rgba(0,0,0,0.5);-webkit-text-shadow:1px 1px 1px rgba(0,0,0,0.5);-moz-text-shadow:1px 1px 1px rgba(0,0,0,0.5)}
.post-music p{text-align:left;padding:5px 0px}
.post-music .textarea-box{width:520px;float:right;overflow-x:hidden}

#main-wrap{margin:0 auto;text-align:center; position:relative;padding-top:100px;}
#container footer {
    margin:0px auto;
    margin-top:160px;
    padding-bottom:50px;
    _margin-top:0px;
}
body.customize #container footer{
    margin-top:200px;
}
.post{padding-bottom:75px;margin-top:75px;font-size:14px;background:url('http://a.xnimg.cn/smallsite/images/theme/adaptive/post-bg.gif') no-repeat center bottom; position:relative;}
.post h4,.post-text .post-content,.post-link .link,.post-music h3,.post-link .link a{
    font-size:28px;
    font-weight:bold;
    margin-bottom:20px;
    line-height:42px;
    color:#3b3b3b;
}
.post-text .post-content { margin-bottom:0px;}
.post h4 { text-align:center;}
.link a{color:#333333;}
.post-article .post-content,.video-desc,.post-link .desc{text-align:left;font-size:14px;line-height:22px;}
.video-desc {margin-top:25px;}
.post-article .content{
    line-height:normal
}
.photo{_width:1120px;overflow:hidden;}
.photo img,.post-article .post-content img,.post-video .post- content img{
    display:block;
    max-width:1024px;
    padding:10px;
    margin:10px auto;
    background-color:#ffffff;
    *display:inline;
    -webkit-box-shadow:0px 3px 3px #aaa;
    -moz-box-shadow:0px 3px 3px #aaa;
    box-shadow:0px 3px 3px #aaa;
}
.thumbnail img{margin:0 auto 10px auto;background-color:#ffffff;-webkit-box-shadow:2px 2px 2px black;-moz-box-shadow:3px 3px 3px #aaaaaa;}
.post-photo .desc{font-size:14px;line-height:21px;margin-bottom:10px;}
.reprint{
    margin-top:10px;
    text-align:left;
    font-size:12px
}
.post-video .reprint,.post-music .reprint{
    padding-top:10px
}
.post-topic{padding-left:25px;margin-top:30px; height:40px; overflow:hidden;}
.havetopics { background:url('http://a.xnimg.cn/smallsite/images/theme/adaptive/meta-sprite-new.gif') no-repeat 0 -170px; width:690px;}
.post-topic ul li{float:left;margin-right:20px;}
.post-topic ul li a{float:left;display:block;height:20px;font-size:12px;white-space: nowrap;}
.post-topic ul li a:hover{
    color:#333333;
    text-decoration:none
}
.post-action{margin-top:20px;}
.post-action ul li{float:left;font-size:12px;}
.post-panel {}
.post-action ul li a{
    display:block;
    float:left;
    padding-left:20px;
    font-size:12px;
    padding-right:20px;
    height:18px;
    line-height:18px;
    overflow:hidden;
    color:#8e8e8e;
    text-decoration:none;
}
.post-action ul li a:hover{
    color:#01a8ac;
     text-decoration:none!important;    
}
.time-meta{ padding-left:20px;padding-right:17px;background:url('http://a.xnimg.cn/smallsite/images/theme/adaptive/meta-sprite-new.png') no-repeat 0 3px; zoom:1; float:left;}
.reply  ,.enjoy  ,.enjoyed  ,.share  ,.delete  { padding-right:8px;vertical-align:middle;background:url('http://a.xnimg.cn/smallsite/images/theme/adaptive/meta-sprite-new.png') no-repeat -999px 0;}
.reply b,.enjoy b,.enjoyed b,.share b{padding-left:8px;font-weight:normal;}
.reply:hover,.enjoy:hover,.enjoyed:hover,.share:hover,.delete:hover{text-decoration:none;}
.reply  {background-position:0 -40px;}
.enjoy  {background-position:0 -19px;}
.enjoyed  {background-position:0 -83px;}
.share  {background-position:0 -63px;}
.delete  {background-position:0 -196px;}
#pagerbar{
    position: relative;
    text-align:center;
    height:26px;
    font-size:26px;
    line-height:26px;
    font-weight:bold;
    _margin-top:50px
}
#pagerbar .pages{
    display:block;
    position:relative;
    width:100%;
    height:26px;
    overflow: hidden;
    top:110px;
    _height:auto;
    _overflow:visible;
    _position:static;
    _zoom:1;
}
#pagerbar li{
    display:block;
    position:absolute;
    margin-right:-3px
}
#pagerbar li.prev a,#pagerbar li.next a{
    display:block;
    width:190px;
    height:26px;
    color:#939393;
    text-decoration:none;
    background:url('http://a.xnimg.cn/smallsite/images/theme/adaptive/arrow.png') no-repeat -999px 0;
    -moz-transition:none;
    -webkit-transition:none;
    transition:none
}
#pagerbar li.prev a{
    background-position:25px 1px
}
#pagerbar li.prev a:hover{
    color:#fff;
    background-position:25px -80px;
}
#pagerbar li.prev {
    left:0px;
    zoom:1
}
#pagerbar li.next a{
    background-position:150px -40px;
}
#pagerbar li.next a:hover{
    color:#fff;
    background-position:150px -121px
}
#pagerbar li.next{
    right:0px;
}
#pagerbar .current{
    color:#939393;
    top:2px;
    left:143px;
    width:405px;
}
#container footer  img { width: 50px; height:50px; border:1px solid #8e8e8e;margin:0 2px 2px 0;}
#container footer li { float:left;}
#container footer h4 { font-size:16px; margin:10px 0;text-align:left;color:#c0c0c0}
.post-reply{margin-top:40px;text-align:left;}
.add-reply textarea{
    float:left;
    background-color: #FFFFFF;
    border: 1px solid #E4E4E4;
    height: 69px;
    margin: 0;
    padding: 2px;
    vertical-align: bottom;
    width: 650px;
    font-family: 'Microsoft Yahei',Tahoma,Arial,Helvetica,Simsun,STHeiti;
}
.add-reply textarea:hover{
    border: 1px solid #b8b8b8;
}
.release {
    margin-top: 7px;
}
.add-reply {
    padding-bottom: 30px;
}
.post-reply .input-button{
    background: url("http://a.xnimg.cn/smallsite/images/theme/full-darkblue/reply.png") repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    float: right;
    height: 75px;
    margin: 0;
    outline: 0 none;
    padding: 0;
    text-indent: -9999px;
    width: 75px;
}
.post-reply .input-button:hover{
    background-position: -75px 0;
}
.post-reply .input-button:active{
    background-position: -150px 0;
}
.reply-list li{position:relative; *zoom:1; margin-bottom: 10px; padding: 10px 0;background-color:#e2e2e2;}
.reply-list .head img{float:left;display:block;border:1px solid #ffffff; margin-top: 3px; _margin-top:2px;}
.reply-list .reply-content{float:left; font-size:12px; width:610px;_zoom:1;_padding-left:0;_display:inline;*zoom:1;*padding-left:0;*display:inline;}
.reply-list .reply-content a{display:inline-block;zoom:1;*display:inline; color:#8e8e8e;}
.reply-list .reply-content a:hover{color:#333333;}
.reply-list .reply-time{position:absolute;right:3px;top:10px;font-size:12px;}

.reply-list .delete,.reply-panel .shield, .reply-panel .reply-report {float:left; margin:0 0 0 4px; display:none;width:13px;height:13px;text-indent:-9999px;overflow:hidden; outline:none;background-image:url('http://a.xnimg.cn/smallsite/images/home-new/reply-icon.png'); background-repeat:no-repeat;}
.reply-list .reply-list-btn {top:13px; right:3px; }
.reply-list .to-share {display:none; position:absolute; right:3px; top:29px;}
.reply-list .to-share a {color:#8e8e8e;}
.reply-list .to-share a:hover {color:#333;}

.post-video .play-botton {
    background: url("http://s.xnimg.cn/smallsite/images/video-player.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    position: absolute;
    top: 50%;
    width: 30px;
}
.post-video .video-play {display:block;cursor:pointer;position:relative;margin:0px;_width:100%;_zoom:1;_overflow:hidden;_text-align:center}
.video-screen{_position:relative;_display:block;_width:100%;_overflow:hidden;zoom:1}
.post-audio .audio-play {
    background: url("http://s.xnimg.cn/smallsite/images/audio-player.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 28px;
    width: 102px;
	margin:0 auto;
}
.time-meta{font-family:Georgia}
.time-meta i { display:none}
.time-meta i.time-s-1-1,.time-meta i.time-s-1-2 { display:inline;}
.post-link .link { margin-bottom:10px;}
.post-photo .post-content h4 { width:690px; margin:0 auto; margin-bottom:10px;}
.audio-desc { margin-bottom:8px;}

/*video flash*/
.post .video-holder embed{
    display:block;
    width:740px;
    margin:0px auto;
    background-color: #fff;
    padding:10px;
    -webkit-box-shadow:0px 3px 3px #aaa;
    -moz-box-shadow:0px 3px 3px #aaa;
    box-shadow:0px 3px 3px #aaa;
}
.post .video-holder object{display:block;width:740px;margin:0px auto}

.edit,.placetop{background:url('http://a.xnimg.cn/smallsite/images/theme/adaptive/fun.png') no-repeat;padding: 0 20px 0 28px!important;}
.edit{background-position:0 -42px}
.placetop{background-position:0 -2px}
#main .post-action .time-meta{
    float:left;
    font-size:12px;
    color:#8e8e8e;
    height:18px;
    line-height:18px;
    overflow: hidden;
}
#siteTopic-followsCounter,#footer-sitedesc,#main .post-panel .time-meta,#header-followsCounter,#header-followers,#header-master{display:none}
.help-enter{_right:15px;}
/*thunder tab-btn*/
.tab-btn {float:left; margin-left:120px; display:inline;}
.tab-btn a {float:left; display:block; margin-right:15px;}
.tab-btn .thunder-link {margin-top:11px; width:99px; background:url(http://a.xnimg.cn/smallsite/images/theme/thunder/thunder-link.png) 0 0 no-repeat; text-indent:-9999px;}
.tab-btn .thunder-link:hover {background-color:none;}
.tab-btn .new, .tab-btn .sync {padding:0 10px; margin-top:5px; height:30px; line-height:30px; text-decoration:none; color:#bcbcbc;}
.tab-btn .new:hover, .tab-btn .sync:hover {background-color:#595959; color:#fff; border:none;}
.tab-btn .select {border-bottom:3px solid #00a9ae;}
header #master, header #followers {display:none;}
/*RSS与归档样式*/
.rss a,.archive a{ display:none; font-size: 14px; padding-left:6px; font-weight:700;color:rgba(132,132,132,0.5); color:#646464\0/; *color:#646464; _color:#646464; -moz-transition:all 0s ease-out 0s; -webkit-transition:all 0s ease-out 0s; transition:all 0s ease-out 0s;}
header .rss a{display: block; position:absolute; right:50%; margin-right:-75px; width: 75px; background: url("http://a.xnimg.cn/smallsite/images/theme/adaptive/rss-new.png") no-repeat scroll -84px 0px transparent; _background: url("http://a.xnimg.cn/smallsite/images/theme/adaptive/rss-ie6.png") no-repeat scroll -80px 3px transparent;  line-height: 20px;_line-height:18px;height:20px;bottom:16px; text-align: center; text-transform: uppercase;text-indent: -9999px;_text-indent:0px;}
header .rss a:hover{background-position:-264px 0px;_background-position:-80px 4px;}
header .rss:hover a, header .archive:hover a{color:#fff;}
header .archive a{display: block; position:absolute; left:50%; margin-left:-75px; background:url("http://a.xnimg.cn/smallsite/images/theme/adaptive/rss-new.png") 0px 0px no-repeat; _background: url("http://a.xnimg.cn/smallsite/images/theme/adaptive/rss-ie6.png") no-repeat scroll 6px 3px transparent; float: left; width: 75px; text-align: center; line-height: 20px;height:20px;bottom:16px;text-indent: -9999px;_text-indent:0px;}
header .archive a:hover{background-position:-180px 0px;_background-position:6px 4px;}
#container header .rss a, #container header .archive a{ display:inline; }
#container header .rss a:hover{  text-decoration:none;}
#container header .archive a:hover{  text-decoration:none;}
/*#siteTopic .rss a{}
#siteTopic .archive a{}
footer .rss a{}
footer .archive a{}*/
/*hot-count*/
.hot-count {float:left; height:18px; line-height:18px; _margin-top:-1px;}
.hot-count h5 {display:none;}
.hot-count a {padding-left:20px; margin-right:20px; font-size:12px; color:#8E8E8E; text-decoration:none; background:url(http://a.xnimg.cn/smallsite/images/theme/adaptive/hot-icon.png) 0 0 no-repeat;}
.hot-count a:hover {color:#01a8ac; text-decoration:none; }
.release-name a, .release .btn{color: #8E8E8E!important;}
.release-name a:hover, .release .btn:hover{color: #333!important;}
.release-pic img{border: 1px solid #FFFFFF;}
.release-name, .release-time, .release-name a, .release-time, .release-time span, .btn {height: 22px; line-height: 22px;}
.release-time span{_line-height:18px!important;}
.release-pic{padding-right: 7px!important;}
.hot-count a:hover {color:#01a8ac; text-decoration:none; }
header #master, header #followers {display:none;}
.reply-list .reply-list-btn .delete{padding-right: 0;}
.post .ccagreement {
    margin: 10px auto 0;
    text-align: left;
    width: 740px;
}