/*----This is stylesheet for blackman by L-moon----*/
body{background:#d2d7db url(http://a.xnimg.cn/smallsite/images/theme/blackman/bkg2.png) repeat fixed 0 0;font:normal 14px "Microsoft Yahei",Arial;color:#ffffff; word-wrap:break-word;}
a:link,a:visited{text-decoration:none;color:#818181;}
#container{width:852px;margin:0 auto;padding:20px;position:relative;background:url("http://a.xnimg.cn/smallsite/images/theme/blackman/background3.png") repeat left top;_background:#292929;}
#container header{padding:40px 0 50px;text-align:center; position:relative; width:852px;}
#title { color:#fff; font-weight:900;}
#title:hover {text-decoration:none;color:#00b9bd;}
.sitehead img{margin:0 auto 30px auto;display: block;width:215px;height:215px;}
.sitehead{border-radius:120px;border:13px solid #1e1e1e;overflow: hidden;width:215px;height:215px;display: block;margin: 0 auto 30px;}
/*music*/
.post-music .album-cover {margin-right:10px}
.post-music .album-cover img{display:block;width:120px;height:120px}
.post-music .post-panel{}
.post-music h3{font-size: 24px;font-weight:normal;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);margin-bottom:10px}
.post-music p{font-size:14px;text-align:left;padding:5px 0px}
.post-music .textarea-box{width:340px;float:right;overflow-x:hidden}

/*sync_area*/
#container .add-reply .sync_area input{vertical-align:middle;width:auto;height:auto;margin-bottom:5px;*margin-top:0px;margin-bottom:2px\9;background:none;border:none;outline:none}
#container .add-reply .sync_area label{cursor:pointer;*zoom:1;*padding-top:3px}

#title{font-size:42px;line-height:30px;}
#sitedesc{display:block;line-height:22px;width:600px; margin:25px auto 0;}
#siteTopic{_display:inline;float:right;width:185px;padding:24px 10px 88px;margin-right:-3px;background:rgba(0,0,0,0.2);filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1,startColorStr=#30000000,endColorStr=#30000000); position:relative;_background:#1e1e21;}
#siteTopic-followsCounter{font-weight:normal;text-align:center; font-size:14px; position:absolute;left:10px;top:10px;width:185px; overflow:hidden;}
#siteTopic-followsCounter a ,#siteTopic-followsCounter a:hover{text-decoration:none ;}
#siteTopic-followsCounter em{font-size:32px;font-style:normal;}
.topics{text-align:center; margin-top:40px;*margin-top:70px;}
.topics li{ zoom:1;}
.topics li:hover{background-color:rgba(0,0,0,0.2);filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1,startColorStr=#30000000,endColorStr=#30000000);-moz-transition: all 400ms ease-out 0s; -webkit-transition: all 400ms ease-out 0s; transition: all 400ms ease-out 0s;}
.topics li a{white-space: nowrap; line-height:32px;-moz-transition: all 400ms ease-out 0s; -webkit-transition: all 400ms ease-out 0s; transition: all 400ms ease-out 0s;}
.topics li a.s{font-weight:bold;background-color:rgba(0,0,0,0.3);display: block;width:185px;height:32px;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1,startColorStr=#45000000,endColorStr=#45000000);_background:#161618;}
#main{float:left;width:628px;}
.post{margin-bottom:40px;float:right;width:510px;_overflow:hidden;padding:20px 20px 0 20px; background:rgba(0,0,0,0.2);filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1,startColorStr=#30000000,endColorStr=#30000000);_background:#1e1e21;}
.post .post-panel{position:relative;*zoom:1;margin:0 auto 10px;width:525px;} 
.post-text .post-content,.post h4,.post-link .link a{font-size:24px;font-weight:normal;line-height:40px;normal;color:#FFFFFF;}
.post-text  .post-content img{vertical-align:text-top;margin-top:5px;}
.post h4{padding-bottom:10px;}
.post h4,.post-text .post-content,.post-link .link{text-shadow:1px 1px 1px rgba(0,0,0,0.5);-webkit-text-shadow:1px 1px 1px rgba(0,0,0,0.5);-moz-text-shadow:1px 1px 1px rgba(0,0,0,0.5)}
.reprint{font-size:12px;margin-top:10px;}
.reprint a{color:#ffffff;}
.post-topic li{float:left;font-size:12px;padding-right:10px; white-space: nowrap;}
.post-topic { padding:0px 0 10px 2px;line-height:20px;}
.post-action a{display:inline-block;zoom:1;*display:inline;height:14px;line-height:14px;padding:0 10px 0 30px;font-size:12px;}
.post-action{margin-left:-8px;margin-bottom:20px;}
.reply,.enjoy,.enjoyed,.share,.post-action .delete,.post-action .edit,.post-action .placetop{background:url(http://a.xnimg.cn/smallsite/images/theme/blackman/icon-new.png) no-repeat;_background:url(http://a.xnimg.cn/smallsite/images/theme/blackman/icon-ie.png) no-repeat;}
.reply{background-position:12px -211px;}
.reply:hover{background-position:12px -496px;}
.edit{background-position:12px -172px!important}
.edit:hover{background-position:12px -460px!important}
.enjoy{background-position:12px -73px;}
.enjoy:hover{background-position:12px -331px;}
.enjoyed{background-position:12px -537px;}
.share{background-position:12px -40px;}
.share:hover{background-position:12px -290px;}
.post-action .hot-count{float: left;}
.post-action .hot-count h5{display: none;}
.post-action .hot-count a{ background: url("http://a.xnimg.cn/smallsite/images/theme/blackman/icon-new.png") no-repeat scroll 12px -9px transparent;_background: url("http://a.xnimg.cn/smallsite/images/theme/blackman/icon-ie.png") no-repeat scroll 12px -9px transparent;}
.post-action .hot-count a:hover{background-position:12px -250px;}
.post-action .placetop{background-position:12px -140px;}
.post-action .placetop:hover{background-position:12px -416px;}
.post-action .delete{background-position:12px -106px;}
.post-action .delete:hover{background-position:12px -375px;}
.post-action li a:hover{-moz-transition: color 400ms ease-out 0s; -webkit-transition: color 400ms ease-out 0s; transition: color 400ms ease-out 0s;}
a,a:link,a:visited{-moz-transition: color 400ms ease-out 0s; -webkit-transition: color 400ms ease-out 0s; transition: color 400ms ease-out 0s;}
a:hover{-moz-transition: color 400ms ease-out 0s; -webkit-transition: color 400ms ease-out 0s; transition: color 400ms ease-out 0s;}
.post-photo .photo img,.post-article .post-content img,.post-video img{display:block;max-width:495px;_width:495px;border:solid 5px #fff;}
.post-photo .photo,.post-article .post-content {width:505px;overflow:hidden;padding:0px; background-color:transparent;}
.post-content{width:505px;}
.post-article .post-content img{margin-top:10px;}
.post-photo .desc{line-height:24px;margin-top:10px;}
.post-link .thumbnail{margin-top:10px;}
.post-link .thumbnail img{display:block;float:left;width:200px;overflow:hidden;border:solid 5px #d2d7db;}
.post-link .thumbnail p{margin-left:220px;font-size:14px;}
.post-video embed{width:505px;}
.post-video object{width:505px;}
#pagerbar{width:550px;margin:0px 0 15px 75px;text-align:center;}
.pages li{display:inline-block;zoom:1;*display:inline;}
.pages li.current { font-size:24px;}
.pages .prev{padding-right:45px;}
.pages .next{padding-left:45px;}
#main-wrap footer h4{font-size:16px;margin-bottom:7px;}
#main-wrap footer img { width:50px; height:50px; float:left;}
#master,#followers{width:510px;padding:15px 10px 20px 22px;margin:20px 0 0 80px;background:rgba(0,0,0,0.2);filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1,startColorStr=#30000000,endColorStr=#30000000);_background:#1e1e21;}
#main-wrap footer li{float:left;margin:4px 4px 0 0;}
#main-wrap footer li img{display:block;border:1px solid #ffffff;}
.add-reply textarea{border: 1px solid #8D9297; height: 69px; margin: 0; padding: 2px; vertical-align: top; width: 420px;*margin-top: -1px; font-family: 'Microsoft Yahei',Tahoma,Arial,Helvetica,Simsun,STHeiti;font-size: 12px;}
.add-reply textarea:hover{border: 1px solid #000;}
.add-reply .input-button{background:url("http://a.xnimg.cn/smallsite/images/theme/blackman/reply.png") repeat scroll 0 0 transparent; border: 0 none;}
.reply-panel{width:510px; margin-bottom:20px; border-top: 1px solid #8E9295; font-size: 12px;}
.reply-list li{position: relative; margin: 10px 0 0; padding-bottom: 10px; border-bottom: 1px solid #8E9295;}
.reply-list .head img{float:left;display:block;width:30px;height:30px; margin-top: 3px; padding:1px;border:1px solid #ffffff;}
.release-pic img{padding:1px; border:1px solid #ffffff;margin-top: 3px;}
.reply-list .reply-content{float: left;width: 370px;}
.reply-list .reply-time{position:absolute;right:0px;top:0px;font-size:12px;}
.reply-list .delete,.reply-panel .shield, .reply-panel .reply-report {float:left; margin:0 0 0 4px; display:none;width:13px;height:13px;text-indent:-9999px;overflow:hidden; outline:none;background-image:url('http://a.xnimg.cn/smallsite/images/home-new/reply-icon.png'); background-repeat:no-repeat;}
.reply-list .reply-list-btn {top:3px; right:0px; }
.reply-list .to-share {display:none; position:absolute; right:0px; top:19px;}

.post-video .play-botton {background: url("http://s.xnimg.cn/smallsite/images/video-player.png") no-repeat scroll 0 0 transparent; display: block; height: 30px; left: 50%; margin: -15px 0 0 -15px; position: absolute; top: 50%; width: 30px;}
.post-video .video-play {float:left;display:block;cursor:pointer;position:relative;margin:0px;_zoom:1;_overflow:hidden}
.video-screen{zoom:1;margin-bottom:10px;}
.post-audio .audio-play {background: url("http://s.xnimg.cn/smallsite/images/audio-player.png") no-repeat scroll 0 0 transparent;  cursor: pointer;
    display: block;
    height: 28px;
    width: 102px;	 
}
#siteTopic h4{ display:none;}
.time-meta i ,.time-meta .year{display:none;} 
.time-meta .time-s-2-2{ display:inline; font-style:normal}
.time-meta{background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2); display: block; font-size: 16px; height: 65px; left: -108px; position: absolute; text-align: right; top: -20px; width:50px; word-spacing:-5px;padding:5px 12px 0 10px;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1,startColorStr=#30000000,endColorStr=#30000000);_background:#1e1e21;}
.time-meta .day{display:block;font-size:40px; padding-right:1px;margin-top:-8px;}
#main-wrap footer { float:left;}

#siteTopic .sitehead,#header-followsCounter,#header-followers,#header-master,footer .sitehead,#followsCounter,#footer-sitedesc,.post-footer .time-meta{display:none}

#siteTopic-followsCounter:hover,a:hover{color:#00b9bd;}
a:link,a:visited,#siteTopic-followsCounter{color:#818181;}
.morereply{margin-top:17px;}
.tag-selector li a, .tag-selector li a:hover,.share-to dt a, .share-to dt a:hover{color:#536981!important;}
.content span,.content p{line-height:1.5;}
/*tag排名需要为此模板单独用纯黑的背景图*/
#tagOrderTip {background: url("http://a.xnimg.cn/smallsite/images/theme/full/sprite02.png") no-repeat scroll center 19px transparent;}
#tagOrderTip s {background: url("http://a.xnimg.cn/smallsite/images/theme/full/sprite02.png") no-repeat scroll left -24px transparent;}
#tagOrderTip u {background: url("http://a.xnimg.cn/smallsite/images/theme/full/sprite02.png") no-repeat scroll right -5px transparent;}

/*RSS与归档样式*/
.rss a,.archive a{ display:none; position: absolute; bottom:0; left: 10px; height:33px; background:url(http://a.xnimg.cn/smallsite/images/theme/blackman/rss-new.png) no-repeat; _background:url(http://a.xnimg.cn/smallsite/images/theme/blackman/rss-ie6.png) no-repeat; text-indent:-9999em;width:185px;}
#siteTopic .rss a{display:block; background-position:center -21px; bottom:24px;}
#siteTopic  .archive a{ display:block; background-position:center 11px; bottom:56px;}
#siteTopic .rss a:hover{ background-position:center -87px;background-color:rgba(0,0,0,0.2);filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1,startColorStr=#30000000,endColorStr=#30000000);-moz-transition: background-color 400ms ease-out 0s; -webkit-transition: background-color 400ms ease-out 0s; transition: background-color 400ms ease-out 0s;_filter:none;}
#siteTopic .archive a:hover{ background-position:center -53px; _background-position:center -51px;background-color:rgba(0,0,0,0.2);filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1,startColorStr=#30000000,endColorStr=#30000000);_filter:none;-moz-transition: background-color 400ms ease-out 0s; -webkit-transition: background-color 400ms ease-out 0s; transition: background-color 400ms ease-out 0s;}
a:hover,#siteTopic-followsCounter:hover{color:#fff;}
/*#siteTopic .rss a{}
#siteTopic .archive a{}
footer .rss a{}
footer .archive a{}*/
.release-pic{margin-right: 4px;}
.release-name, .release-time, .release-name a, .release-time, .release-time span, .btn{height: 24px!important; line-height: 30px!important;}
#container .add-reply .sync_area{margin-top:10px; _right:4px;}
header #master, header #followers {display:none;}
.release-time span{_line-height:26px!important;}
.release{margin-top: 7px;}
.add-reply{padding-bottom: 37px;}
.post .post-panel .reprint .f-gray, .post .post-panel .nomargin{color:#fff!important;}