body{font-size:12px;color:#333333;word-wrap:break-word;background:#dcd6c5; word-wrap:break-word}
a:link, a:visited{color:#ff7c7c; text-decoration:none}
a:hover{text-decoration:none; color:#ff1e53;}
/* will change */
#footer{clear:both;height:80px}
/*music*/
.post-music .album-cover {margin-right:10px}
.post-music .album-cover img{display:block;width:120px;height:120px}
.post-music h3{ font-size:30px;font-weight:normal;line-height:30px; margin-bottom:15px;}
.post-music p{font-size:14px;text-align:left;padding:5px 0px}
.post-music .textarea-box{width:337px;float:right;overflow-x:hidden}
#sitesummary .title{margin-top:30px}
#title{font-size:50px;color:#FFFFFF;text-decoration:none;}
#title:hover {color:#ff1e53;}
#sitedesc{display:none;margin-top:10px;color:#666666;font-size:14px}
#container{ width:836px;margin:30px auto 0}
#aside{width:200px;float:left}
#main{position:absolute;width:560px;top:0px;left:276px;_overflow:hidden}
#main-wrap { position:relative; margin-top:66px;_width:800px;}
#main-wrap footer{width:220px;margin-bottom:10px}
#master h4 { display:none}
.figure{width:160px;overflow:hidden;position:relative}
.sitehead{display:block; padding:15px 15px 0 15px; background-color:#fff;box-shadow:0 2px 2px rgba(0,0,0,0.3);}
.sitehead img{width:190px}
#master{width:160px;margin:0px; position:relative}
#master ul {width:190px; overflow:hidden; position:absolute;top:-35px;*top:-31px;left:15px}
#master li{float:left}
#master .ownerhead{float:left;width:30px;height:30px;overflow:hidden;border-top:1px solid #FFFFFF;border-right:1px solid #FFFFFF}
#master .ownerhead img{width:30px;height:30px;display:block}
#followsCounter{display:block; padding:0 15px; background-color:#fff; font-size:14px;box-shadow:0 2px 2px rgba(0,0,0,0.3);}
#followsCounter em {font-size: 20px;font-style:normal}
span#followsCounter a:link,span#followsCounter a:visited{color:#333;text-decoration:none;}
span#followsCounter a:hover {color:#FF1E53;text-decoration:none;}
.post-content .title{font-size:30px; line-height:38px; margin-bottom:15px; font-weight:normal;}
#followers li{float:left;width:30px;height:30px;padding:1px}
#followers li img{width:30px;height:30px}
#followers .list{margin-top:5px}
#followers { padding:15px; background-color:#fff; box-shadow:0 3px 2px rgba(0, 0, 0, 0.3);}
#followers h4{font-size:14px}
#followers .list{margin-top:15px}
#followers .list li{float:left;width:29px;height:30px;padding:1px;}
#followers .list li img{width:30px;height:30px}
#siteTopic {position:absolute; top:-68px; left:0; height:66px; line-height:66px; float:left; width:836px;}
#siteTopic h4{font-size:14px; float:left; width:70px; font-weight:normal; color:#737373;}
#siteTopic .topics{width:766px; margin-top:23px; height:20px; line-height:20px; float:left; overflow:hidden;}
#siteTopic .topics li{float:left;margin:0 10px 10px 0;white-space:nowrap;height:16px;_margin:0 5px 10px 0}
#siteTopic .topics li a{display:block; font-size:14px; float:left; color:#737373;}
#siteTopic .topics li a:hover {text-decoration:none; color:#ff1e53;}
#siteTopic .topics li .s {font-weight:bold;}
#tagOrderTip{position:absolute;left:50%;top:-25px;margin:0 -23px;opacity:0.7;filter:Alpha(opacity=70);height:19px;padding-bottom:5px;background:url("http://a.xnimg.cn/smallsite/images/theme/full/sprite.png") no-repeat scroll center 19px transparent}
#tagOrderTip s{float:left;display:block;width:2px;height:19px;background:url("http://a.xnimg.cn/smallsite/images/theme/full/sprite.png") no-repeat scroll left -24px transparent}
#tagOrderTip u{float:left;display:block;width:2px;height:19px;background:url("http://a.xnimg.cn/smallsite/images/theme/full/sprite.png") no-repeat scroll right -5px transparent}
#tagOrderTip q{text-decoration:none;float:left;height:13px;line-height:13px;padding:2px 2px 4px;background:black}
#tagOrderTip q b{font-size:12px;font-weight:normal;color:white;white-space:nowrap}
#container header{ position:relative}
#container header h1 {height:56px; line-height:56px; *margin-top:25px;}
.post{margin-bottom:50px; background:#FFFFFF; -webkit-box-shadow:0 3px 2px rgba(0, 0, 0, 0.3); -moz-box-shadow:0 3px 2px rgba(0, 0, 0, 0.3); box-shadow:0 3px 2px rgba(0, 0, 0, 0.3);}
.post h4{margin-bottom:15px; color:#737373; font-size:28px; line-height:1.5; font-weight:normal;}
.post .reprint{font-size:12px;color:#888;margin-top:10px} 
.post .reprint .name-card {color:#737373;}
.post .reprint .name-card:hover {color:#ff1e53; text-decoration:none;}
.post .post-panel{padding:30px;}
.post-footer{padding:15px 30px 30px 30px;}
.post-meta .post-topic{overflow: hidden; margin-bottom:8px; padding:0 10px 0 0; background-color:#EBEBEB;}
.post-meta .post-topic li{ margin-left:10px; float:left; height:30px;line-height:30px; overflow:hidden;}
.post-meta .post-topic a {float:left;font-size:14px; color:#737373; word-wrap:break-word;}
.post-meta .post-topic a:hover {text-decoration:none; color:#ff1e53;}
.post-action {line-height:30px; background-color:#EBEBEB;}
.post-action li{display:block;margin-left:10px;line-height:30px;}
.post-action li a {display:inline-block; float: left;*display: inline;*zoom:1; min-width:25px; height:21px;line-height:21px; margin:5px; font-size:14px; padding-left:18px; color:#737373; background:transparent url(http://a.xnimg.cn/smallsite/images/theme/default/icon1.png) 0 0 no-repeat;}
.post-action li a.reply:hover  {background-position:-8px -266px}
.post-action li a.reply{background-position:-8px -301px}
.post-action li a.enjoy:hover {background-position:-3px -70px}
.post-action li a.enjoy span,.post-meta .post-action li a.enjoyed span,.post-meta .post-action li a.reply span,.post-meta .post-action li a.share span{background:none!important}
.post-action li a.enjoyed {background-position:-2px -139px}
.post-action li a.enjoy {background-position:-2px -104px}
.post-action li a.share:hover {background-position:-1px -178px; }
.post-action li a.share {background-position:-1px -223px; }
.post-action li a.edit {margin-right: 8px;padding-left:0}
.post-action li a:hover {text-decoration:none; color:#ff1e53;}
.post-reply{margin-top:10px;border-top:1px dotted #D1D1D1}
.post-reply .reply-panel{margin-top:10px; border-top: 1px dashed #D2D2D2;}
.reply-list li{position: relative; border-bottom: 1px dashed #D2D2D2; margin-top: 10px; padding-bottom: 10px;}
.reply-list .head img{float:left;display:block;margin-top: 3px;}
.reply-list .reply-content{float: left;width: 370px;}
.reply-list .reply-main{_width:430px;_overflow:hidden;_float:left}
.reply-list .reply-content .replyer{padding-left:0}
.reply-list .delete,.reply-panel .shield, .reply-panel .reply-report {float:left; margin:0 0 0 4px; display:none;width:13px;height:13px;text-indent:-9999px;overflow:hidden; outline:none;background-image:url('http://a.xnimg.cn/smallsite/images/home-new/reply-icon.png'); background-repeat:no-repeat;}
.reply-list .reply-list-btn {top:3px; right:0px; }
.reply-list .to-share {display:none; position:absolute; right:0px; top:19px;}
.post-reply .reply-list .reply-footer{float:right}
.post-reply .reply-list .reply-footer .reply-time{color:#888888}
.post-reply .reply-list .reply-footer .delete{font-size:15px}
.post-reply .reply-form{margin-top:10px; position:relative;}
.post-reply .reply-input{border: 1px solid #e4e4e4; float: left; font-size: 12px;overflow: auto; padding: 2px; width: 410px !important;font-family:'Microsoft Yahei',Tahoma,Arial,Helvetica,Simsun,STHeiti;}
.post-reply .reply-input:hover{border: 1px solid #939393;}
.post-reply .input-button{background: url("http://s.xnimg.cn/smallsite/images/theme/default/reply.png") repeat scroll 0 0 transparent; border: medium none;}
.post-reply .input-button:hover{background-position: -75px 0px;}
.post-reply .input-button:active{background-position: -150px 0px;}
.post-text .post-content{font-size:30px;font-weight: bold;line-height: 30px; color:#737373; font-weight:normal;}
.post-article .post-content{_overflow:hidden;_width:510px}
.post-article img, .post-video img, .post-photo .photo img{max-width:500px}
.post-article .content{font-size:14px;line-height:22px; overflow:hidden;}
.post-photo .photo{text-align:left;font-size:0;_width:510px;_overflow:hidden;margin-bottom:10px}
.post-photo .desc{margin-bottom:10px;text-align:left;font-size:14px}
.post-link .link{font-size:16px;font-weight: bold;line-height: 22px}
.post-video .video-desc{font-size:14px;margin-top:10px; line-height:30px;}
.post-video .video-play {display:block;cursor:pointer;float:left;position:relative;margin:0px;_width:100%;_zoom:1;_overflow:hidden;_text-align:center;max-width:100%}
.video-screen{width:500px; overflow:hidden; _position:relative;_display:block;_width:100%;_overflow:hidden;zoom:1}
.post-video .video-holder .toolbar{text-align:right;margin-top:5px}
.post-video .video-holder embed {width:500px}
.post-video .video-holder .toolbar .close{cursor:pointer}
.post-video .play-botton{display:block;width:30px;height:30px;position:absolute;top:50%;left:50%;margin:-15px 0 0 -15px;background:transparent url(http://s.xnimg.cn/smallsite/images/video-player.png) 0 0 no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://s.xnimg.cn/smallsite/images/video-player.png', sizingMethod='image')}
.post-link .thumbnail{margin-top:10px}
.post-link .thumbnail img{display:block;float:left;width:200px;overflow:hidden;padding:3px;border:1px solid #aeaeae;background-color:#ffffff}
.post-link .thumbnail p{margin-left:218px;font-size:14px}
.post-audio .audio-play{display:block;width:102px;height:28px;cursor:pointer;background:transparent url(http://s.xnimg.cn/smallsite/images/audio-player.png) 0 0 no-repeat}
.post-audio .audio-desc{font-size:14px;margin-top:10px}
#pagerbar{height:65px;}
#pagerbar .pages{width:348px; height:82px; margin:0 auto 50px; text-align:center;font-size:14px;padding-top:18px;}
#pagerbar .pages li{display:block; width:82px; height:82px; float:left; line-height:82px;}
#pagerbar .pages li.current {margin:0 50px;font-family:'Lucida Handwriting';font-size:25px}
#pagerbar .pages li.current a{color:#888888}
#pagerbar .pages li.current a:hover{text-decoration:none}
#pagerbar .prev a, #pagerbar .next a {width:82px; height:82px; display:block; text-indent:-99999px; background:url(http://a.xnimg.cn/smallsite/images/theme/default/deufault-btn.png) no-repeat; _background:url(http://a.xnimg.cn/smallsite/images/theme/default/deufault-btn2.png) no-repeat;}
#pagerbar .prev a {background-position:-9px -110px;}
#pagerbar .next a {background-position:-137px -110px;}
#pagerbar .prev a:hover {background-position:-9px -2px;}
#pagerbar .next a:hover {background-position:-137px -2px;}
/*sync_area*/
.sync_area{top: 80px;}
.sync_area input{vertical-align:bottom;margin-bottom:2px; margin-bottom:-1px\9;_margin-bottom:1px;}
.sync_area label{cursor:pointer;*zoom:1;*padding-top:3px;}
.reply-panel .loading {display:none}
.reply-panel .morereply {display:none}
.time-meta { display:none}
.reply-list .reply-time { display:block; position:absolute; top:0px;right:0px; color:#737373;}
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 width: 99%}
.post-action .hot-count{float: left; margin-left:5px; line-height:21px; height:21px;margin:5px;}
.post-action .hot-count h5{display: none; }
.post-action .hot-count a{padding-left:20px; font-size:14px; background:url(http://s.xnimg.cn/smallsite/images/theme/default/icon1.png) no-repeat scroll 2px -32px;}
.post-action .hot-count a:hover{background-position:2px 3px;}
.post-action li .delete,.post-action li .edit{background:url(http://s.xnimg.cn/smallsite/images/theme/default/icon1.png) no-repeat;padding-left:20px!important}
.post-action li .delete:hover{background-position:-2px -422px; }
.post-action li .delete{background-position:-2px -457px;}
.post-action li .edit:hover{background-position:-6px -341px;}
.post-action li .edit{background-position:-6px -376px;}
.post-action li .placetop{background:url(http://s.xnimg.cn/smallsite/images/theme/default/icon1.png) -8px -528px no-repeat}
.post-action li .placetop:hover{background-position:-8px -493px;}
.post-article .content p {line-height:30px; max-width:510px!important}	

#header-followsCounter,#header-followers,#header-master,#siteTopic .sitehead,header .sitehead,#siteTopic-followsCounter,#footer-sitedesc{display:none}
#footer-sitedesc {display:block; margin-top:15px; line-height:28px; font-size:14px; color:#fff;} 
#main-wrap .reprint  a {color:#737373;}
#main-wrap .reprint  a:hover {color:#ff1e53; text-decoration:none;}
#mian .content p, .post-music p, .post-video .video-desc, .post-article .content p {color: #737373;}
/*RSS与归档样式*/
footer .rss,footer .archive{ position:relative; float:left;}
.rss a,.archive a{ display:none; position:absolute; top:5px; width:21px; height:21px; background:url(http://a.xnimg.cn/smallsite/images/theme/default/rss-new.png) no-repeat; text-indent:-9999em;}
footer .rss a{ display:block; left:187px; background-position:5px -18px;}
footer .archive a{ display:block; left:165px; background-position:5px 5px;}
footer .rss a:hover{ background-position:5px -72px;}
footer .archive a:hover{ background-position:5px -46px; }
#followsCounter a{_padding-top:5px;}
a:hover, span#followsCounter a:hover, .post-meta .post-topic a:hover, .post-action li a:hover,  .post .reprint .name-card:hover,  .reprint nomargin a:hover, #siteTopic .topics li a:hover, #main-wrap .reprint a:hover {color:#8f8f8f;}/*#siteTopic .rss a{}
#siteTopic .archive a{}
header .rss a{}
header .archive a{}*/
.add-reply {padding-bottom: 20px;}
header #master, header #followers {display:none;}