/*----This is stylesheet for full column Blue theme by L-moon----*/
body{font-family:'Microsoft Yahei', Arial;background:#000 url("http://a.xnimg.cn/smallsite/images/theme/full-blue/bg.jpg") fixed 50% 0; word-wrap:break-word;}
a{text-decoration:none}

/*sync_area*/
#container .add-reply .sync_area{
    top:97px;
    *top:92px;
    _top:91px;
    _right:3px;
}
#container .add-reply .sync_area input{
	vertical-align:middle;
	width:auto;
	height:auto;
	margin-bottom:5px;
	margin-top: 3px\0/;
	*margin-top: 5px;
	background:none;
	border:none;
	outline:none
}
#container .add-reply .sync_area label{
	cursor:pointer;
	*zoom:1;
	*padding-top:3px;
	color:#666;
}
#container{
	position:relative;
	width:915px;
	margin:52px auto 0 auto;
	_position:inherit;
}
#container header{
	position: relative;
	width:670px;
	margin-left:104px;
}
header .sitehead {
	display:none;
}
header h1{
	height:30px;
	line-height:30px;
	padding:30px 30px 30px;
	font-size:28px;
	color:#ffffff;
	background:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/site_name.png") no-repeat scroll 0 0 transparent;
	_background:url(http://a.xnimg.cn/smallsite/images/theme/full-blue/header-top.png) no-repeat scroll 0 0 transparent;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	border-top-right-radius:10px;
	-moz-box-shadow:0 0px 2px #323E46;
	-webkit-box-shadow:0 0px 2px #323E46;
	box-shadow:0 0px 2px #323E46;
	_padding:25px 30px 30px;
}
#title{
	height:30px;
	line-height:30px;
	font-size:35px;
	color:#ffffff;
	text-decoration:none;
	-moz-text-shadow:0px 1px 0px rgba(0, 0, 0, 0.5);
	-webkit-text-shadow:0px 1px 0px rgba(0, 0, 0, 0.5);
	text-shadow:0px 1px 0px rgba(0, 0, 0, 0.5);
	_zoom:1;
	_height:35px;
	_line-height:35px;
}
#sitedesc{
	display:block;
	line-height:21px;
	padding:20px;
	padding-top:38px;
	padding-bottom:13px;
	font-size:14px;
	color:#909397;
	background:#323e46;
	overflow:hidden;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	-moz-box-shadow:0 1px 2px #323E46;
	-webkit-box-shadow:0 1px 2px #323E46;
	box-shadow:0 1px 2px #323E46;
}
#siteTopic{
	position:fixed;
	display: block;
	width:176px;
	top:90px;
	left:50%;
	margin-left:354px;
	_position:absolute;
}
#siteTopic h4{
	display:block;
	width:156px;
	height:43px
	font-size:16px;
	background:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/sitedesc-top.png") no-repeat 0 0;
	_background:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/sitedesc-top-ie6.png") no-repeat 0 0;
	padding:10px;
	padding-bottom:6px;
	font-size:20px;
	color:#ffffff;
	font-weight:bold;
	-moz-text-shadow:0px 1px 0px rgba(0, 0, 0, 0.5);
	-webkit-text-shadow:0px 1px 0px rgba(0, 0, 0, 0.5);
	text-shadow:0px 1px 0px rgba(0, 0, 0, 0.5);
	_overflow:hidden;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	border-top-right-radius:10px;
	-moz-box-shadow:0 0px 2px #323E46;
	-webkit-box-shadow:0 0px 2px #323E46;
	box-shadow:0 0px 2px #323E46;
	_color:#323E46!important;
}
#siteTopic .topics{
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	background-color:#323e46;
	overflow: hidden;
	_margin-top:-3px;
}
#siteTopic h3{
	margin-bottom:10px
}
#header-followsCounter{
    position: absolute;	
	left: 18px;
    top: 104px;
    font-style:none;
    font-style:normal;
	color:#909397
}
#header-followsCounter a{
	color:#909397
}
#header-followsCounter em{
	font-style:normal
}
#siteTopic .topics li {
	width:176px;
	line-height:30px;
	margin-top:1px;
	overflow:hidden;
}
#siteTopic .topics li:hover{
	background-color:#323e46;
}
#siteTopic .topics a{
	height:30px;
	padding-left:10px;
	display: block;
	height:100%;
	width:100%;
	font-size:12px;
	color:#909398;
	background-color:#323e46;
	white-space: nowrap;
	_overflow:hidden;
}
#siteTopic .topics a:hover{
	color:#2684EE;
	background-color:#454f56;
}
#siteTopic .topics a.s{
	color:#fff;
	background:#242d32;
	font-weight:bold;
	font-size:14px;
}

#main{
	width:773px;
	margin-top:40px;
	padding-bottom:100px;
	_padding-bottom:0px;
}
.post{
	float:right;
	position:relative;
	*zoom:1;
	width:670px;
	padding-top:12px;
	margin-top:13px;
	background:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/feedtop_03.png") no-repeat top center;
	_background:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/post-top-ie.png") no-repeat -2px 0;
	_padding-top:11px;
}
.post  h4,.post-music h3,.post-link .link a{
	margin-bottom:10px;
	font-size:24px;
	line-height:36px;
	color:#fff;
	_color:#323E46!important;
	-moz-text-shadow:0px 1px 0px rgba(0, 0, 0, 0.5);
	-webkit-text-shadow:0px 1px 0px rgba(0, 0, 0, 0.5);
	text-shadow:0px 1px 0px rgba(0, 0, 0, 0.5);
}
.post-text .post-content{
	color:#fff;
	_color:#323E46!important;
}
.post-article .content,.post-photo .photo{
	_width:615px;
	_overflow:hidden;
}
.post-photo  h4{text-align:left;}
.post .reprint{margin-top:10px; font-size:12px; color:#333333;}
.post-photo .reprint{text-align:left;}
.post .time-meta{
	position:absolute;
	left:-90px;
	top:6px;
	display:block;
	width:70px;
	height:70px;
	padding-top:1px;
	text-align:center;
	background:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/calendar.png") no-repeat scroll 0 0 transparent
}
.post .time-meta i.time-s-0-1{
	position: absolute;
	top:0px;
	left:0px;
	display:block;
	width:100%;
	height:24px;
	background-color:#557C96;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
	border-top-right-radius:6px;
	text-indent:-9999em
}
.post .time-meta i.time-s-1-1{
	position: absolute;
	top:0px;
	left:0px;
	display:block;
	width:100%;
	height:24px;
	background:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/calendartop.png") no-repeat;
	text-indent:-9999em;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
	border-top-right-radius:6px;
	_display:none
}
.post .time-meta .month,.post .time-meta i.time-s-2-2{
	-moz-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.8);
	-webkit-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.8);
	text-shadow:0px -1px 0px rgba(0, 0, 0, 0.8);
}
.post .time-meta .month{
	position: absolute;
	top:2px;
	left:18px;
	z-index:5;
}
.post .time-meta i,.post .time-meta .year{ display:none;}
.post .time-meta .time-s-2-2{
	display:inline;
	position: absolute;
	top:2px;
	left:37px;
	font-style:normal;
}
.post .time-meta .day{
	display: block;
	position: absolute;
	width:100%;
	font-size:36px;
	font-weight:bold;
	display:block;
	color:#333;
	top:22px;
	left:0px;
	text-align:center;
}

.post .time-meta{font-size:16px;font-weight:normal; color:#fff; word-spacing:-5px;}
.post-panel{
	width:610px;
	overflow:hidden;
	padding:15px 30px 20px;
	font-size:22px;
	background:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/feedtop_05.png") repeat-y scroll right 0 transparent;
	_background-image:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/post-bg-ie.png");
}
.post-article .post-panel{_background-position:-1px 0px;}
.post-photo .post-panel{text-align:center;}
.post-photo .photo{font-size:0;width:610px;overflow:hidden;margin-bottom:10px;}
.post-photo .photo img,
.post-article .content img{max-width:610px}
.post-video img{max-width:610px}
.post-photo .desc{padding:0 30px;margin-bottom:10px;font-size:14px;white-space:normal;word-wrap:break-word;}
.post-link .thumbnail{margin-top:10px;}
.post-link .thumbnail img{display:block;float:left;width:200px;overflow:hidden;padding:3px;border:1px solid #aeaeae;background-color:#ffffff;}
.post-link .thumbnail p{margin-left:218px;font-size:14px;}
.post-video .video-play{
	position:relative;
	margin:0px auto;
	max-width:100%;
	cursor:pointer;
}
.post-video .video-play img{display:block;_display:inline}
.post-video .video-play {display:block;cursor:pointer;position:relative;margin:0px;_width:100%;_zoom:1;_overflow:hidden;_text-align:center}
.video-screen{
	_position:relative;
	_display:block;
	width:100%;
	_overflow:hidden;
	zoom:1
}
.post-video .video-screen .video-play img{
	display: block;
	margin:0px auto
}
.post-video .play-botton{background:url("http://s.xnimg.cn/tumblr/images/video-player.png") no-repeat scroll 0 0 transparent;display:block;height:30px;left:50%;margin:-15px 0 0 -15px;position:absolute;top:50%;width:30px;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src=http://s.xnimg.cn/tumblr/images/video-player.png); _background:none;}
.post-video .toolbar a.close{cursor:pointer;}
.post-video .video-desc,.post .post-audio .audio-desc{margin-top:10px;font-size:14px;font-weight:normal;}
.post-audio .audio-play{background:url("http://s.xnimg.cn/tumblr/images/audio-player.png") no-repeat scroll 0 0 transparent;cursor:pointer;display:block;height:28px;width:102px;}
.post-text .post-content{text-shadow:1px 1px 1px rgba(0,0,0,0.5);-webkit-text-shadow:1px 1px 1px rgba(0,0,0,0.5);-moz-text-shadow:1px 1px 1px rgba(0,0,0,0.5)}
.post-text .quote-left,.post-text .quote-right{display:inline-block;width:46px;height:28px;background:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/sprite01.png") no-repeat scroll -999px 0 transparent;_background-image:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/sprite-8.png");}
.post-text .quote-left{margin-right:15px;vertical-align:text-bottom;background-position:-217px -51px;_background-position:-93px -52px;}
.post-text .quote-right{margin-left:15px;vertical-align:text-bottom;background-position:-262px -51px;_background-position:-140px -52px;}
.post-article .content{
	font-size:14px;
	font-weight:normal;
}
.post .post-footer{
	padding-bottom:12px;
	background:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/sprite01.png") no-repeat scroll -9px 30px transparent;
	_background-image:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/sprite-ie01.png"); position:relative;
}
.post .post-change{
	background:none
}
.post .post-footer .post-meta{
	height:20px;
	_overflow:hidden;
	padding:10px 30px 0;
	background:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/sprite01.png") no-repeat scroll -9px -20px transparent;
	_background-image:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/sprite-ie01.png");
	_background-position:-9px -18px;
	_margin-top:-1px;
}

/*topic*/
.post-topic{
	width:375px;
	*width:365px;
	height:17px;
	_height:25px;
	overflow:hidden;
	line-height:17px;
}
.post-topic ul li{
	display: inline-block;
	*zoom:1;
	*display:inline;
	margin-right:30px;
}
.post-topic ul li a{
	_line-height:26px;
	font-size:14px;
	color:#909397;
}
.post-topic ul li a:hover{
	color:#2684ee;
}

/*.post-change*/
.post-change .post-action{
	top:11px;
}
.post .post-change .post-meta{
	height:30px;
	background:#323e46;
}
.post .post-change .post-reply{

}

.post-reply{
	position: relative;
	width:670px;
	background-color:#fff;
	background:rgba(255, 255, 255, 0.6);
	-moz-border-radius-bottomleft:9px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-left-radius:9px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:9px;
	border-bottom-right-radius:6px;
}

.post-action{padding-top:1px;height:22px;_overflow:hidden;background:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/sprite01.png") no-repeat scroll -9px -19px transparent;_background-image:url("");_background-position:-9px -18px;position:absolute; top:11px; right:15px}
.post-action ul li a{display:block;width:21px;height:21px;text-indent:-9999px;outline:out;background:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/icon.png") no-repeat; float:left; margin-right:10px;}
.post-action ul li a.delete{background-position:-5px -66px}
.post-action ul li a.delete:hover{background-position:-5px -3px}
.post-action ul li a.reply{_zoom:1;background-position:-94px -67px}
.post-action ul li a.reply:hover,.post-action ul li a.s-reply{background-position:-94px -4px}
.post-action ul li a .arrow{position:absolute;bottom:-7px;_bottom:-21px;left:3px;display:block;width:15px;height:7px;background:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/icon.png") no-repeat scroll -200px -50px transparent}
.post-action ul li a.enjoy{background-position:-125px -68px}
.post-action ul li a.enjoy:hover{background-position:-125px -5px}
.post-action ul li a.enjoyed{background-position:-125px -45px}
.post-action ul li a.share{background-position:-65px -67px}
.post-action ul li a.share:hover{background-position:-65px -4px}
.post-action ul li a.edit {background-position:-34px -67px}
.post-action ul li a.edit:hover {background-position:-34px -4px}
.post-action ul li a.placetop {background-position:-153px -67px}
.post-action ul li a.placetop:hover {background-position:-153px -4px}

/*music*/
.post-music .album-cover  {margin-right:10px}
.post-music .album-cover img{display:block;width:120px;height:120px}
.post-music .post-panel{
	width: 610px;
	padding: 5px 30px 20px;
	overflow: hidden;
	font-size: 22px;
	background: url("http://a.xnimg.cn/smallsite/images/theme/full-blue/feedtop_05.png") repeat-y scroll right 0 transparent;
	_background-image:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/post-bg-ie.png")
}
.post-music p{
	font-size:14px;
	text-align:left;
	padding:5px 0px;
	line-height:21px;
}
.post-music .textarea-box{width:435px;float:right;overflow-x:hidden}
.post-music .reprint{
	padding:0px;
}

.post-reply .add-reply{
	width:631px;
	padding-top:20px;
	margin-left:20px;
	padding-bottom:27px;
	*padding-bottom: 0; 
}
.post-reply .add-reply textarea{ 
	float:left;
	width:540px;
	height:69px;
	padding:2px;
	border: 1px solid #8C8E92;
	margin:0px;
	vertical-align:top;
	font-size:12px;
	background:#fff;
	resize:none;
	font-family:'Microsoft Yahei',Tahoma,Arial,Helvetica,Simsun,STHeiti;
}
.post-reply .add-reply textarea:hover{
	border: 1px solid #000;
}
.post-reply .add-reply input.input-button{
	background: url("http://a.xnimg.cn/smallsite/images/theme/full-blue/reply-new.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-family: 'Microsoft Yahei',Arial;
    font-size: 21px;
    height: 75px;
    padding: 0;
    text-indent: -9999px;
    width: 75px;
}
.post-reply .add-reply input.input-button:hover{
	background-position:-75px 0;
}
.post-reply .add-reply input.input-button:active{
	background-position:-150px 0px;
}
.reply-panel{
	width:670px;
	margin:0 auto;
	_zoom:1;
}
.reply-list li{
	position: relative;
	padding:5px 0;
	border-top:1px solid #f1f2f4;
	margin:0;
}
.post-footer .morereply{
	padding-left:20px;
	padding-bottom:10px;
}
.reply-list li.first{border-top:0 none;}
.reply-list li.last{border-bottom:0 none;}
.reply-list li .head{display:block;float:left;margin-left:20px;_margin-left:10px;}
.reply-list li .reply-main{float:left;*zoom:1;width:480px;margin:0;}
.reply-list li .head img{display:block; margin-top: 4px;}
.reply-list li .replyer{
	font-size:12px;
	color:#ffffff;
	*color:#848484!important;
}
.reply-list li .reply-content{
	display:inline-block;
	zoom:1;
	*display:inline;
	width:500px;
	padding:4px 0;
	font-size:12px;
	color:#666;
	padding-right:15px;
	line-height:18px;
}
.reply-list li .reply-content a {color:#666;}
.reply-list li a{font-size:12px;color:#666666;}
.reply-list li .reply-time{position: absolute; font-size:11px; color:#666; top:5px; right:20px;}
#pagerbar{width:670px;height:46px;padding-top:16px;margin:20px 0 0 103px;background:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/sprite01.png") no-repeat scroll -9px -79px transparent;_background-image:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/sprite-ie01.png");}

.reply-list .delete,.reply-panel .shield, .reply-panel .reply-report {float:left; margin:0 0 0 4px; display:none;width:13px;height:13px;text-indent:-9999px;overflow:hidden; outline:none;background-image:url('http://a.xnimg.cn/smallsite/images/home-new/reply-icon.png'); background-repeat:no-repeat;}
.reply-list .reply-list-btn {top:7px; right:20px; }
.reply-list .to-share {display:none; position:absolute; right:20px; top:24px; font-size:12px;color:#666;}

.pages{text-align:left; position:relative;}
.pages .current{display:inline-block;height:22px;line-height:22px;font-size:22px;color:#ffffff; left:50%;}
.pages .prev a,.pages .next a{
	display:block;
	width:20px;
	height:22px;
	text-indent:-9999px;
	outline:medium none;
	background:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/icon.png") no-repeat scroll -999px 0 transparent;
}
.pages .prev a{margin-right:30px;background-position:-210px -65px}
.pages .next a{margin-left:30px;background-position:-183px -65px}
.pages .prev a:hover{background-position:-210px -35px}
.pages .next a:hover{background-position:-183px -35px}
.pages li { position:absolute;}
.pages .prev { left:250px;;}
.pages .next { right:250px;}

/*footer*/
footer{
	position:fixed;
	width:100%;
	bottom:0;
	left:0;
	height:65px;
	background:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/bottombar_11.png") repeat-x;
	_position:relative;
	_margin-top:20px;
	_zoom:1;
	z-index:10;
}
footer h4{
	width:33px;
	height:33px;
	float:left;
	margin-top:21px;
	font-size:20px;
	font-weight:normal;
	color:#ffffff;
	text-indent:-9999em;
	background:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/bottomside.png") no-repeat;
}
.follower .title{
	float:left;
	margin:5px 0 0 10px;
	font-weight:normal;color:#fff;
}
/*master*/
footer #master{
	max-width:26%;
	min-width:100px;
	float:left
}
footer #master li{
	width:32px;
	height:32px;
	float:left
}
footer #master h4{
	background-position:-4px -3px;
	margin-left:60px;
	_margin-left:10px;
}
footer #master .list{
	float:left;
	padding:0px 0 0 10px;
	height:55px;
	overflow-y:hidden;
}
footer .list li{
	float:left;
	height:32px;
	margin:19px 10px 0px 0;
	-moz-box-shadow:0 1px 1px #323E46;
	-webkit-box-shadow:0 1px 1px #323E46;
	box-shadow:0 1px 1px #323E46;
	border:1px solid #fff;
	_overflow:hidden;
}
footer .list a img,footer #followers .list a img{
	display:block;
	width:32px;
	height:32px;
}
/*followers*/
footer #followers{
	max-width:65%;
	float:left;
}
footer #followers h4{
	background-position:-3px -44px;
	margin-left:10px
}
footer #followers .list{
	margin:0px 0 0 0;
	padding-left:10px;
	height:55px;
	overflow-y:hidden;
}
#followsCounter { display:inline; padding-left:10px; font-size:15px; color:#fff;}
#followsCounter a:link,#followsCounter a:visited{color:#fff;text-decoration:none;}
#followsCounter a:hover {color:#fff;text-decoration:none;}

/*emb*/
.post-audio .audio-desc{
	font-size:14px;
}
.post .video-holder embed{display:block;width:100%;margin:0px auto}
.post .video-holder object{display:block;width:100%;margin:0px auto}

#followsCounter,#siteTopic .sitehead,#siteTopic-followsCounter,footer .sitehead,#footer-sitedesc,.post-footer .post-action .time-meta,#header-followers,#header-master{display:none}
#followsCounter{ position:absolute;top:85px;left:38px}
#followsCounter em{font-style:normal}
.quote-start,.quote-end{ display:inline-block;zoom:1;width:45px;height:28px;vertical-align:middle}
.quote-start{ background:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/quotleft.png")}
.quote-end{ background:url("http://a.xnimg.cn/smallsite/images/theme/full-blue/quotright.png")}
/*RSS与归档样式*/
*html footer #followers{ width: 650px; overflow: hidden;}
*html footer #master .list{ width: 90px; height: 55px; overflow: hidden;}
.rss,.archive{ position: absolute;left: 92%; top: 19px; _left:860px;}
.rss a,.archive a{ display:none; width:33px; height:34px; background:url(http://a.xnimg.cn/smallsite/images/theme/full-blue/rss2.png) no-repeat; text-indent:-9999em; _z-index: 100; _background:url(http://a.xnimg.cn/smallsite/images/theme/full-blue/rss2ie6.png) no-repeat;}
footer .rss a{ display:block; background-position:right 0;}
footer .archive a{ display:block; margin-left: -54px; background-position:left 0;}
footer .rss a:hover{ background-position:right bottom; _background-position:right 0;}
footer .archive a:hover{ background-position:left bottom; _background-position:left 0;}
*html .archive a{ margin-left: 0;}
*html .archive{left:810px;}


/*hot-count*/
.post-action ul {float:left;_float:none;}
.hot-count {float:left;}
.hot-count h5 {display:none;}
.post-action .hot-count a {display:block; _float:left; margin-right:15px; _margin-right:8px;height:22px;line-height:22px; padding-left:25px; color:#909397; text-decoration:none; background:url(http://a.xnimg.cn/smallsite/images/theme/full-blue/hot-icon.png) 0 -43px no-repeat;}
.post-action .hot-count a:hover {background-position:0 0; color:#fff;}
.release{margin-top: 7px;}
.release,.release a{color:#666666!important;}
.release-name, .release-time, .release-name a, .release-time, .btn{_line-height: 24px!important;}
.release-time span{_line-height:20px!important;}
.post-action .hot-count a:hover {background-position:0 0; color:#fff;}
header #master, header #followers {display:none;}
