body{
    background: #fff url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/bluebg.png) repeat 0 0;
    color: #6c7b86;
    background-color: #162E41;
	word-wrap:break-word;
    _overflow:hidden;
}
/*sync_area*/
#container .add-reply .sync_area{width: 70px;  _width:75px; right: 8px; top: 92px; *top:87px;}
#container .add-reply .sync_area input{float:left;vertical-align:middle;width:auto;height:auto;margin:2px 0 0px;background:none;border:none;outline:none}
#container .add-reply .sync_area label{cursor:pointer;*zoom:1;*padding-top:3px; _line-height: 18px;}
a {text-decoration: none; }
#container { width: 619px; position: relative; margin: 0 auto; padding: 50px 0; }
header .sitehead { display:none;}
#container header {
	margin-bottom:140px;
	text-align:center;
	background: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/about_bottom-new.png) no-repeat scroll -1px bottom ;
	_background: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/about_bottom_ie-new.png) no-repeat scroll -1px bottom ;
	padding-bottom:80px;
}
.home header h1 { 
    background-color:transparent;
    font-weight: bold;   
    font-size: 1.7em;  
    text-align:center;
	background: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/about_top-new.png) no-repeat;
	_background: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/about_top_ie-new.png) 2px 0 no-repeat;
    height: 23px;
    padding:45px 0 34px;
    width: 619px;
} 
#title{
    color:#6c7b86;
}
#sitedesc { 
	padding:0 120px 30px;
	text-align:center; 
    margin:0 auto;  
    color:#6c7b86; 
    font-size:14px; 
    line-height:21px;
	background-image: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/about_slice.png);
	_background-image: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/about_slice_ie.png);
	}
#header-followsCounter { 
	display:block;
	padding:16px 0 12px;
	_padding-top:14px;
	text-align:center;
	font-size: 12pt;
	font-weight:bold;
	*zoom:1;
} 
#header-followsCounter em{font-style:normal;}
#header-followsCounter a:link,#header-followsCounter a:visited{text-decoration:none;}
#header-followsCounter a:hover {text-decoration:none;}

#siteTopic { width:400px; margin:0 auto; padding-bottom:28px;}
#siteTopic  h4 { display:none;}
#siteTopic .topics a {
    padding:0 8px;
    font-size: 10.5pt;
} 
#siteTopic .topics a:hover {
    text-decoration:none;
}
#siteTopic .topics a.s { font-weight:bold;}
#siteTopic .topics {height:18px; overflow:hidden; line-height:18px;}
#siteTopic .topics li { float:left;}
#postList { position: relative; z-index: 2; }
.post { position: relative; padding: 74px 0 33px 0; width: 619px; margin:0 0 140px; background:no-repeat;}
.post:last-child { margin-bottom: 60px; }
.permalink .post { margin-bottom: 50px; }
.post-header { background: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/text_top.png) no-repeat 0 0; padding: 39px 0 8px 59px; width: 560px; height: 27px; position: absolute; top: 0; left: 0; }
.post-panel, .post_pannel ,.post-meta,.post-action,.post-reply{ background: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/photo_slice.png) repeat-y 0 0;_background: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/photo_slice_ie.png) repeat-y 0 0; padding: 16px 59px 10px; *zoom:1;/* zoom/overflow forces hasLayout in IE */}
.post-footer {padding:0 0 45px; background: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/text_bottom-new.png) no-repeat 0 bottom;_background: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/text_bottom_ie-new.png) no-repeat -1px bottom; width: 619px;}
.post_pannel  h1 a{ color:#333; font-size:35px;}
.post-video .post-footer{
    background: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/photos_bottom.png) no-repeat 0 bottom;
    _background: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/photo_bottom_ie.png) no-repeat 0 bottom;
}
.post-photo { padding-bottom: 82px; }
.post-photo  { background-image: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/photo_top.png);_background-image: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/photo_top_ie.png); }
.post-photo .post-panel {   padding-bottom: 0; }
.post-photo .post-footer { background-image: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/photo_bottom.png);_background-image: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/photo_bottom_ie.png); }

.post-audio, .post-music  { background: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/audio-top.png) 18px 13px no-repeat;_background: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/audio-top.png) 17px 13px no-repeat; }

.post-video   { background-image: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/video_top.png); _background-image: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/video_top_ie.png); }

.post-quote  { background-image: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/quote_top.png); }

.post-link  { background-image: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/link_top.png);_background-image: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/link_top_ie.png); }

.post-audio  { background: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/audio-top.png) no-repeat 18px 12px;_background-position:17px 12px; }

.post-article   { background: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/article_top.png) 18px 13px  no-repeat;_background-position:17px 13px; }
.post-text  { background: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/quote_top.png) no-repeat 0 -2px;_background: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/quote_top_ie.png) no-repeat 0 -2px; }

.post-text .post-content  {color:#6c7b86;font-weight:bold; font-size:20px;line-height:30px;width:430px; padding-bottom:10px;padding-right:20px;text-shadow:1px 1px 1px rgba(0,0,0,0.5);-webkit-text-shadow:1px 1px 1px rgba(0,0,0,0.5);-moz-text-shadow:1px 1px 1px rgba(0,0,0,0.5);}
.post-text .quote span.quote-icon {background: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/tatus_quote.png) left -1950px  no-repeat; padding:10px 20px; }
.post-text .post-content  img {display:inline; vertical-align:top;}
.post_icon { display: none;; width: 35px; height: 35px; }


.post h2 { font-style: italic; font-weight: bold; font-size: 2.8em; line-height: 1.4em; }
.post h2 a { text-decoration: none; }

.post-audio .audio-play {
    background: url(http://s.xnimg.cn/smallsite/images/audio-player.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 28px;
    width: 102px;
}
.post .audio-holder {padding-left:20px;}

.post-panel .copy { clear: left; }
.post-panel .copy a, .post-panel .meta a, .asked_by a { display: inline-block;}
.post-panel .copy p { margin: 1.2em 0; clear: left; }
.post-panel .copy p:last-child, .post-panel .copy p.last { margin-bottom: 0; }
.post-panel .copy p.post-photo { margin-top: 0; }
.post-panel .header {  font-size:16pt; font-weight:bold;}
.post-meta .post-action {
    float: right;
    white-space: nowrap;
}
.copy li ol, .copy li ul { margin: 0; }

.copy ol { list-style: decimal inside; padding: 0 0 0 0.8em; }
.copy ol ol { list-style: upper-alpha inside; }
.copy ol ol ol {	list-style: upper-roman inside; }
.copy ol ol ol ol { list-style: lower-alpha inside; }
.copy ol ol ol ol ol { list-style: lower-roman inside; }

.copy ul { list-style: disc inside; }
.copy ul ul { list-style: circle inside; }
.copy ul ul ul {	list-style: square inside; }
.copy ul ul ul { list-style: disc inside; }

.copy ul, .copy ol { line-height: 1.8em; margin: 1.2em 0; }
.copy ul:last-child, .copy ol:last-child { margin-bottom: 0; }

.post-meta { clear: left; overflow: auto; }
a:link { color:#6c7b86;}
.post-meta span.comments { background-position: 0 4px; }
.post-meta span.notes { background-position: 0 -21px; }
.post-meta span.reblog { background: none; }
.post .post-action ul a {
    color:#6c7b86;
    display:inline-block;
    *display:inline; 
    float:left; 
    min-width:25px; 
    height:25px;
    line-height:25px;
    font-size:10pt;
    white-space:nowrap;
    background:transparent url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/fun.png) no-repeat;
    padding:0 15px 0 25px;
    border-bottom:1px solid #f9f7f4;
    _color:#6c7b86!important
}
.post-action ul a:hover{
    color:#333;
    _color:#333!important;
    border-bottom:1px dotted #000;
}
.post-action ul a.placetop{width:50px;}
.post-action ul a.delete { background-position:0px -94px;}
.post-action ul a.reply { background-position: 0px -63px;}
.post-action ul a.edit{background-position: 0px -30px;}
.post-action ul a.placetop{background-position: 0px 1px;_width:60px;*margin-right:30px;}
.post-action ul a.enjoy,.post-panel .post-action a.enjoyed { background-position:0px -127px;}
.post-action ul a.enjoyed { background:transparent url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/enjoyed.png) no-repeat 6px 6px;}
.post-action ul a.share { background-position:0px -156px;}
.post-meta .post-topic a{ font-size:10pt; padding:0 0 0 10px; background:none; }
.zhuanzai { padding:0 0 5px 10px;}
.post-photo { clear: left; text-align:center}
.post-photo embed, .post-photo object, .post-photo iframe, { display: block; max-width: 500px; }
.post-photo img{display:inline;max-width: 500px;text-align:center;}
.post img{  max-width: 500px; margin:0 auto; display:block;}
#container .post-photo .post-content {
    width:100%;
    overflow:hidden;
    text-align:center;
    font-size:14px;
    line-height:21px
}
.post-photo .post-content .photo{width:100%; text-align:center}
.reprint {font-size: 14px;text-align:left}
.post .post-meta .post-topic li { float:left; height:18px; overflow:hidden;line-height:18px;} 
.post-audio h2 { font-size: 2.0em; line-height: 1.2em; }
.post-audio .audio_artist { font-weight: normal; font-size: 1.4em; }
.post-audio .audio_player { margin: 1.4em 0; }
.post-article .content p { padding-bottom:8px;}

.quote_container { background: transparent url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/diag_grey.png) repeat 0 0; padding: 10px 0; }
.quote_container blockquote { font-size: 2em; line-height: 1.4em; position: relative; left: -10px; padding: 0 10px 0 43px; background: transparent url(http://static.tumblr.com/bte9rhd/tiAl9mp2s/quote_glyph.png) no-repeat 0 0; }
.post-quote .copy { margin-top: 0.6em; }
#postList .post-link .post-content{width:437px}


#next_post { z-index: 3; position: fixed; top: 100px; left: 50px; width: 38px; height: 38px; display: block; background: transparent url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/next_fixed.png) no-repeat 0 0; text-indent: -9999px; }
#prev_post { z-index: 3; position: fixed; top: 100px; right: 50px; width: 38px; height: 38px; display: block; background: transparent url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/prev_fixed.png) no-repeat 0 0; text-indent: -9999px; }
.ios #next_post, .ios #prev_post { display: none; }

#next_post .tip, #prev_post .tip { display: block; position: absolute; top: 50px; left: -16px; width: 175px; 
    line-height: 1.2em; font-size: 12px;
    padding: 10px; text-indent: 0; text-align: center; color: #1A1F24;
    background: #F8F6F2;
     
 }

.tip kbd {   color: #555; font-size: 13px; font-weight: bold; }

#prev_post .tip  { left: auto; right: -16px; }
#next_post .tip .pointer, #prev_post .tip .pointer {
    display: block; width: 21px; height: 13px;
    position: absolute; left: 23px; top: -12px;
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAANCAYAAABGkiVgAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJZJREFUeNpi/PH9CwO1ARMJag2obagHEJ+E0gQBIxHeVwTiM0AsBMTvgNgEiO9T4lI2IF4NNZABSq+GipNt6DQgNkYTM4aKk2VoMhSTKoczTEGuOUbAm7+A2AqIzxLjUqLCDUt44zSUGYiXQmOcGKAIVc+Mz9A6YtMiWhquwxWmIMntFOROHyDeimwocgInF8AzBkCAAQAhCyRW4Vy44gAAAABJRU5ErkJggg%3D%3D);
    background-repeat: no-repeat;
    background-position: 0 0;
}

#prev_post .tip .pointer { left: auto; right: 23px; }

#about, #about.post { position: relative; z-index: 12; text-align: center; margin-bottom:140px;}

#about .post-header { padding: 0; background-image: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/about_top.png); height: 23px; width: 619px;  }
#about .post-panel { background-image: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/about_slice.png); }
#about .post-footer { background: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/about_bottom.png) no-repeat -1px 0; height: 63px;  }

.permalink #about { display: none; }

#about .subtitle { font-style: italic; }

#about .networks { width: 499px; height: 16px; position: absolute; bottom: 84px; }

.networks a.twitter { background-position: 0 0; }
.networks a.facebook { background-position: -16px 0; }
.networks a.dribbble { background-position: -32px 0; }
.networks a.flickr { background-position: -48px; 0; }
.networks a.vimeo { background-position: -64px; 0; }
.networks a.lastfm { background-position: -80px; 0; }
.networks a.linkedin { background-position: -96px; 0; }
.networks a.email { background-position: -112px 0; }


#about_glow {position: absolute; top: 0; left: -200px; z-index: -10; height: 754px; width: 1020px; background: url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/glow.png) no-repeat 0 0;_background:none;}

#pagerbar { width: 550px; height: 43px; margin: 0 auto; position:relative;}
#pagerbar li { display: block; width: 130px; height: 43px; position:absolute;}
#pagerbar li a {
    display:block;
    height:40px;
    background: transparent url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/arrow.png) no-repeat 0 0;
    overflow:hidden
}
#pagerbar .current{
    width:275px;
    left:138px;
    text-align:center;
    background:none;
}
#pagerbar .prev{
    left:0;
}
#pagerbar .next{
    right:0;
}
#pagerbar .prev a{
    background-position: 0 -64px;
    text-indent:-9999px;
}
#pagerbar .prev a:hover{
    background-position: 0 -5px;
}
#pagerbar .next a{
    background-position: -157px -64px;
    text-indent:-9999px;
}
#pagerbar .next a:hover{
    background-position: -157px -5px;
}

#search { position: relative; margin:0 auto; top: -37px; background: transparent url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/search_input.png) no-repeat 0 0; width: 204px; height: 19px; padding: 4px 6px 6px 20px; }
#search input { background: none; border: none; padding: 0; width: 150px; } 

#footer { opacity: 0.2; filter:alpha(opacity=20); padding: 0 0 20px; text-align: center; color: #fff; position: relative; z-index: 4; }
#footer a { color: #fff; } 
#footer a.pixelunion { font-size: 1.1em; }

#mask { position: fixed; bottom: 0; left: 0; z-index: 3; width: 100%; height: 90px; background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.4));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.4))); }

.ios #mask { display: none; }

#reactions { position: relative; width: 581px; z-index: 2; padding: 0 18px; color: rgba(255,255,255,0.7); }
.hasnotes #reactions { width: 656px; }
#reactions h3.column_header  { text-transform: uppercase; font-size: 0.9em;   padding: 0 0 0 20px; margin: 0 0 1.1em 0; background: transparent url(http://static.tumblr.com/bte9rhd/rgyl9mor3/meta_icons.png) no-repeat 0 0; border-bottom: 1px solid; }
#reactions_comments h3.column_header { background-position: 0 4px; }
#reactions_notes h3.column_header { background-position: 0 -21px; }

#reactions h3.column_header a { color: inherit; }
.shownotes.hasnotes #reactions_comments { float: left; width: 420px; }
#reactions_notes { display: none;  }
#reactions_notes .notes {  font-size: 1.1em; }
#reactions_notes .notes li { margin: 0 0 4px; }
#reactions_notes .notes .action a { color: inherit; border-bottom: 1px dotted; }
#reactions_notes .notes .avatar { background: #fff; vertical-align: bottom; padding: 2px; margin: 0 2px 0 0; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
.shownotes.hasnotes #reactions_notes { margin-left: 450px; display: block; }

.post-article .img { padding:10px; background-color:#fff;}
.photo .desc ,.audio .desc  { 
    clear:left;
    padding-bottom:8px;
    text-align:center;
    font-size:14px; 
    word-wrap: break-word;
    _overflow:hidden;
    line-height:21px;
}
.post-link .desc  { clear:left; padding:8px 0; text-align:left}
.post-link .desc,.video-desc,.post-photo .desc,.post-music .music-title{
    font-size:16px;
    line-height:24px;
}
.post h4  {
    color:#6c7b86;
    padding:10px 0;
    word-wrap: break-word;
    _overflow:hidden;
    font-size:20px;
    line-height:30px;
}

.post h4 a{ font-size:20px; padding-bottom:3px; font-weight:bold; background: url("http://a.xnimg.cn/smallsite/images/theme/full-darkblue/dots.png") repeat-x scroll 0 93% transparent;}
#disqus_thread h3 { font-size: 1.4em; font-weight: normal; }
#disqus_thread a { color: #fff; }
#dsq-content .dsq-request-user-avatar { background: #fff; }
#dsq-content .dsq-button, #dsq-content .dsq-button-small { color: #555; background: -moz-linear-gradient(top, #F5F5F5, #DDDDDD); background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#DDDDDD)); }

.video-holder { padding:5px; text-align:center; line-height:30px}
.post-video .video-play {display:block;cursor:pointer;position:relative;margin:0px;width:100%;_zoom:1;_overflow:hidden}
.video-screen{_position:relative;_display:block;_width:100%;_overflow:hidden;zoom:1}
.post-link  .post-content{overflow:hidden; background: transparent url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/link_glyph.png) no-repeat 0 0; padding: 0 0 0 44px; font-size:20px; }
.post-link .link  a {color:#6c7b86;font-size:20px;line-height:30px;display: inline; line-height:38px; font-weight:bold; background: transparent url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/dots.png) repeat-x 0px 100%; }
.post-link .img-text li { float:left;}
.img-text ,.post-link .only-text { padding-top:20px;}

.post-link .img  { width:226px;}
.post-link .text  { width:206px;  font-size:15px;}
.post-link .img  img{ border:1px solid #999; padding:3px;}
.post-link .img a { background:none;}

.post.audio h2 { padding: 0 0 0 0.1em; }
.chat_container {}
.chat_container p { padding: 0.5em 0.8em; }
.chat_container p.odd { background: transparent url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/diag_grey.png) repeat 0 0; }
.chat_container p.even { margin: 0.6em 0; }
.chat_container .label { font-weight: bold; font-style: italic; }

.asked_by { padding: 0 0 5px 70px; font-style: italic; font-size: 1.3em; }
.question_container { position: relative; padding: 15px 0 19px;}
.question_container_top { position: absolute; top: 0; width:510px; height: 15px; background: transparent url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/question_box_top.png) no-repeat 0 0; }
.question_container_glyph { position: absolute; top: 11px; left: 5px; width: 62px; height: 68px; background: transparent url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/question_glyph.png) no-repeat 0 0; }
.question_container_bottom { position: absolute; bottom: 0; width:510px; height: 19px; background: transparent url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/question_box_bottom.png) no-repeat 0 0; }
.question_container_content { width: 418px; padding: 5px 22px 0px 70px; font-size: 2.2em; line-height: 1.4em; background: transparent url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/question_box_slice.png) repeat-y 0 0; }
.post .post-change .post-reply{margin-bottom:1px;}
.reply-panel{width:510px;background:url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/reply-bg.png); border-top: 1px solid #A9B2B7;}
.post-reply .add-reply{padding: 10px 10px 28px; background:url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/reply-bg.png); width:490px;*padding-bottom: 0px;}
.post-reply .add-reply textarea{
    border: 1px solid #E4E4E4;
    float: left;
    font-size: 12px;
    height: 69px;
    margin: 0;
    padding: 2px;
    vertical-align: top;
    width: 399px;
    font-family:'Microsoft Yahei',Tahoma,Arial,Helvetica,Simsun,STHeiti;
}
.post-reply .add-reply textarea:hover{
    border: 1px solid #b9b9b8;
}
.reply-list li{position:relative;margin:0; padding:0 10px 10px; _padding-left:0px; margin-top: 10px;  border-bottom: 1px solid #A9B2B7;}
.reply-list li.first{border-top:0 none;}
.reply-list li.last{border-bottom:0 none;}
.reply-list li .head{float:left;_margin-left:10px;width:30px;width:30px;}
.reply-list li .reply-main{float:left; *zoom:1;width:350px; margin:0;}
.reply-list li .head img{display:block;width:30px;height:30px; margin-top: 4px;_margin-top:2px;}
.reply-list li .replyer{font-size:12px;}
.reply-list li .reply-content{display:block;_overflow:hidden;zoom:1;width:100%;text-align:left;font-size:12px;color:#333;word-wrap:break-word;line-height:18px;}
.reply-list li a{font-size:12px;}
.reply-list li .reply-time{
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 0px;
    *top:-1px;
    color:#333;
}
.reply-list .delete,.reply-panel .shield, .reply-panel .reply-report {float:left; margin:0 0 0 4px; display:none;width:13px;height:13px;text-indent:-9999px;overflow:hidden; outline:none;background-image:url('http://a.xnimg.cn/smallsite/images/home-new/reply-icon.png'); background-repeat:no-repeat;}
.reply-list .reply-list-btn {right:10px; top:3px;}
.reply-list .to-share {display:none; position:absolute; right:10px; top:19px; font-size:12px;color:#333;}
.reply-list .to-share a{color: #6C7B86;}
.reply-list .to-share a:hover{color:#000;}
#pagerbar li.current{ background-image:none; text-indent:0; color:#000; font-size:22px;   line-height:42px;}
#container footer  img { width: 50px; height:50px; padding:0 8px 8px 0;}
#container footer li { float:left;}
.follower { padding:40px 15px 0 0;}
#container footer h4 { font-size:12pt; color:#000; padding:5px 0;}
.follower li { float:left;}
.post-video .play-botton {
    background: url(http://s.xnimg.cn/smallsite/images/video-player.png) no-repeat scroll 0 0 transparent;
    display: block;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    position: absolute;
    top: 50%;
    width: 30px;
}
.post-video embed { width:500px;}
.video .desc { text-align:left;}
.time-meta { position:absolute;top:40px; left:65px; display: inline-block; padding: 9px 0 0 39px; color: #6C7B86;   text-transform: uppercase; text-decoration: none; font-size: 11px;font-family:Georgia;}
.time-meta i { display:none}
.time-meta i.time-s-0-1,.time-meta i.time-s-0-2 { display:inline;}
.post .post-content {width:500px; overflow:hidden;}
.morereply { margin-top:8px;}
#main-wrap{ position:relative}
#siteTopic{ position:absolute;top:-220px;left:50%;width:460px; text-align:center;margin-left:-230px; overflow:hidden}
#siteTopic .sitehead,#siteTopic-followsCounter,footer .sitehead,#followsCounter,#footer-sitedesc,.post-action .time-meta{display:none}.quote-start,.quote-end{ display:inline-block;zoom:1;width:33px;height:26px}
.quote-start{ background:url("http://a.xnimg.cn/smallsite/images/theme/full-darkblue/quote_left.png")}
.quote-end{ background:url("http://a.xnimg.cn/smallsite/images/theme/full-darkblue/quote_right.png")}

footer{
    width:95%;
    margin:0px auto;
}

/*music*/
.post-music .album-cover {margin-right:10px}
.post-music .album-cover img{display:block;width:120px;height:120px;margin:2px 0 0 10px}
.post-music .post-panel{}
.post-music h3{color:#6c7b86;font-size: 20px;padding: 10px 0;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);word-wrap: break-word;;margin-bottom:10px;line-height:30px;}
.post-music p{font-size:14px;text-align:left;padding:5px 0px}
.post-music .textarea-box{width:325px;float:right;overflow-x:hidden}

/*RSS与归档样式*/
.rss,.archive{ display:none; position:absolute; top:96px;}
.rss a,.archive a {display:block; width:33px; height:33px; background:url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/rss2.png) no-repeat; text-indent:-9999em; _background:url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/rssie6.png) no-repeat;}
header .rss{ display:block; left:516px;}
header .archive{ display:block; left:70px;}
header .rss a {background-position:left 0;}
header .archive a{background-position:right 0;}
header .rss a:hover{ background-position:left bottom;}
header .archive a:hover{ background-position:right bottom;}
/*#siteTopic .rss a{}
#siteTopic .archive a{}
footer .rss a{}
footer .archive a{}*/

/*hot-count*/
.hot-count {float:left;}
.hot-count h5 {display:none;}
.post-action .hot-count a {display:block; padding-left:20px; text-decoration:none; background:url(http://a.xnimg.cn/smallsite/images/theme/full-darkblue/hot-icon.png) 5px 5px no-repeat; _background-position:5px 4px; color:#6c7b86; *zoom:1; height:25px; overflow: hidden; line-height:25px; _line-height:22px; font-size:10pt; padding:0 15px 0 25px; border-bottom:1px solid #f9f7f4; _color:#6c7b86!important; _float:left;}
.post-action .hot-count a:hover{color:#333; _color:#333!important; border-bottom:1px dotted #000;}
.release{top: 87px;left:10px;}
.sync_area label{color:#000;}
.release-time{color:#333333;}
.post-action .hot-count a:hover{color:#333; _color:#333!important; border-bottom:1px dotted #000;}
header #master, header #followers {display:none;}
header #master, header #followers,#header-followers,#header-master {display:none;}
