body{word-wrap:break-word; background-color:#000}
/* layout */

#sitesummary .title{position:absolute;margin:20px 0 0;*margin-left:-470px;text-align:left;text-decoration:none;font-size:38px;color:#ffffff;white-space: nowrap; width: 465px;word-wrap: break-word;overflow:hidden}
#title{text-align:left;text-decoration:none;font-size:38px;color:#ffffff;white-space: nowrap; width: 465px;word-wrap: break-word;overflow:hidden;height:55px;text-overflow:ellipsis}
#title a{color:#ffffff;text-decoration:none;text-shadow:1px 1px 1px rgba(0,0,0,0.5);-webkit-text-shadow:1px 1px 1px rgba(0,0,0,0.5);-moz-text-shadow:1px 1px 1px rgba(0,0,0,0.5)}


#container{position:relative;width:100%;height:auto;margin:0px;padding:0px;background:#ffcc33;min-width:985px;}
#main-wrap{position:relative;width:990px;height:492px;margin:0px auto}
#siteTopic{position:absolute;top:-100px;right:0px;width:50%;height:592px;background:#fb400d}
#container #main{overflow:hidden;height:492px}
#container header{overflow:hidden;width:100%;height:100px;background:#4155C6}
#main-wrap footer{width:980px;margin:0px auto;padding-top:85px;_padding-top:105px}
/*Horizontal*/
.home .gotop{
	display:block;
	position:absolute;
	right:0;
	left:0px;
	width:100%;
	height:6px;
	background:#000;
	z-index:2;
	text-indent:-9999em;
	overflow:visible;
	font-size:1px;
	opacity:1;
	filter:; 
	transition:none;
	-moz-transition:none;
	-webkit-transition:none;
}
#container header .sitehead img,footer .sitehead img, .time-meta{display:none}
.home .gotop a{
	position: absolute;
	display:block;
	width:100%;
	height:6px;
	top:-246px;
	left:0px;
	zoom:1;
	border-radius:0px;
	background:#000;	
	opacity:1;
	filter:;
	transition:none;
	-moz-transition:none;
	-webkit-transition:none;
}
.home .gotop a:hover {
	filter:; 
	opacity:1;
}
#container header .sitehead{
	display:block;
	position:absolute;
	top:0px;
	right:0px;
	width:50%;
	height:592px;
	cursor:default;
	pointer-events:none;
	background:#FB400D
}
.home .gotop{top:386px}
.customize .gotop{top:346px;}
#container #siteTopic .sitehead img{display:none}

/*html5 reset*/
footer,section,header{display:block}
/**/
.post-reply .add-reply .sync_area{right: 0px; *top:75px; _top:78px;}
.post-reply .add-reply .sync_area input{vertical-align:middle;margin-top:4px!important;width:auto!important;*margin-top:0px;margin-bottom: 6px; *margin-bottom: 5px; _margin-bottom:2px; outline:none;}
.post-reply .add-reply .sync_area label{cursor:pointer;*zoom:1;*padding-top:3px;font-weight:normal;font-size:12px}

/*Vertical*/
#siteTopic .sitehead,#followsCounter,
footer .sitehead,#siteTopic-followsCounter,
#siteTopic-followsCounter em{display:block;position:absolute;width:6px;height:592px;background:#000;z-index:2;top:0px; text-indent:-9999em}
#siteTopic .sitehead{left:-3px;cursor:default}
#followsCounter{left:0px;top:-100px}
.end #followsCounter{left:-6px;}
#siteTopic-followsCounter{left:243px;z-index:100}
#siteTopic-followsCounter em {left:245px}
#container footer .sitehead{left:246px;height:492px}
/*post-list-style*/
#postList .post{position:relative;width:240px;height:240px;float:left;margin:6px 0 0 6px;overflow:hidden;z-index:2;_display:inline}
/*header*/
#container header h1{text-shadow:1px 1px 1px rgba(0,0,0,0.5);-webkit-text-shadow:1px 1px 1px rgba(0,0,0,0.5);-moz-text-shadow:1px 1px 1px rgba(0,0,0,0.5)}
#container header h1,#header-followsCounter{width:960px;margin:8px auto;_margin:0 auto}
#header-followsCounter{display:block;position:relative;margin-top:28px;font-size:0px;text-indent:-10px;}
#header-followsCounter em{display:block;position:absolute;top:-100px;*top:-78px;right:990px;height:100px;color:#fff;font-size:38px;line-height:100px;text-align:right;font-style:normal}
#container header h1{padding-top:12px;*padding-top:20px;_padding-top:20px;color:#fff;font-size:38px}
#container header h1 a{display:block;color:#fff;width:480px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#sitedesc{position:absolute;left:50%;top:73px;color:#999;height:20px;width:480px;margin-left:-480px;line-height:20px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

/*right-red-bg*/
#footer-sitedesc{display:none;position:absolute;top:-100px;right:-185px;width:50%;height:592px;background:#fb400d; text-indent:-9999em;*z-index:-1;font-size:0px;padding-top:-50px;overflow:hidden}
/*topics*/
#siteTopic h4,#siteTopic .topics{position:absolute}
#siteTopic h4{
	display: block;
	width:30px;
	height:30px;
	bottom:-67px;
	left:-490px;
	color:#666;
	font-size:16px;
	font-weight:normal;
	text-indent:-9999em;
	background:url("http://a.xnimg.cn/smallsite/images/theme/grids/icon.png") no-repeat -8px -127px;
	_bottom:-60px;
}
#siteTopic .topics{
	bottom:-61px;
	left:-448px;
	width:885px;
	height:19px;
	line-height:19px;
	overflow:hidden;
	_bottom:-54px;
}
#siteTopic .topics li{display:block;float:left;margin-right:10px;font-size:16px;white-space:nowrap;height:25px}
#siteTopic .topics li a{color:#fff}
/*master-followers*/
#followers{margin-left:15px;display:inline;_left:250px}
#master,#followers{float:left;padding-bottom:20px;color:#777;_position:absolute;_top:560px}
#master h4,#followers h4,#master ul,#followers ul{float:left;font-size:16px;font-weight:normal}
#master h4,#followers h4{
	width:30px;
	height:30px;
	text-indent:-9999em;
	margin-right:5px;
	background:url("http://a.xnimg.cn/smallsite/images/theme/grids/icon.png") no-repeat -8px -75px;
}
#followers h4{
	background:url("http://a.xnimg.cn/smallsite/images/theme/grids/icon.png") no-repeat -8px -27px;
}
#master img,#followers img{width:30px;height:30px}
#followers ul{width:665px;height:30px;overflow:hidden;_width:630px}
#master li,#followers li{float:left;width:30px;margin-left:5px;_display:inline}

.areaBL .post{display:inline;position:relative;float:left;width:240px;height:240px;overflow:hidden;margin-left:6px;text-align:center;margin-top:6px}
.areaBR .blockBR{display:inline;float:left;padding-left:3px}
.areaBR .post{display:inline;position:relative;float:left;width:240px;height:240px;overflow:hidden;margin-right:6px;text-align:center;margin-top:6px}
.post .cover{display:block;width:242px;height:242px;text-decoration:none;}
.post .cover i {position:absolute;top:-1px;left:-1px;width:242px;height:242px;background-color:#000000;opacity:0;filter:Alpha(opacity=0);-webkit-transition:opacity 0.3s ease;-moz-transition:opacity 0.3s ease;transition:opacity 0.3s ease;}
.post .cover:hover i{opacity:0.6;filter:Alpha(opacity=60);}
.post .cover h4{position:absolute;left:-1px;top:-1px;width:202px;height:131px;_height:153px;overflow:hidden;margin:72px 20px 0;_margin-top:52px;color:#ffffff;opacity:0;filter:Alpha(opacity=0);font-size:20px;-webkit-transition:opacity 0.3s ease;-moz-transition:opacity 0.3s ease;transition:opacity 0.3s ease; text-align:center}
.post .cover:hover h4{opacity:0.9;filter:Alpha(opacity=90)}
.post .cover span {position:absolute;right:10px;bottom:10px;color:#fff;font-size:14px;-webkit-transition:opacity 0.3s ease;-moz-transition:opacity 0.3s ease;transition:opacity 0.3s ease;opacity:0;filter:Alpha(opacity=0);}
.post .cover:hover span {opacity:0.9;filter:Alpha(opacity=90)}
.post .cover span, .post .cover i, .post .cover h4 {cursor:pointer;}
#postList .post .cover p.desc {display:none;}
.grid-area .post img{display:block;width:240px;padding:0;border:0 none;margin:0}
.home .post-text,.home  .post-article,.home  .post-link,.home  .post-audio{width:200px;height:205px;margin:20px;overflow:hidden;font-size:20px;line-height:28px;text-align:left;}
.post h4{margin-bottom:10px;float:none;font-size:20px;font-weight:normal}
.post-link .link a{font-size:20px;color:#000000}
.post-audio .audio-desc{text-align:center}
.post-video{width:240px;height:240px;margin-bottom:10px;overflow:hidden}
.post-video .video-desc{margin:8px 10px 0;font-size:18px;line-height:22px}
.post-audio .audio-desc{font-size:20px;line-height:22px}
.post-article h4{text-align:center;font-size:20px;font-weight:normal}
.post-article .content{font-size:16px}
.pages{
	position:absolute;
	bottom:-41px;
	right:0px;
	height:30px;
	padding:0px;
	margin:0 auto;
	text-align:right;
	overflow:hidden;
}
.pages li{
	display:inline-block;
	*zoom:1;
	*display:inline;
	height:30px;
	line-height:30px;
	overflow: hidden;
	margin:0px;
	float:left
}
.pages li.prev a,
.pages li.next a{
	background:url("http://a.xnimg.cn/smallsite/images/theme/grids/icon.png") no-repeat -999px 0
}
.pages li.prev{
	margin-right:23px;
}
.pages li.prev a{
	width:25px;
	background-position:-12px -177px;
}
.pages li.prev a:hover{
	width:39px;
	background-position:-6px -276px;
}
.pages li.current{
	padding-right:25px;
	color:#fff
}
.pages li.next a{
	width:25px;
	background-position:-12px -226px;
}
.pages li.next a:hover{
	width:39px;
	background-position:-7px -326px
}
.pages li a{
	display:block;
	width:39px;
	padding-top:30px;
	overflow: hidden;
	color:#ffffff;
	text-decoration:none;
	text-indent:-9999em;
	-moz-transition-duration: 0.5s;
    -moz-transition-property: width;
    -moz-transition-timing-function: ease;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-property: width;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-property: width;
    transition-timing-function: ease;
}
.pages li a:hover{text-decoration:none}
#siteInfo h3.follower{font-size:20px;color:#888888}
.home .gotop {opacity:1;display:block!important;background:#000}
#container .post .post-video .video-play{cursor:pointer;display:block;position:relative}
#container .post .post-video .video-play img{width:240px}
#container .post .post-video .play-botton{background:url("http://a.xnimg.cn/smallsite/images/theme/grids/video.png") no-repeat scroll 0 0 transparent;_background-image:url("http://xnimg.cn/smallsite/images/play_ie6.png");display:block;height:240px;left:0px;position:absolute;top:0px;width:240px; _left:80px;_top:80px;}
/*music*/
.post-panel .post-music{width:240px;height:240px;overflow:hidden;text-align:center}
.post-panel .post-music .music-desc{display:none}
.post-panel .post-music .music-screen{position:relative;width:240px;height:240px;margin:0px auto;}
.post-panel .post-music .music-screen img{width:240px;height:240px; _width:120px; _height:120px; _margin:60px;}
.post-panel .post-music .music-screen .music-botton{position:absolute;top:0px; _top:60px; left:0px; _left:60px; zoom:1; width:240px;height:240px;background:url("http://a.xnimg.cn/smallsite/images/theme/grids/music.png") no-repeat;_background:url('http://xnimg.cn/smallsite/images/music-terminalie.png') no-repeat }

/*end page*/
#content{ position:relative}
/*end header*/
#content #header{position:relative;width:100%;height:106px;_overflow:hidden}
#content #sitesummary{position:relative;width:770px;height:100px;margin:0px auto;}
#content #sitesummary h1{width:100%;margin-top:15px;text-shadow:1px 1px 1px rgba(0,0,0,0.5);-webkit-text-shadow:1px 1px 1px rgba(0,0,0,0.5);-moz-text-shadow:1px 1px 1px rgba(0,0,0,0.5)}
#content #sitesummary .back{position:absolute;display:block;left:-110px;top:25px;width:69px;height:44px;text-indent:-9999px;outline:none;background:url("http://a.xnimg.cn/smallsite/images/theme/grids/sprite01.png") no-repeat 0 -323px;z-index:2}
#content #sitesummary .back:hover{background-position:0 -367px;opacity:0.7;filter:Alpha(opacity=70)}
#content #sitesummary #sitedesc{display:block;width:100%;height:28px;overflow:hidden; line-height:28px;position:static;margin-left:0px}
/*next prev*/
.post-prev,.post-next{position:fixed;_position:absolute;display:block;width:92px;height:92px;margin-bottom:50px;text-indent:-9999px;outline:none;background:url("http://a.xnimg.cn/smallsite/images/theme/grids/sprite01.png") no-repeat -999px 0px;opacity:0.15;filter:Alpha(opacity=15)}
.post-prev{right:50%;top:200px;margin-right:426px;background-position:0 -411px}
.post-prev:hover,.post-next:hover{opacity:0.8;filter:Alpha(opacity=80)}
.post-next{left:50%;top:200px;margin-left:426px;background-position:0 -98px;hide-focus: expression( this.hideFocus=true )}
/*terminal style*/
/*header*/
#content .header-box{height:100px;overflow-y:hidden}
/*main*/
#content #main{position:relative;width:100%;background:#FFCC33;min-height:300px;height:auto;_height:300px}
#content .post-content{min-height:300px;height:auto;_height:300px;padding:25px 10px 0}
#content .reprint{
	padding:0px;
	color:#333333;
	margin-top:10px;
	text-align:left;
}
#content .post-photo .reprint,#content .post-music .reprint{text-align:left}
#content .post-article,#content .post-audio,#content .post-link,#content .post-photo,#content .post-video{width:760px !important;height:auto !important;padding:20px;margin:0}
#content .post-video{padding:30px 0 0 ;width:800px !important}
#content .post-photo{width:800px !important;overflow:hidden;padding:20px 0;text-align:center}
#content .post-photo .photo,#content .post-photo .music-holder{font-size:0;margin-bottom:10px}
#content .post-photo img{max-width:760px}
#content .post-photo .desc{padding:0 20px;margin-bottom:10px}
#content .data{float:right;font-size:14px}
#content .content{margin-top:5px}
/*left-right-line*/
#content .post .sub-mark02,#content .post .sub-mark01{display:block;position:absolute;bottom:-10px;width:6px;height:10000%;zoom:1;_display:none}
#content .post .sub-mark01{left:-6px}
#content .post .sub-mark02{right:-6px;}
/*footer*/
.end .reply-list .head img {margin-top: 6px;}
.end footer .post-meta .post-action li a:hover{color:#fff!important;}
#content footer{position:relative;width:820px;margin:0px auto;color:#ffffff}
.reply-main .reply-content a{font-size: 12px;}
.reply-main .reply-content a:hover{color:#fff!important;}
#content footer .post-meta,
#content footer .post-reply{width:820px;}
#content footer .post-meta {line-height:17px}
#content footer .delete li{float:right}
#content .post-topic{float:left;overflow:hidden;width:785px; margin-top: 25px;}
#content .post-topic ul{display: block; width:785px;height:22px;overflow:hidden}
#content .post-panel{position:relative;*zoom:1}
#content .post-action{line-height:25px;overflow-y:hidden; clear:left;}
.end footer .post-action li a{padding: 0 0 0 23px; margin: 20px 0 30px;}
#content .post-action li{float:left; margin-right:40px; margin-left: 0px; *display:inline}
#content .post-action .hot-count h5{display: none;}
#content .post-topic li{height: 20px; line-height: 20px;}
#content .post-topic li a{text-decoration:none}
#content .post .data .title{display:none}
#content .post .post-link .link a{text-decoration:none}
#content .post .post-link a:hover{text-decoration:underline}
#content .post .post-audio .audio-play{margin:0}
#content .post-audio .audio-desc,.post-video .video-desc{margin:10px 0;font-size:16px;font-weight:normal}
#content .post-audio .audio-desc{text-align:left}
#content .post .post-video .video-play{cursor:pointer;display:block;position:relative}
#content .post .post-video .play-botton{background:url("http://xnimg.cn/apps/smallsite/css/cssimg/play.png") no-repeat scroll 0 0 transparent;display:block;height:82px;left:50%;margin:-38px 0 0 -41px;position:absolute;top:50%;width:81px}
#content .post .post-link .thumbnail{margin-top:10px}
#content .post .post-link .thumbnail img{float:left;width:200px;overflow:hidden;padding:3px;border:1px solid #aeaeae;background-color:#ffffff}
#content .post .post-link .thumbnail p{margin-left:218px;font-size:14px}
#content.post .cover span.play-botton{background:url("http://xnimg.cn/apps/smallsite/css/cssimg/play.png") no-repeat scroll 0 0 transparent;display:block;height:82px;left:50%;margin:-38px 0 0 -41px;position:absolute;top:50%;width:81px}
#content .post .cover span.play-botton:hover{opacity:1;filter:Alpha(opacity=100)}
#content .post .post-video .video-holder {text-align:center}
#content .post .post-audio .audio-play{background:url("http://s.xnimg.cn/tumblr/images/audio-player.png") no-repeat scroll 0 0 transparent;cursor:pointer;display:block;height:28px;width:102px}
#content .post  .post-article .content img{max-width:760px}
/*music style*/
#content .post-panel .post-music{width:580px;height:auto;margin:0px auto}
#content .post-panel .post-music .music-desc{display:block;margin-top:-85px;padding:10px 10px 10px 150px;text-align:left;width:410px;font-size:14px;*overflow-x:hidden;min-height:70px;height:auto!important;height:70px;*overflow-y:visible}
#content .post-panel .post-music .music-play{display:block}
#content .post-panel .post-music .music-play img{display:block;margin:0px auto 0 auto;float:left;width:120px;height:120px}
#content .post-panel .post-music .music-play object {float:right;margin-right:239px}
#content .post-panel .post-music .music-play span{display:none;float:left;}
#content .post-panel .post-music .music-screen{width:auto;height:auto;margin:0px;}
#content .post-panel .post-music .reprint{width:580px;overflow-x:hidden;margin-left:-7px;padding-left:0px;}
/*replay*/
.add-reply textarea{width: 725px;}
#content .reply-panel a img{float:left;width:50px;height:50px;}
#content .reply-panel li{position:relative;padding:10px 0;_display:block; margin-right: 0;}
#content .reply-panel .reply-main{display:block;padding-right:30px; margin-right: 0;}
#content .reply-panel .reply-content{float: left; width: 650px; line-height:22px;font-size:12px;color:#888888;}
#content .reply-panel .reply-content a{font-size:12px;}
#content .reply-panel .replyer{display:inline-block;zoom:1;*display:inline;}
#content .reply-time{display:block; position:absolute; top:13px; right:0px; font-size:12px; color:#888;}
.reply-list .delete,.reply-panel .shield, .reply-panel .reply-report {float:left; margin:0 0 0 4px; display:none;width:13px;height:13px;text-indent:-9999px;overflow:hidden; outline:none;background-image:url('http://a.xnimg.cn/smallsite/images/home-new/reply-icon.png'); background-repeat:no-repeat;}
.reply-list .reply-list-btn {top:16px; right:0px; }
.reply-list .to-share {display:none; position:absolute; right:0px; top:35px; font-size:12px;}

/*end post*/
#content .post{position:relative;width:820px;margin:0px auto;display:block;min-height:20px;height:auto!important;height:20px;overflow:visible;zoom:1}
#container #postList .post-action ul{display:none}
#content .video-panel embed {max-width:600px;max-height:450px;_width:600px;_height:450px}
/*end lines (for js append)*/
#header i.lineT {position:absolute;top:100px;left:0;width:100%;height:6px;background-color:#000}
#main i.lineL,
#main i.lineR {position:fixed;_position:absolute;top:0;width:6px;height:100%;background-color:#000}
#main i.lineL {left:50%;margin-left:-416px}
#main i.lineR {right:50%;margin-right:-416px}

.end header .sitehead,.end #header-master, .end .back, .end #sitedesc, .end .data, .end #footer-sitedesc,
.end footer .sitehead, .end #master, .end #followers, .end #header-followsCounter,.end #followsCounter {display:none;}

#container header #header-followsCounter em{width:auto;*width:186px;width:186px;text-shadow:1px 1px 1px rgba(0,0,0,0.5);-webkit-text-shadow:1px 1px 1px rgba(0,0,0,0.5);-moz-text-shadow:1px 1px 1px rgba(0,0,0,0.5)}
img[src='']{display:none}

.end #header-followsCounter{display:none}

/*RSS与归档样式*/
#main-wrap footer{ padding-top: 124px;}
#master{ top: 600px;}
#followers{ _top: 600px;}
#siteTopic h4{ bottom: -100px; _bottom: -90px;}
#siteTopic .topics{ bottom: -93px; _bottom: -85px;}
footer .rss,footer .archive{ display: inline-block; width: 26px; height: 26px; _overflow:hidden; /*position:relative; top: -75px; left:-780px;*/ position: absolute; left: 10px; bottom: -48px;}
footer .rss{left: 90px;}
footer .rss:hover,footer .archive:hover{ width: 70px;}
.rss a,.archive a{ display:none; width:26px; height:26px; background:url(http://a.xnimg.cn/smallsite/images/theme/grids/rss2.png) no-repeat; text-indent: -9999em;  _background:url(http://a.xnimg.cn/smallsite/images/theme/grids/rssie6.png) no-repeat;
    -moz-transition-duration: 0.5s;
    -moz-transition-property: width;
    -moz-transition-timing-function: ease;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-property: width;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-property: width;
    transition-timing-function: ease;
}
footer .rss a{ display:block; background-position:0 0;}
.end footer .rss a{display: none;}
footer .archive a{ display:block; background-position:0 -27px;}
.end footer .archive a{display: none;}
footer .rss a:hover{ width: 70px; background-position:0 -54px;}
footer .archive a:hover{ width: 70px; background-position:0 -81px;}
footer .rss,footer .archive{ *display:block; *position: absolute; *top: 515px; _top: 510px; *left: 85px; _left: 50px; }
footer .archive{ *left: 8px;}
footer .rss:hover{ *margin-right: 70px;}
.help-enter{z-index:10000;}
header #master, header #followers {display:none;}
/*操作按钮hover*/
.end footer .post-action li a:hover{background: url("http://xnimg.cn/smallsite/images/theme/grids/icon-hover.png") no-repeat scroll 0 0 transparent;}
.end .reply-list .to-share a:hover{color:#fff!important;}
.end footer .post-action .share:hover{background-position: -6px -48px;}
.end footer .post-action .edit:hover{background-position: -6px -115px;}
.end footer .post-action .enjoy:hover{background-position: -6px -70px;}
.end footer .post-action .delete:hover{background-position: -6px -138px;}
.end footer .post-action .placetop:hover{background-position: -6px -160px;}
.end footer .post-action .hot-count a:hover{background-position: -6px -3px;}
.end footer .post-action .enjoyed:hover{background: url("http://xnimg.cn/smallsite/images/theme/tagcard/icon-ty.png") no-repeat scroll 0 -131px;}
/*#siteTopic .rss a{}
footer .archive a{}
header .rss a{}
header .archive a{}*/
header #master, header #followers,#header-followers,#header-master {display:none;}
#container .post .post-photo .photo h4{display:none;}
/*status*/
#container .feed-text .inner .quote-start,#container .feed-text .inner .quote-end{display:none;}
.reply-panel{_border-top:1px solid #E3E3E3;}
.end .release a:hover{color:#fff!important;}
#morecoment, #morecoment:link, #morecoment:visited{color:#888!important;}
.morereply{margin: 10px 0;}