/*----This is stylesheet for blackman by L-moon----*/
body{background:#d2d7db url(http://a.xnimg.cn/smallsite/images/theme/handdraft/bg.png) repeat fixed 0 0;font:normal 14px "Microsoft Yahei",Arial;color:#ffffff; word-wrap:break-word; word-break:break-all; color:#37393a;}
a:link,a:visited{text-decoration:none;color:#818181;}
a:hover{text-decoration:underline;}

/*header*/
#container{width:900px;margin:0 auto;padding:15px;position:relative;}
#container header{position:relative;background:url(http://a.xnimg.cn/smallsite/images/theme/handdraft/head_top.png) no-repeat 60px 0;}
#title { color:#63a6a4; font-weight:900;}
#container header h1 { padding:30px 46px 0 90px;}
.sitehead { width:96px; position:absolute; display:block; right:0;bottom:-200px; z-index:10; background:url(http://a.xnimg.cn/smallsite/images/theme/handdraft/header_top.png) no-repeat 0 0;}
.sitehead img{width:64px; padding:14px; border:1px solide #333;display:block;background:url(http://a.xnimg.cn/smallsite/images/theme/handdraft/header_bottom.png) no-repeat 0 bottom;}
#title{font-size:42px;line-height:42px;}

/*#main-wrap*/
#main-wrap { margin-top:60px;}
#sitedesc{display:block;line-height:22px;padding:5px 46px 30px 90px; background:url(http://a.xnimg.cn/smallsite/images/theme/handdraft/head_bottom.png) no-repeat 60px bottom;}
#siteTopic{float:right;width:160px;padding-right:100px; padding-top:20px;}

/**/
#followsCounter{font-weight:bold;text-indent:10px;font-size:16px; position:absolute; right:0px; bottom:-110px; width:255px; border-top:1px dashed #B1A49F; border-bottom:1px dashed #B1A49F; color:#a5413e; padding:10px 0;}
.topics{text-align:center; margin-top:40px;*margin-top:70px;}
.topics li{ zoom:1; padding:0 8px; float:left;}
.topics li a{white-space: nowrap; line-height:22px;}
.topics li a.s{font-weight:bold;}
#main{float:left;width:600px;}
.post{margin-bottom:40px;width:530px;padding:10px 10px 20px; float:right;}
.post .post-panel{position:relative;*zoom:1;} 
.post-text  .post-content { padding:34px 0 0 60px; background:url(http://a.xnimg.cn/smallsite/images/theme/handdraft/text_bottom.png) no-repeat 0 0;}
.post-text .post-panel{ background:url(http://a.xnimg.cn/smallsite/images/theme/handdraft/text_top.png) no-repeat 0 0;}
.post-text .post-content,.post h4,.post-link .link a{font-size:24px;font-weight:bold;}
.post-text  .post-content img{vertical-align:text-top;margin-top:5px;}
.post h4{margin-bottom:10px;}
.reprint{font-size:12px;color:#818181;margin-top:20px;}
.reprint a{}
.post-topic li{float:left;font-size:12px;padding:0 10px 5px 0; white-space: nowrap;}
.post-topic { padding:10px 0;}
.post-action a{display:inline-block;zoom:1;*display:inline;height:14px;line-height:14px;padding:0 30px 0 20px;font-size:12px;}
.reply,.enjoy,.enjoyed,.share,.post-action .delete{background:url(http://a.xnimg.cn/smallsite/images/theme/handdraft/sprite.png) no-repeat -999px 0;}
.reply{background-position:0 0;}
.enjoy{background-position:0 -15px;}
.enjoyed{background-position:0 -45px;}
.share{background-position:0 -29px;}
.post-action .delete{background-position:1px -60px;}
.post-photo .photo img,.post-article .post-content img{display:block;max-width:520px;border:solid 5px #d2d7db;margin:0 auto 10px auto;}
.post-photo .photo,.post-article .post-content {width:530px;overflow:hidden;padding:0px; background-color:transparent;}
.post-article .post-content img{margin-top:10px;}
.post-photo .desc{line-height:14px;margin-bottom:10px;}
.post-link .thumbnail{margin-top:10px;}
.post-link .thumbnail img{display:block;float:left;width:200px;overflow:hidden;border:solid 5px #d2d7db;}
.post-link .thumbnail p{margin-left:220px;font-size:14px;}
.post-video embed{border:solid 5px #d2d7db; width:500px;}
#pagerbar{width:530px;margin:45px 0 0 80px;text-align:center;}
.pages li{display:inline-block;zoom:1;*display:inline;}
.pages li a{color:#ffffff;}
.pages li.current { font-size:24px;}
.pages .prev{padding-right:45px;}
.pages .next{padding-left:45px;}
#main-wrap footer h4{font-size:16px;}
#main-wrap footer img { width:50px; height:50px; float:left;}
#master,#followers{width:510px;padding:10px 10px 20px 22px;margin:20px 0 0 80px;background:rgba(0,0,0,0.1);filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1,startColorStr=#30000000,endColorStr=#30000000);}
#main-wrap footer li{float:left;margin:4px 4px 0 0;}
#main-wrap footer li img{display:block;border:1px solid #ffffff;}
.add-reply{margin:20px -10px 0;}
.add-reply textarea{width:448px;height:26px;padding:3px;border:1px solid #7f9db9;margin-right:10px;*margin-right:5px;vertical-align:top;margin-top:-1px;}
.add-reply .input-button{width:76px;padding:3px 0;border:1px solid #7f9db9;margin:0;font-size:18px;font-weight:bold;color:#333333;background-color:#f0f0f0;cursor:pointer;}
.reply-panel{margin-top:35px;border-left:6px solid #f0f0f0;padding-left:10px;}
.reply-list li{position:relative;*zoom:1;margin-top:17px;}
.reply-list {margin-top:-17px;}
.reply-list .head img{float:left;display:block;width:30px;height:30px;padding:1px;border:1px solid #ffffff;}
.reply-list .reply-content{padding:5px 125px 0 44px;}
.reply-list .reply-content a{padding:0 10px;}
.reply-list .reply-content .replyer{padding-left:0;}
.reply-list .delete,.reply-list .shield{position:absolute;right:0;top:10px;display:block;width:13px;height:13px;text-indent:-9999px;outline:none;background:url(http://a.xnimg.cn/smallsite/images/theme/blackman/db.png) no-repeat -15px 2px; _background-position:-15px 5px;}
.reply-list .delete:hover { background-position:-15px -10px;}
.reply-list .shield{ background-position:0px 2px; right:15px; _background-position:0px 5px;}
.reply-list .shield:hover { background-position:0px -10px;}
.reply-list .reply-time{position:absolute;right:35px;top:8px;font-size:12px;}
.post-video .play-botton {
    background: url("http://s.xnimg.cn/smallsite/images/video-player.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    position: absolute;
    top: 50%;
    width: 30px;
}
.post-video .video-play { display:block; cursor:pointer; position:relative; float:left;}

.post-audio .audio-play {
    background: url("http://s.xnimg.cn/smallsite/images/audio-player.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 28px;
    width: 102px;	 
}
.audio-desc ,.video-desc { padding-top:10px;}
#siteTopic h4{ display:none;}
.time-meta i ,.time-meta .year{display:none;} 
.time-meta .time-s-2-2{ display:inline; font-style:normal}
.time-meta{display:block;position:absolute;left:-66px;top:-10px;text-align:right;font-size:18px; word-spacing:-5px;}
.time-meta .day{display:block;font-size:16px; padding-right:3px;*padding-right:7px;}
#main-wrap footer { float:left;}





























































header #master, header #followers,#header-followers,#header-master {display:none;}