/*BODY STYLES*/
body{font-family:"Microsoft Yahei",Arial;font-size:14px;color:#333333;word-wrap:break-word;background:url("http://a.xnimg.cn/smallsite/images/theme/holepuncher/background.jpg") repeat scroll 0 0;padding-bottom:100px}
/*default-font-color*/
body{color:#4d4d4d}
#title{color:#ffffff;-moz-transition: all 400ms ease-out 0s;-webkit-transition: all 400ms ease-out 0s;transition: all 400ms ease-out 0s;}
#title:hover{-moz-transition: all 400ms ease-out 0s;-webkit-transition: all 400ms ease-out 0s;transition: all 400ms ease-out 0s;-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8;}
#sitedesc{color:#c8fbda}
/*HEADER STYLES*/
#header-followsCounter{background: url("http://a.xnimg.cn/smallsite/images/theme/holepuncher/head-bot.png") no-repeat scroll right 0 #00e0d5;_background:#02c0bc;display: block!important;height: 30px;width: 75%;_width:100%;cursor:default;position:absolute;top:170px;_top:173px;text-indent:-999px;}
#container header .sitehead {_background:#02c0bc;_width:100%;}
#container .sitehead img{display:none}
#container header{position: relative;background-color:transparent!important;}
#container header h1{height:62px; padding-left:11%; padding-top:108px; letter-spacing:4px;text-align:left;background:url("http://a.xnimg.cn/smallsite/images/theme/holepuncher/head-bg.png") #00e0d5 repeat;_background:#02c0bc;}
#container header h1{_background:#02c0bc;}
#container header #title {display:block; height:65px; width:60%; border:none; border-bottom:none!important; font-size:46px; overflow:hidden;}
#container header #title a:hover {text-decoration:none}
#container #sitedesc{color:#4f4f4f!important;line-height:1.4;padding-left:11%;padding-top:50px;display:block;word-wrap:break-word;word-break:break-all;font-size:20px;text-align:left;font-weight:normal;width:63%;}
#container #header-followsCounter em{font-style:normal}

/*siteTopic*/
#siteTopic{position:absolute;top:15px;left:10.48%;width:73%;}
#siteTopic .topics{left:50%;overflow:hidden;margin:35px 0 10px;text-align:center;white-space:nowrap;color:#737373;width:100%;max-height:50px;word-wrap:break-word;display: block;}
#siteTopic .topics li{float: left;;zoom:1;*display:inline;padding:0 15px 0 5px;height:25px;}
#siteTopic .topics li a:hover{opacity:0.6;-moz-opacity:0.6;-webkit-opacity:0.6;-moz-transition: all 400ms ease-out 0s;-webkit-transition: all 400ms ease-out 0s;transition: all 400ms ease-out 0s;}
#sitedesc{color:#c8fbda}
#siteTopic .topics li a{font-size:16px;color:#737373;-moz-transition: all 400ms ease-out 0s;-webkit-transition: all 400ms ease-out 0s;transition: all 400ms ease-out 0s;}
#siteTopic .topics li a.s{font-weight:bold}
#siteTopic h4{display:none;}
#siteTopic-followsCounter{font-size:16px;color:#ffffff!important;position: absolute;top:0px;left:7px;}
#siteTopic-followsCounter a,#siteTopic-followsCounter a:hover{color:#fff;text-decoration:none ;}
#siteTopic-followsCounter em {font-style:normal;}
/*main-wrap*/
#main-wrap{position:relative}
#main-wrap .audio-desc {margin-bottom:8px}
#main{padding-top:120px;}
/*POST STYLES*/
#postList{width:100%;overflow:hidden;margin:0px auto}
/*time*/
.post{padding:0px;*height:1%}
.time-meta{width:auto;font-size:16px}
.time-meta i {display:none}
.time-meta i.time-s-1-1,.time-meta i.time-s-1-2 {display:inline;}
/*post*/
.audio-screen{padding:10px 0}
.link a{color:#fff;}
/*post-title-bg*/
.post-text .post-content,
.post-article h4.title,
.post-link .link,
.post-photo h4.title,
.post-video h4.title,
.post-audio h4.title,
.post-music h3.title,
.post-text .post-content{display:inline-block;*display:inline;*zoom:1;min-width:30px;max-width:61%;_width:41%;height:74px;padding:0 80px 0 11%;overflow:hidden;font-size:26px;font-weight:normal;line-height:75px;color:#fff;}
.post-text .post-content{background:url('http://a.xnimg.cn/smallsite/images/theme/holepuncher/text2.png')  no-repeat right top #ff0000;_background:#ff0000;}
.post-article h4.title{background:url('http://a.xnimg.cn/smallsite/images/theme/holepuncher/articel2.png')  no-repeat right top #ff0000;_background:#ff0000;}
.post-link .link{background:url('http://a.xnimg.cn/smallsite/images/theme/holepuncher/link2.png')  no-repeat right top #ff0000;_background:#ff0000;}
.post-photo h4.title{background:url('http://a.xnimg.cn/smallsite/images/theme/holepuncher/photo2.png')  no-repeat right top #ff0000;_background:#ff0000;}
.post-video h4.title{background:url('http://a.xnimg.cn/smallsite/images/theme/holepuncher/video2.png')  no-repeat right top #ff0000;_background:#ff0000;}
.post-audio h4.title,.post-music h3.title{background:url('http://a.xnimg.cn/smallsite/images/theme/holepuncher/audio2.png')  no-repeat right top #ff0000;_background:#ff0000;}
.post-text .post-content a{color:#fff}
/*content*/
.post .post-content .content{width:63%;padding:30px 0 30px 11%;overflow:hidden;line-height:26px;font-size:14px}
.post .video-screen,
.post .thumbnail,
.post .audio-screen,
.post-music .music-box{width:63%;padding:30px 0 30px 11%!important;}
.post .post-panel .time-meta{display:none}
.post-photo .photo{width:70%;padding:10px 0 0px 11%;_padding:10px 0 0 15%;}
.post .post-footer{width:64%;padding:10px 0 30px 10.2%!important;}
.post-photo .post-content h4{margin-bottom:20px}
.post-article .content h4{display:inherit;height:auto;padding:none;background:none;background-color:none}
/*music*/
.post-music .album-cover {margin-right:10px;float: left;}
.post-music .album-cover img{display:block;width:120px;height:120px}
.post-music .post-panel{}
.post-music p{font-size:14px;text-align:left;padding:5px 0px}
.post-music .textarea-box{max-width:70%;float:left;}
/*desc*/
.post .desc,
.post .audio-desc,
.post .video-desc{width:63%;padding:10px 0 0px 11%}
/*audio-play*/
.audio-play{margin:0px!important}
/*topic*/
.post-topic{background:url("http://a.xnimg.cn/smallsite/images/theme/holepuncher/tag.png") no-repeat 7px 9px;padding-left:25px;overflow: hidden;max-height:82px;_height:43px;}
.post-topic ul li{margin:10px 0 10px 10px;float:left;display:inline;}
.post-topic ul li a{height:15px;overflow:hidden;font-size:14px;white-space:nowrap;padding:4px 10px;color:#ffffff!important;background:url('http://a.xnimg.cn/smallsite/images/theme/holepuncher/bg-li.png') repeat #ff0000;_background:#ff0000;display: inline;_zoom:1;}
.post-topic ul li a:hover{background-color:#00e0d5;_background:#00e0d5;}
.post-meta{_position:absolute;_margin-left:3px;}
/*post-action*/
.post-action{*display:inline; _padding-left:7px; *zoom:1;margin-top:20px; _margin-top:60px;}
.post-action ul li{float:left;font-size:14px}
.post-action ul li a{color:#737373;-moz-transition: all 400ms ease-out 0s;-webkit-transition: all 400ms ease-out 0s;transition: all 400ms ease-out 0s;}
.post-action ul li a:hover{opacity:0.6;-moz-opacity:0.6;-webkit-opacity:0.6;-moz-transition: all 400ms ease-out 0s;-webkit-transition: all 400ms ease-out 0s;transition: all 400ms ease-out 0s;}
/*sync_area*/
#container .add-reply .sync_area{top: 92px; right:2px;_right:5px; *top:90px;}
#container .add-reply .sync_area input{vertical-align:middle;width:auto;height:auto;margin-bottom:5px;*margin-top:0px;margin-bottom:1px\9;background:none;border:none;outline:none}
#container .add-reply .sync_area label{cursor:pointer;*zoom:1;*padding-top:3px}
/*reply*/
.post-reply{_position:relative; width:680px;margin-top:5px;margin-left:11px; background-color: #DADAD2;}
.add-reply{margin:0px 10px; padding:10px 0 40px!important; background:#dadad2; border-bottom: 1px solid #BBB9BA;}
.add-reply textarea{width:567px;border:1px solid #bababa;*margin-left:-10px;}
.add-reply textarea:hover{border:1px solid #7e7a72;}
.reply-list{padding: 0 10px 10px;background:#dadad2;*width: 660px;}
.reply-list li{*display: block; position:relative; width:100%; *width:660px; padding:10px 0; border-bottom: 1px solid #BBB9BA;}
.reply-list li .head{display:block; float:left; width:20px;height:20px; margin-top: 3px; overflow:hidden}
.reply-list li .reply-time{display:block; position:absolute; top:9px; right:2px; font-size:12px;}
.reply-list .reply-main{float:left;width:530px;text-align:left}
.reply-list .reply-content{display:block;padding:0 5px;font-size:12px;overflow:hidden}
.reply-list .reply-content a {color:#536981;}
.reply-list .reply-time{display:block;float:left}
.reply-list .delete,.reply-panel .shield, .reply-panel .reply-report {float:left; margin:0 0 0 4px; display:none;width:13px;height:13px;text-indent:-9999px;overflow:hidden; outline:none;background-image:url('http://a.xnimg.cn/smallsite/images/home-new/reply-icon.png'); background-repeat:no-repeat;}
.reply-list .reply-list-btn {top:12px; right:2px;}
.reply-list .to-share {display:none; position:absolute; right:2px; top:29px; color:#4D4D4D;}
.reply-list .to-share a{color: #536981;}
/*reprint*/
.reprint{width:63%;margin-top:10px;padding:0px 0 0px 11%;text-align:left;font-size:12px}
/*post-action*/
.post-action li{display:inline-block;width:100}
.post-action li a{display:inline-block;*display:inline;*zoom:1;height:23px;padding-left:30px;ovreflow:hidden;float:left;background:url('http://a.xnimg.cn/smallsite/images/theme/holepuncher/icon.png') no-repeat;line-height:23px;text-decoration:none}
.post-action li a.delete{background-position:5px -166px;padding-right:5px}
.post-action li a.edit{background-position:5px -196px;padding-right:5px}
.post-action li a.share{background-position:5px -231px}
.post-action li a.reply{background-position:5px -139px}
.post-action li a.enjoy{background-position:5px -110px}
.post-action li a.enjoyed{background-position:5px -81px}
.post-action li a.placetop{background-position:6px -52px;padding-right:5px}
.post-action li a span{padding:0 5px 0 5px}
.desc,.audio-desc,.video-desc{line-height:28px;font-size:13px}
.thumbnail img{float:left}
.post-link .thumbnail .desc{display:inline;padding-left:10px}
/*post-video*/
.post-video .play-botton {display:block;position:absolute;width:30px;height:30px;top:50%;left:50%;margin:-15px 0 0 -15px;background:url("http://s.xnimg.cn/smallsite/images/video-player.png") no-repeat scroll 0 0 transparent}
.post-video .video-play {position:relative;display:inline-block;*display:inline;*zoom:1;cursor:pointer}
.post-audio .audio-play {display:block;height:28px;width:102px;margin:0 auto;background:url("http://s.xnimg.cn/smallsite/images/audio-player.png") no-repeat scroll 0 0 transparent;cursor:pointer}
.post-content .photo img{display:block;max-width:90%}
.post-article .post-content img{display:inline;max-width:90%}
.post-video .post-content img{display:block;max-width:700px}
.post-video .post-content{_overflow:hidden}
.post-article .post-content img{margin-top:10px}
/*footer*/
#container footer {width:80%;margin:0 auto 0px auto;padding:50px 0 20px 0;background:#dcdcd0;border-radius:5px;position:relative;}
#container footer  img {width:50px;height:50px;margin:5px 0px 0px 5px;border:1px solid #8e8e8e;_display:inline}
#container footer li {float:left}
#container footer h4 {margin:10px 0;font-size:16px;text-align:left;font-weight:normal}
#container footer #followers,#master{width:90%;margin:0px auto}
#container footer #siteTopic-followsCounter,#main .post-action .time-meta,#container header .sitehead{display:none}
#footer-sitedesc{display:block;background:url("http://a.xnimg.cn/smallsite/images/theme/holepuncher/head-bg.png") #00e0d5 repeat;height:0px;text-align:left;position:absolute;width:125%;bottom:-255px;left:-12.5%;padding-top:190px;overflow:hidden}
#container #followsCounter{background:url("http://a.xnimg.cn/smallsite/images/theme/holepuncher/head-foot.png") #00e0d5 repeat;height:30px;text-indent:-999999px;position:absolute;width:125%;bottom:-65px;left:-12.5%;}
#footer-sitedesc{_background:#02c0bc;}
#container #followsCounter{_background:#02c0bc;_bottom:-65px;}
/*pagerbar*/
#pagerbar{width:100%;text-align:center;padding:10px 0 30px 0}
#pagerbar .pages{width:650px;height:68px;margin:0 auto}
#pagerbar .pages li{display:inline-block;overflow:hidden;height:68px;margin:0px 10px;vertical-align:middle;*display:inline;*zoom:1}
#pagerbar .pages .prev a,#pagerbar .pages .next a{display:inline-block;*display:block;width:69px;height:68px;overflow:hidden;text-indent:-9999em}
#pagerbar .current{height:68px;padding:0 20px 0 20px;border-radius:50px;overflow:hidden;font-size:35px;line-height:68px;background:#dcdcd0;color:#7b7a6d}
#pagerbar .pages .prev a{background:url('http://a.xnimg.cn/smallsite/images/theme/holepuncher/pg-up.png') no-repeat scroll -4px -13px;}
#pagerbar .pages .next a{background:url('http://a.xnimg.cn/smallsite/images/theme/holepuncher/pg-down.png') no-repeat scroll -8px -10px;}
#pagerbar .pages .prev a:hover{background:url('http://a.xnimg.cn/smallsite/images/theme/holepuncher/pu-hover.png') no-repeat scroll -15px -9px;}
#pagerbar .pages .next a:hover{background:url('http://a.xnimg.cn/smallsite/images/theme/holepuncher/pd-hover.png') no-repeat scroll -3px -10px;}
.video-holder embed{width:680px;height:523px;}
.video-holder object{width:680px;height:523px;}

/*RSS与归档样式*/
.rss a,.archive a{ display:none; position: absolute; top: 115px; width: 50px; height:50px; background:url(http://a.xnimg.cn/smallsite/images/theme/holepuncher/rss.png) no-repeat; text-indent: -9999em; _background:url(http://a.xnimg.cn/smallsite/images/theme/holepuncher/rssie6.jpg) no-repeat; _border:1px solid #b6ada7;}
header .rss a{ display:block; background-position:right 0; left: 67%; margin-left: 60px; }
header .archive a{ display:block; background-position:0 0; left: 67%; }
header .rss a:hover{ background-position:right bottom;}
header .archive a:hover{ background-position:left bottom;}
/*#siteTopic .rss a{}
#siteTopic .archive a{}
footer .rss a{}
footer .archive a{}*/
/*hot-cound*/
.hot-count {float:left;}
.hot-count h5 {display:none;}
.hot-count a {padding:0 5px 0 30px; line-height:23px; background:url('http://a.xnimg.cn/smallsite/images/theme/holepuncher/hot-icon.png') 3px -2px no-repeat;color: #737373;}
.hot-count a:hover{opacity:0.6;-moz-opacity:0.6;-webkit-opacity:0.6;-moz-transition: all 400ms ease-out 0s;-webkit-transition: all 400ms ease-out 0s;transition: all 400ms ease-out 0s;}
.release {float: left; _position: relative;}
.release span{_line-height: 16px!important;}
.release-name a, .release-time, .release-time span, .btn{_display:block; _position: relative;}
.hot-count a:hover{opacity:0.6;-moz-opacity:0.6;-webkit-opacity:0.6;-moz-transition: all 400ms ease-out 0s;-webkit-transition: all 400ms ease-out 0s;transition: all 400ms ease-out 0s;}
header #master, header #followers {display:none;}
header #master, header #followers,#header-followers,#header-master {display:none;}
.add-reply .input-button{background:url("http://a.xnimg.cn/smallsite/images/theme/holepuncher/bg-li.png") repeat scroll 0 0 transparent; _background-image:none; text-indent: 0px; color: #FFFFFF; font-size: 12px; *margin-right:-10px;}
.post .ccagreement{width:66px; margin:12px 0 0 11%;}