body{font-family:'Microsoft Yahei', Arial;font-size:12px;color:#666666;background:transparent url(http://a.xnimg.cn/smallsite/images/theme/home-like/bg.png) 0 0 scroll repeat; word-wrap:break-word;}
a, a:link, a:visited{color:#999999; text-decoration:none;}
a:hover{color: #27A5B3;}
#container{width:810px;margin:0 auto;}
#followers a:hover,#master a:hover{ text-decoration:none;}
.post-photo h4, .post-video h4, .post-music h3, .link a, .post h4, .post-text .post-content{font-size:24px;font-weight:normal;}
/* will change */
#footer{clear:both;height:80px;}
.post-photo h4,.post-video h4,.post-music h3, .link a,.post h4,.post-text .post-content{color:#27A5B3;}
/*sync_area*/
.add-reply{*margin-top:5px;padding-bottom: 17px;}
#container .add-reply .sync_area{}
#container .add-reply .sync_area input{vertical-align:middle;width:auto;height:auto;margin-bottom:5px;*margin-top:0px;margin-bottom:1px\9;background:none;border:none;outline:none}
#container .add-reply .sync_area label{cursor:pointer;*zoom:1;*padding-top:0px}

#container header h1{margin:30px 0 15px 0;}
#title{font-size:42px;color:#27a5b3;text-decoration:none;}
#title:hover{color:#666666;margin-left: -3px;}
#sitedesc{display:block;margin-top:0px;color:#666666;font-size:13px;padding-bottom:20px; line-height:24px;letter-spacing:2px;} 
#aside{width:200px;float:left;}
#main{width:580px;margin-right:30px;_margin-right:16px;float:left;display:inline; position:relative;}

.module{padding:10px 15px;background:#FFFFFF;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px; margin-bottom:20px;}

.sitehead{width:200px;overflow:hidden; background:#FFFFFF;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px; margin-bottom:20px; display:block;}
.sitehead img{display:block;}
#master ,#followers{padding:10px 15px;background:#FFFFFF;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px; margin-bottom:20px;}
#master li,#followers li{float:left; padding:0 5px 5px 0; *padding:0 2px 2px 0;}
#master li img,#followers li img{width:50px;height:50px;} s
#followsCounter{ color:#777; font-size:12px; font-weight:normal;top:0px;left:0px; position:absolute; display:block}
#followsCounter a {text-decoration:none ; color: #777777;}
#followsCounter a em{font-style:normal;}
#master h4,#followers h4{font-size:14px; color:#777;  padding-bottom:8px; position:relative;}  
#siteTopic{float:right;margin-top:0px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px; margin-bottom:20px; width:200px;}
#siteTopic h4{font-size:16px; color:#fff; background:url("http://a.xnimg.cn/smallsite/images/theme/home-like/li-head.png") #27A5B3;  -moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0; padding:10px 15px; border-bottom:1px solid #d9d9d9;}
#siteTopic .topics{ overflow:hidden; background-color:#27a5b3;border-radius:0 0 5px 5px;-moz-transition:background-color 400ms ease-out 0s; -webkit-transition:background-color 400ms ease-out 0s;transition:background-color 400ms ease-out 0s;}
#siteTopic .topics li{ white-space:nowrap;height:16px; height:30px; line-height:30px; border-bottom:1px dotted #d9d9d9; }
#siteTopic .topics li a{font-size:12px;  color:#fff; display:block; padding-left:35px; background:url("http://a.xnimg.cn/smallsite/images/theme/home-like/li.png") no-repeat ;height:30px;}
#siteTopic .topics li a.s{background:url("http://a.xnimg.cn/smallsite/images/theme/home-like/li-hover.png") no-repeat ; font-weight:bold;color:#fff;}
#siteTopic .topics li a:hover {background:url("http://a.xnimg.cn/smallsite/images/theme/home-like/li-hover.png");}
#tagOrderTip{position:absolute;left:50%;top:-25px;margin:0 -23px;opacity:0.7;filter:Alpha(opacity=70);height:19px;padding-bottom:5px;background:url("http://a.xnimg.cn/smallsite/images/theme/full/sprite.png") no-repeat scroll center 19px transparent;}
#tagOrderTip s{float:left;display:block;width:2px;height:19px;background:url("http://a.xnimg.cn/smallsite/images/theme/full/sprite.png") no-repeat scroll left -24px transparent;}
#tagOrderTip u{float:left;display:block;width:2px;height:19px;background:url("http://a.xnimg.cn/smallsite/images/theme/full/sprite.png") no-repeat scroll right -5px transparent;}
#tagOrderTip q{text-decoration:none;float:left;height:13px;line-height:13px;padding:2px 2px 4px;background:black;}
#tagOrderTip q b{font-size:12px;font-weight:normal;color:white;white-space:nowrap;}

.post{margin-bottom:50px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background:#FFFFFF; border:1px solid #aed2d9;padding-bottom:10px;}
.post h4{margin-bottom:10px;font-size:24px;line-height:1.5;width:515px;}
.nomargin{padding-top:10px;}
.post .reprint{font-size:12px;color:#888888;margin-top:10px;margin-left:30px;}
.post-video .post-content .video-screen{_position:relative;_width:100%;_overflow:hidden;text-align:center}
.post .post-panel{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px; overflow:hidden;}
.post-footer{padding:10px 15px 10px 30px;-moz-border-radius:0 0 10px 10px;-webkit-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px; position:relative;_padding-bottom:31px}
.post-meta .post-topic{width:515px;max-height:34px;line-height:17px;_height:17px;}
.post-meta .post-topic li{float:left;margin-right:10px;display: block;height:17px;white-space:nowrap;}
.post-topic ul{display:block;}
.post-action{margin-left:-1px;margin-top:10px;}
.post-action li{display:inline;display:block}
.post-action li a{display:block;height:23px;ovreflow:hidden;float:left;background:url('http://a.xnimg.cn/smallsite/images/theme/home-like/home-like-icon.png') no-repeat;padding-left:19px;padding-right:12px;line-height:23px}
.post-action li a:hover{}
.post-action li a.delete{ background-position:3px -203px;}
.post-action li a.delete:hover { background-position:3px -233px;}
.post-action li a.edit{ background-position:3px -325px;}
.post-action li a.edit:hover { background-position:3px -355px;}
.post-action li a.share{ background-position:3px -54px;}
.post-action li a.share:hover { background-position:3px -84px;}
.post-action li a.reply{ background-position:3px -386px;}
.post-action li a.reply:hover { background-position:3px -416px;}
.post-action li a.enjoy{ background-position:3px -115px;}
.post-action li a.enjoy:hover { background-position:3px -145px;}
.post-action li a.enjoyed{ background-position:3px -174px;}
.post-action li a.placetop{ background-position:3px -265px;}
.post-action li a.placetop:hover { background-position:3px -295px;}
.post-text .post-content,.post-audio .post-content,.post-link .post-content,.post-article  .post-content{ padding:30px;}
.post-reply{position: relative; margin-top:35px;border-top:1px dotted #D1D1D1; }
.post-reply .reply-panel{margin-top:10px;}
.post-reply .reply-list li{position: relative; padding:5px 0 5px 5px; background-color:#f2f2f2; margin-bottom:5px; overflow:hidden;}
.post-reply .reply-list .head{float:left;}
.post-reply .reply-list .head img{margin-top: 3px; float:left;}
.post-reply .reply-list .reply-main{float:left;width:400px;word-wrap:break-word;}
.reply-list .delete,.reply-panel .shield, .reply-panel .reply-report {float:left; margin:0 0 0 4px; display:none;width:13px;height:13px;text-indent:-9999px;overflow:hidden; outline:none;background-image:url('http://a.xnimg.cn/smallsite/images/home-new/reply-icon.png'); background-repeat:no-repeat;}
.reply-list .reply-list-btn {top:8px; right:6px; }
.reply-list .to-share {display:none; position:absolute; right:6px; top:24px;}
.post-photo h4,.post-video h4 { padding:20px 0 10px 30px;} 
.reply-time{position: absolute; right: 6px; top: 5px; color: #888888;}
.post-reply .reply-list .reply-footer .delete{font-size:15px;}
.post-reply .reply-form{margin-top:10px;}
.post-reply .reply-input{width: 443px;}
.post-reply .reply-input:hover{border:1px solid #b6b6b6;}
#container .input-button{}
.post-text .post-panel{font-size:20px;font-weight: bold;line-height: 22px;padding:30px 40px;}
.post-text .post-content{color:#27A5B3;}
.post-article .post-content{_overflow:hidden;_width:510px;}
.post-article .post-content img{max-width:510px;}
.post-article .content{font-size:14px;line-height:22px;}
.post-article .content p{font-family:'Microsoft Yahei'!important;}
.post-photo .photo{text-align:center;font-size:0;_width:510px;_overflow:hidden;margin-bottom:10px;}
.post-photo .photo img,.post-video img{max-width:580px; }
.post-photo .desc{margin-bottom:10px;text-align:center;font-size:14px; padding:0 30px;}
.post-link .link{font-size:16px;font-weight: bold;line-height: 22px;}
.post-video .video-desc{font-size:14px;margin:10px 20px 0 30px;}
.post-video .video-play{position:relative;display:block;cursor:pointer;margin:0px auto;zoom:1}
.post-video .video-panel .toolbar{text-align:right;margin-top:5px;}
.post-video .video-panel .toolbar .close{cursor:pointer;}
.post-video .play-botton{display:block;width:30px;height:30px;position:absolute;top:50%;left:50%;margin:-15px 0 0 -15px;background:transparent url(http://s.xnimg.cn/smallsite/images/video-player.png) 0 0 no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://s.xnimg.cn/smallsite/images/video-player.png', sizingMethod='image');}
.post-link .thumbnail{margin-top:10px;}
.post-link .thumbnail img{display:block;float:left;width:200px;overflow:hidden;padding:3px;border:1px solid #aeaeae;background-color:#ffffff;}
.post-link .thumbnail p{margin-left:218px;font-size:14px;}
.post-audio .audio-play{display:block;width:102px;height:28px;cursor:pointer;background:transparent url(http://s.xnimg.cn/smallsite/images/audio-player.png) 0 0 no-repeat;}
.post-audio .audio-desc{font-size:14px;margin-top:10px;}

/*music*/
.post-music .album-cover {margin-right:10px}
.post-music .album-cover img{display:block;width:120px;height:120px}
.post-music .post-panel{}
.post-music .post-content{padding: 30px;}
.post-music h3{ font-size: 25px;margin-bottom:10px;line-height:40px;width:515px;}
.post-music p{font-size:14px;text-align:left;padding:5px 0px}
.post-music .textarea-box{width:350px;float:right;overflow-x:hidden}

#pagerbar{ width:125px; height:300px; position:absolute; bottom:48px; left:-160px;}
#pagerbar .pages{text-align:center;font-size:14px;padding-top:18px;}
#pagerbar .pages li a { display:block; width:125px; height:125px; background: url(http://s.xnimg.cn/smallsite/images/theme/home-like/page-bg.png) no-repeat scroll 0 0 transparent; text-indent:-9999px;}
#pagerbar .pages li.prev a { background-position:0 -145px;}
#pagerbar .pages li.prev a:hover { background-position:0 -463px;}
#pagerbar .pages li.next a:hover { background-position:0 -298px;}
#pagerbar .pages li.prev {float:left;}
#pagerbar .pages li.current{margin-top:125px;width:100%;font-family:'Lucida Handwriting';font-size:25px;text-align:center;}
#pagerbar .pages li.current a{color:#888888;}
#pagerbar .pages li.current a:hover{text-decoration:none;}

.reply-panel .loading {display:none;}
#postList .post-text img { vertical-align:middle;}
.time-meta { display:none;}
#main-wrap footer { float:right;clear:right;width:200px;}
.post-text .post-content { display:inline; line-height:1.5;}
#header-followsCounter,header .sitehead,footer .sitehead,#siteTopic-followsCounter,#footer-sitedesc{display:none}
footer{position:relative}
#followsCounter{ position:absolute;top:10px;right:10px;color:#777777;  font-size: 14px;}
.quote-start,.quote-end{ display:inline-block;zoom:1;width:41px;height:31px;vertical-align:middle}
.quote-start{ background:url("http://a.xnimg.cn/smallsite/images/theme/home-like/quote-left.png") no-repeat left top;}
.quote-end{ background:url("http://a.xnimg.cn/smallsite/images/theme/home-like/quote-right.png") no-repeat left top;}
.link a{font-size:25px;line-height:40px;width:515px;}

/*RSS与归档样式*/
.sitehead{ background: #fff; padding-bottom: 35px;}
#siteTopic{ overflow: visible;}
#siteTopic .rss,#siteTopic .archive{ position: relative; float: left;}
.rss a,.archive a{ display:none; position: absolute; width: 30px; height:18px; overflow: hidden; padding-left: 22px; background:url(http://a.xnimg.cn/smallsite/images/theme/home-like/rss2.png) no-repeat; line-height: 18px; font-size: 12px;}
#main-wrap #siteTopic .rss a{ display:block; background-position:0 0; top: -45px; left: 125px; color:#666; }
#main-wrap #siteTopic .archive a{ display:block; background-position:0 -18px; top: -45px; left:20px; color:#666; }
#main-wrap #siteTopic .rss a:hover{ background-position:0 -36px; color:#b7b7b7;}
#main-wrap #siteTopic .archive a:hover{ background-position:0 -54px; color:#b7b7b7;}
/*header .rss a{}
header .archive a{}
footer .rss a{}
footer .archive a{}*/

/*hot-count*/
.hot-count {float:left; margin:3px 6px 0 0;}
.hot-count h5 {display:none;}
.post-action .hot-count a {margin-right:5px; padding-left:15px; text-decoration:none; background:url(http://a.xnimg.cn/smallsite/images/theme/home-like/home-like-icon.png) 0 3px no-repeat;}
.post-action .hot-count a:hover {background-position:0 -27px;}
.release {margin-left: 5px; margin-top: 8px;}
.post-action .hot-count a {margin-right:5px; padding-left:15px; color:#999; text-decoration:none; background:url(http://a.xnimg.cn/smallsite/images/theme/home-like/home-like-icon.png) 0 3px no-repeat;}
.post-action .hot-count a:hover {background-position:0 -27px; color:#27A5B3;}
header #master, header #followers {display:none;}
header #master, header #followers,#header-followers,#header-master {display:none;}
.release-time span{_line-height: 18px;}
.post .ccagreement {margin-left: 30px;}