/*----This is normal stylesheet for light----*/
body{word-wrap:break-word;background:url('http://a.xnimg.cn/smallsite/images/theme/light/light_bg.png') repeat fixed}

/*default-font-color*/
body{color:#4d4d4d}
a:link,a:visited{text-decoration:none;color:#dadddd}
#sitedesc{color:#6d6d6d;}

/*#container*/
#container{position:relative;width:920px;margin:80px auto 0 auto;*padding-top:80px;_padding:0px}
#container  h1{*margin-bottom:30px}

/*header*/
#container header{width:300px;margin-top:30px;padding:0px;border-radius:5px;background:#e4e8e9;*margin-bottom:30px; overflow: hidden;}
#container header .sitehead{display:block;width:300px;text-align:center}
#container header .sitehead img{display:block;width:300px;}
#container  h1,#sitedesc{text-align:left;background:#e4e8e9}
#container  h1{width:250px;padding:25px;border-radius:5px;font-size:28px;font-weight:bold}
#container #sitedesc{padding:30px;border-radius:5px;font-size:16px;font-weight:normal;-moz-border-radius-bottomleft:0px;-webkit-border-bottom-left-radius:0px;-moz-border-radius-bottomright:0px;-webkit-border-bottom-right-radius:0px;}
#header-followsCounter{display:block;padding:30px;padding-top:0px;background:#e4e8e9;border-radius:5px;-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;-moz-border-radius-topright:0px;-webkit-border-top-right-radius:0px;*margin-bottom:30px}
#header-followsCounter a ,#header-followsCounter a:hover{text-decoration:none;color:#4d4d4d ;}
#header-followsCounter em{text-decoration:inherit;font-style:normal}
#title{color:#a8afb0;text-shadow: 0 -1px #787878,0 1px #fff;-moz-transition: color 400ms ease-out 0s;-webkit-transition: color 400ms ease-out 0s;transition: color 400ms ease-out 0s;}
#title:hover{color:#abeced;text-shadow: 0 0;}
/*#main-wrap*/
#main-wrap{width:300px;margin:0px}
.tag-selector li a{_color:#536981!important;}
/*#main-wrap-main*/
#main{position:absolute;width:500px;top:0px;left:400px;padding-bottom:50px;*padding-top:80px;_padding:0px}

/*#main-wrap-main-post*/
#main .post{width:100%;margin:0 auto 85px auto;padding:0px;overflow:hidden;border-radius:5px;background:#e4e8e9;font-size:14px; line-height:25px}
#main .post h4,.post-text .post-content,.post-link .link,#main .post-link .link,.post-music h3{width:480px;padding:10px;line-height:38px;font-weight:normal;font-size:22px;background:#d2d6d7;-moz-border-radius-topleft:5px;-webkit-border-top-left-radius:5px;-moz-border-radius-topright:5px;-webkit-border-top-right-radius:5px;text-shadow:1px 1px 1px rgba(0,0,0,0.5);-webkit-text-shadow:1px 1px 1px rgba(0,0,0,0.5);-moz-text-shadow:1px 1px 1px rgba(0,0,0,0.5)}
#main .post-link .link{margin-bottom:10px;}
#main .post-link .link a{text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);color:#4d4d4d;}
#main .post .post-panel .time-meta{display:none}
#main .post .post-footer{background:url('http://a.xnimg.cn/smallsite/images/theme/light/sitetopic_bg.jpg');border-bottom:1px solid #666;-moz-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;}
#main .post-link .desc{padding:0 10px 0 10px;line-height:28px}
#main .post-photo .desc{padding:5px 8px}
#main .post-audio .audio-play{margin:10px auto}
#main .post-audio .audio-desc,#main .post-video .video-desc{padding:5px 8px;text-align:left;line-height:28px}
#main .post .reprint a{color:#4d4d4d}
#main .post .reprint{padding-left:10px}

/*music*/
.post-music .album-cover {margin-right:10px}
.post-music .album-cover img{display:block;width:120px;height:120px}
.post-music .music-box {padding:10px}
.post-music p{font-size:14px;text-align:left;padding:5px 0px}
.post-music .textarea-box{width:310px;float:right;overflow-x:hidden}

/*post-content-style*/
#main .post .post-content .content{padding:10px;background-color:#e4e8e9!important;}
#main .post .post-content{width:500px;_overflow:hidden}
#main .post .post-content .photo{padding:0px}
#main .post-photo .post-content h4{width:500px;padding:0px;line-height:50px;}
#main .post-photo .post-content{text-align:center}
#main .post-text .post-content,#main .post-article h4{width:480px;*overflow:hidden;padding:10px}

/*light-bg-default*/
#container h1,
#main .post,
#container header,
#siteTopic,
footer #master,
footer #followers,
#pagerbar .pages .prev a,
#pagerbar .pages .next a{-moz-box-shadow:0px 0px 25px rgba(0,0,0,0.15);-webkit-box-shadow:0px 0px 25px rgba(0,0,0,0.15);box-shadow:0px 0px 25px rgba(0,0,0,0.15);-moz-transition: box-shadow 400ms ease-out 0s;-webkit-transition: box-shadow 400ms ease-out 0s;transition: box-shadow 400ms ease-out 0s;}

/*light-bg-hover*/
#container h1:hover,
#main .post:hover,
#container header:hover,
#siteTopic:hover,
footer #master:hover,
footer #followers:hover,
#pagerbar .pages .prev a:hover,
#pagerbar .pages .next a:hover{-moz-box-shadow:0px 0px 25px #abeced;-webkit-box-shadow:0px 0px 25px #abeced;box-shadow:0px 0px 25px #59e5e7;-moz-transition: box-shadow 400ms ease-out 0s;-webkit-transition: box-shadow 400ms ease-out 0s;transition: box-shadow 400ms ease-out 0s;}

/*audio button*/
.post-audio .audio-play {display:block;width:102px;height:28px;background:url(http://s.xnimg.cn/smallsite/images/audio-player.png) no-repeat scroll 0 0 transparent;cursor:pointer}
.post .audio-holder {}
/*video button*/
.post-video .play-botton {display: block;position:absolute;top:50%;left:50%;width:30px;height:30px;margin:-15px 0 0 -15px;background:url("http://s.xnimg.cn/smallsite/images/video-player.png") no-repeat scroll 0 0 transparent}
.post-video .video-play {display:block;cursor:pointer;position:relative;margin:0px;_width:100%;*zoom:1;_overflow:hidden}
.video-screen{_position:relative;_display:block;_width:100%;_overflow:hidden;zoom:1}
.post-video img{display:block;margin:0px auto}
/*img style*/
.post-text img,.post-photo img,.post-video img{display:block;max-width:500px;_width:500px;}
.video-screen embed{max-width:500px;_width:500px;}
.video-screen object{max-width:500px;max-height:400px;_width:500px;_height:400px;}
.post-article .post-content img{display:block;max-width:480px}
/*.post-video .post-content .video-screen img{min-width:200px}*/

/*article > p*/
.post-article .post-content p{max-width:480px}

/*#main-wrap-post-tag*/
.post-topic{width:95%;margin:0px auto;overflow:hidden;height:35px;border-bottom:1px dotted #fff;}
.post-topic ul{width:340px;height:25px;overflow:hidden;margin-top:6px;padding:0px 0px 0px 10px;background:url(http://a.xnimg.cn/smallsite/images/theme/light/light_icon.png) no-repeat -8px 3px;_background:url(http://a.xnimg.cn/smallsite/images/theme/light/ie-icon.png) no-repeat 0 -195px;overflow:hidden}
.post-topic li{display:inline-block; *display:inline;float:left; *zoom:1; height:25px;padding:0px;line-height:25px;font-size:12px;margin:0 0 0 10px}
.post-topic li a{display:block; _float:left; _height:25px; _white-space:nowrap; word-break:break-all; color:#cccccc;-moz-transition: color 400ms ease-out 0s;-webkit-transition: color 400ms ease-out 0s;transition: color 400ms ease-out 0s;}
.post-topic li a:hover{color:#abeced;-moz-transition: color 400ms ease-out 0s;-webkit-transition: color 400ms ease-out 0s;transition: color 400ms ease-out 0s;}
/*post-time-meta-style*/
.time-s-1-1,
.time-s-1-2,
.time-s-2-1,
.time-s-2-2,
.time-s-2-3{display:none}

/*#main-wrap-post-post-action*/
.post-action{position:relative;width:100%;margin:0px;padding:4px 0 4px;}
.post-action .time-meta{position:absolute;top:-31px;left:370px;*left:350px;width:110px;padding:0 0 0 30px;white-space:nowrap;font-family:Georgia;border-radius:5px;color:#dadddd;background:url("http://a.xnimg.cn/smallsite/images/theme/light/light_icon.png") no-repeat 0px -78px;_background:url("http://a.xnimg.cn/smallsite/images/theme/light/ie-icon.png") no-repeat 9px -24px;font-size:12px}
/*post-action-icon*/
.post-action li a{display:inline-block;*float:left; *zoom:1;height:21px; padding:0 0 0 30px; margin-top:4px; _padding-right:3px; line-height:21px; float:none;overflow:hidden; outline:none; background:url("http://a.xnimg.cn/smallsite/images/theme/light/light-icon2.png") no-repeat; font-size:12px}
.reply-content a{color:#abeced;}
.reply-content a.replyTo {color:#abeced;}
.post-action li a:hover{color:#abeced;}
.post-action li a.delete{background-position:12px -128px; }
.post-action li a.delete:hover {background-position:12px -149px;}
.post-action li a.edit{background-position:12px -219px; }
.post-action li a.edit:hover {background-position:12px -240px;}
.post-action li a.share{background-position:12px -83px; }
.post-action li a.share:hover {background-position:12px -106px; }
.post-action li a.reply{background-position:12px -265px; }
.post-action li a.reply:hover {background-position:12px -292px; }
.post-action li a.enjoy{background-position:12px -40px; }
.post-action li a.enjoy:hover {background-position:12px -60px; }
.post-action li a.enjoyed {background-position:12px -324px;}
.post-action li a.placetop{background-position:12px -173px; }
.post-action li a.placetop:hover {background-position:12px -196px; }

/*siteTopic*/
#siteTopic{width:300px;margin:30px 0 0 0;*margin-top:50px;border-radius:5px;overflow:hidden;background:url('http://a.xnimg.cn/smallsite/images/theme/light/sitetopic_bg.jpg') repeat-x #e4e8e9}
#siteTopic h4{height:35px;padding-left:30px;color:#dadddd;font-size:16px;line-height:35px;}
#siteTopic .sitehead,#siteTopic-followsCounter{display:none}
#siteTopic .topics{width:100%;border-radius:5px;overflow:hidden;font-size:14px}
#siteTopic .topics li{height:35px;border-top:1px solid #fff;border-bottom:1px solid #c4c8c7;padding-left:30px;line-height:35px;overflow:hidden;-moz-transition: background-color 200ms ease-out 0s;-webkit-transition: background-color 200ms ease-out 0s;transition: background-color 200ms ease-out 0s;}
#siteTopic .topics li:hover{background-color:#abeced; border-bottom: 1px solid #94d4d5; border-top: 1px solid #bffdfe;-moz-transition: background-color 200ms ease-out 0s;-webkit-transition: background-color 200ms ease-out 0s;transition: background-color 200ms ease-out 0s;}
#siteTopic .topics li a{color:#6c6e6d}
#siteTopic .topics li a.s{font-weight:bold}
#siteTopic #siteTopic-followsCounter{position:absolute;top:0px;left:50%;width:500px;margin-left:-250px;font-size:18px;font-weight:bold;text-align:center}

/*sync_area*/
#container .add-reply .sync_area{color: #CCCCCC;*margin-top:1px; right: 1px;}
#container .add-reply .sync_area input{vertical-align:middle;width:auto;height:auto;margin-bottom:5px;*margin-top:0px;margin-bottom:2px\9;background:none;border:none;outline:none}
#container .add-reply .sync_area label{cursor:pointer;*zoom:1;*padding-top:3px}

/*reply*/
.post-reply{width:95%;margin:10px auto 0 auto}
.add-reply{margin:0px;padding-bottom: 30px;}
.add-reply textarea{width:384px;border:1px solid #ebebeb;}
.add-reply textarea:hover{border:1px solid #404040;}
.add-reply .input-button{background-image:url('http://a.xnimg.cn/smallsite/images/theme/light/reply.png');}
.reply-list li{position: relative; width: 100%; border-bottom: 1px dotted #FFFFFF; margin: 0 auto; padding: 10px 0;}
.reply-list li .head{display:block;float:left;width:40px;height:40px; margin-top:3px; overflow:hidden;}
.reply-list li img{width:40px;height:40px} 
.reply-list li .reply-time{position:absolute; top:10px; right:0px; display:block; color:#ccc; font-size:12px;}
.reply-list .reply-main{float:left;width:350px;text-align:left}
.reply-list .reply-content{display:block;padding:0 10px 0 10px;font-size:12px;overflow:hidden;color:#ccc;}
.reply-list .reply-time{display:block;float:left}
.reply-list .delete,.reply-panel .shield, .reply-panel .reply-report {float:left; margin:0 0 0 4px; display:none;width:13px;height:13px; _widht:11px; _height:12px; text-indent:-9999px;overflow:hidden; outline:none;background-image:url('http://a.xnimg.cn/smallsite/images/home-new/reply-icon.png'); _background-image:url('http://a.xnimg.cn/smallsite/images/home-new/reply-icon-ie.png'); background-repeat:no-repeat;}
.reply-list .reply-list-btn {top:13px; right:0px; }
.reply-list .to-share {display:none; position:absolute; right:0px; top:29px; color:#CCCCCC;}
.reply-list .to-share a {color:#ABECED;}
 
/*pagerbar*/
#pagerbar{width:100%;height:0px;text-align:center;padding-bottom:20px}
#pagerbar .pages{width:500px}
#pagerbar .pages li{display:inline-block;margin:0px 10px;vertical-align:middle;height:38px;line-height:38px;*display:inline;*zoom:1;}
#pagerbar .pages .prev a,#pagerbar .pages .next a{display:block;width:136px;height:38px;border-radius:2px;background:#e4e8e9;color:#4c4d4f;line-height:38px;overflow:hidden;vertical-align:middle;font-size:18px}
#pagerbar .current{height:20px;padding:0px;margin:0px;font-size:22px;line-height:20px;text-align:center;*position:relative;*top:-5px;*height:25px;*line-height:26px}

/*footer*/
#container footer{padding:0px;width:300px;margin:30px 0 0 0;*margin-top:0px;font-size:14px}
#container footer #footer-sitedesc,footer .sitehead{display:none}

/*footer-master*/
#container footer #master h4,footer #followers h4 {font-size:15px;height:35px;padding-left:15px;color:#d4dddd;line-height:35px;font-weight:normal}
#container footer #master,footer #followers{width:276px;margin:30px 0 0 0;padding:0 10px 10px 14px;border-radius:5px;background:url('http://a.xnimg.cn/smallsite/images/theme/light/sitetopic_bg.jpg') repeat-x #e4e8e9}
#container footer #master .list,footer #followers .list{padding:10px 0 10px 0;}
#container footer #master .list li,footer #followers .list li{float:left;margin:5px 0 0 5px;_display:inline}
#container footer #master .list li img{width:62px;height:62px}
#container footer #followers li{margin:10px 7px 0 0;}
#container footer #followers img{display:block;width:62px;height:62px}
#container footer #followsCounter{display:none}
.share-to dt a{_color:#536981!important;}

/*RSS与归档样式*/
#container header{ position:relative; *height:100%; _height:1%;}
#header-followsCounter{ padding-bottom:82px; *padding-bottom:50px; _padding-bottom:0;}
.rss,.archive{ display:none;border-top:1px solid #fff;border-bottom:1px solid #c4c8c7;padding-left:30px;line-height:35px;overflow:hidden;-moz-transition: background-color 200ms ease-out 0s;-webkit-transition: background-color 200ms ease-out 0s;transition: background-color 200ms ease-out 0s;}
.rss:hover,.archive:hover{background-color:#abeced; border-bottom: 1px solid #94d4d5; border-top: 1px solid #bffdfe;-moz-transition: background-color 200ms ease-out 0s;-webkit-transition: background-color 200ms ease-out 0s;transition: background-color 200ms ease-out 0s;}
header .rss,header .archive { display:block; width:270px; height:35px; font-size: 14px; position:absolute; left:0; _position:static;}
header .rss,header .rss:hover{ bottom:0; border-bottom:0; }
header .archive{ bottom:36px; _margin-bottom:10px;}
header .rss a,header .archive a{background:url('http://a.xnimg.cn/smallsite/images/theme/light/rss.png') no-repeat; _background:url('http://a.xnimg.cn/smallsite/images/theme/light/rssie6.png') no-repeat; padding-left:20px;}
#container header .rss a{ background-position:0 2px; right: 0; color:#6C6E6D; }
#container header .archive a{ background-position:0 -16px; right: 35px; color:#6C6E6D;}
/*hot-count*/
.hot-count {float:left; margin-top:2px; *margin-top:1px; height:21px;}
.hot-count h5 {display:none;}
.post-action .hot-count a {height:21px;margin-right:5px; _margin-right:0px; padding-left:30px; text-decoration:none; background:url(http://a.xnimg.cn/smallsite/images/theme/light/light-icon2.png) 12px 3px no-repeat;}
.post-action .hot-count a:hover {background-position:12px -17px; color:#abeced;}
.release{margin-top: 10px;}
.release-name a,.release .btn{color: #ABECED!important;}
.release-time{color: #CCCCCC!important;}
.reply-list{*width: 475px; border-top: 1px dotted #FFFFFF;}
.post-action .hot-count a:hover {background-position:12px -17px; color:#abeced;}
header #master, header #followers {display:none;}
header #master, header #followers,#header-followers,#header-master {display:none;}
.post .ccagreement {margin: 10px 0 10px 10px;}
.reply-panel {padding-bottom: 10px;}