body{background-color:#fee035;color:#000; word-wrap:break-word;}
a:link,a:visited{text-decoration:none;color:#e79203;}
#main-wrap, #container header{width:940px;margin:0 auto;}
header {position:relative;}
header h1 {width:960px;height:55px;margin:40px auto 30px;font-size:50px;line-height:50px;overflow:hidden;}
header h1 a:link, header h1 a:visited{ color:#000; font-size:50px; }
#title{color:#000;-moz-transition: color 400ms ease-out 0s;-webkit-transition: color 400ms ease-out 0s;transition: color 400ms ease-out 0s;}
#header-followsCounter:hover{color:#ff6f05;}
header a.sitehead {position:absolute;top:115px;left:-5px;*top:155px;height:150px;width:150px;border: 4px solid #FFFFFF;box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4),0 0 3px rgba(0, 0, 0, 0.9);overflow: hidden;outline:2px #818181;}
#sitedesc {width:720px;padding:60px 50px 0px 170px;background:#FFEB78;line-height:22px;font-size:14px;min-height:145px;_height:180px;}
#title:hover{color:#e79203;}
#main-wrap {position:relative;_left:-10px;padding:100px 0 0 0;background-color:#FFEB78;z-index:198;}
#siteTopic {position:absolute;top:0;padding:0 0 0 15px;}
#siteTopic h4 {display:none;}
#siteTopic ul {float:left;width:720px;padding:0 0 25px 155px;border:1px solid #CCBC60;border-width:0 0 1px 0;}
#siteTopic li {margin:0 20px 5px 0;font-size:14px;line-height:20px;zoom:1;display:inline-block;*display:inline;}
.topics li a.s {font-weight:bold;}	
	/*sync_area*/
#container .add-reply .sync_area input{vertical-align:middle;width:auto;height:auto;margin-bottom:5px;*margin-top:0px;margin-bottom:1px\9;background:none;border:none;outline:none}
#container .add-reply .sync_area label{cursor:pointer;*zoom:1;*padding-top:3px}
#postList article{width:810px;display:block;margin: 0 0 20px 60px;padding:10px 10px 20px}
#postList article .post-panel{position:relative;*zoom:1;}
#postList .post-text i.quote-start {display:inline-block;width:35px;height:21px;background:url(http://a.xnimg.cn/smallsite/images/theme/lightyellow/quote-left.png) no-repeat left top;}
#postList .post-text i.quote-end {display:inline-block;width:35px;height:21px;background:url(http://a.xnimg.cn/smallsite/images/theme/lightyellow/quote-right.png) no-repeat left top;}
.time-meta { width:70px; height:70px; position:absolute; left:-76px; top:0px; background: url(http://a.xnimg.cn/smallsite/images/theme/lightyellow/sprite.png) no-repeat scroll 0 0 transparent;text-indent:-9999px;top:8px;} 
.post-text .time-meta { background-position:0 -444px;}
.post-photo .time-meta { background-position:0 -282px;}    
.post-article .time-meta { background-position:0 -366px;}
.post-link .time-meta { background-position:-84px -444px;}
.post-audio .time-meta,.post-music .time-meta { background-position:-84px -366px;}
.post-video .time-meta { background-position:-84px -282px;}
.post-text .post-content,article h4,.post-link .link,.post-music h3{font-size:30px;font-weight:bold;margin-bottom:30px; padding-left:45px;-webkit-text-shadow:1px 1px 1px rgba(0,0,0,0.5);-moz-text-shadow:1px 1px 1px rgba(0,0,0,0.5);line-height:42px;}
.post-text .post-content img{vertical-align:text-top;margin-top:5px;}
.reprint{font-size:12px; margin-top:10px; padding-left:45px;}
.post-topic li{float:left;font-size:12px;padding:0 10px 5px 0; white-space: nowrap;}
.post-topic { padding:10px 0 0 6px;}
.post-action a{display:inline-block;zoom:1; height:16px;line-height:16px;padding:0 30px 0 25px;font-size:12px}
.reply,.enjoy,.enjoyed,.share,.post-action .delete,.post-action .edit,.post-action .placetop{background:url(http://a.xnimg.cn/smallsite/images/theme/lightyellow/fun.png) no-repeat 0 -25px;}
.reply{background-position:0 -130px;}
.enjoy{background-position:0 -3px;}
.enjoyed{background:url(http://a.xnimg.cn/smallsite/images/theme/lightyellow/sprite.png) no-repeat 0 -25px;background-position:6px -118px;}
.share{background-position:0 -32px;}
.post-action .placetop{background-position:0 -99px;}
.post-action .edit{background-position:0 -65px;}
.post-action .delete{background-position:0px -164px;}
.post-photo .photo img,.post-video .content img,.post-article .content img{display:block;max-width:755px;border:solid 5px #fff;_width:755px;}
.post-article .content img {display:inline;}
.post-photo .photo,.post-article .content { overflow:hidden; background-color:transparent; width:765px; line-height:22px;margin-left:45px;}
.post-article .content img{margin-top:10px;}
.post-photo .desc{line-height:24px;margin-bottom:10px;margin-left:45px;}
.desc,.video-desc,.audio-desc { text-align:left;margin-left:45px;}
.post-link .thumbnail{margin-top:10px; padding-left:50px;}
.post-link .thumbnail img{display:block;float:left;width:200px;overflow:hidden;padding:3px;border:1px solid #aeaeae;background-color:#ffffff;}
.post-link .thumbnail p{margin-left:218px;font-size:16px; text-align:left;line-height:24px;}
.post-video embed{border:solid 5px #fff;width:720px;height:581px;}
.post-video object{width:720px;height:581px;}
.video-panel,.audio-panel{ text-align:center;}
#pagerbar{margin:45px 0 0 80px;text-align:center;position: relative;width:780px;}
.pages li{display:inline-block;zoom:1;*display:inline; line-height:48px;}
.pages li.num { font-size:24px; color:#f00; width:300px;}
.pages .prev a{ background:url(http://a.xnimg.cn/smallsite/images/theme/lightyellow/pre.png) no-repeat;overflow: hidden;text-indent:-999px;position: absolute;left:125px;top:2px;display: block;width:86px;height:46px;}
.pages .next a{ background:url(http://a.xnimg.cn/smallsite/images/theme/lightyellow/next.png) no-repeat;overflow: hidden;text-indent:-999px;position: absolute;right:140px;top:2px;display: block;width:86px;height:46px;}
footer{margin-top:70px;}
footer h4{font-size:16px;padding-bottom:10px;}
footer img { width:50px; height:50px; float:left;}
#master,#followers{display:inline;float:left;width:920px;;padding:10px 0;margin-left:17px;}
.list li{float:left;margin:5px 5px 0 0;}
.list li img{display:block;border:1px solid #ffffff;}
.add-reply{margin:20px 0 13px;}
.add-reply textarea{border: 1px solid #E3E3E3; width: 675px;}
.add-reply textarea:hover{border: 1px solid #b6b6b6;}
.reply-list li{position:relative;*zoom:1;margin-top:5px;  background-color:#fee035; padding:4px;}
.reply-list .head img{float:left;display:block;width:30px;height:30px;padding:1px;border:1px solid #ffffff; margin-top: 3px;}
.reply-list .reply-content{float:left; width: 640px; padding:5px 125px 0 44px; overflow: hidden}

.reply-list .delete,.reply-panel .shield, .reply-panel .reply-report {float:left; margin:0 0 0 4px; display:none;width:13px;height:13px;text-indent:-9999px;overflow:hidden; outline:none;background-image:url('http://a.xnimg.cn/smallsite/images/home-new/reply-icon.png'); background-repeat:no-repeat;}
.reply-list .reply-list-btn {top:6px; right:3px; }
.reply-list .to-share {display:none; position:absolute; right:3px; top:23px;}

.reply-list .reply-time{position:absolute;right:3px;top:4px;font-size:12px;}
#container .post-video .play-botton{background: url("http://s.xnimg.cn/smallsite/images/video-player.png") no-repeat scroll 0 0 transparent; display: block; height: 30px; left: 50%; margin: -15px 0 0 -15px; position: absolute; top: 50%; width: 30px;}
.post-video .video-play {display:inline-block;position:relative;;*display:inline;*zoom:1;cursor:pointer}
}
.post-photo .desc,.audio-desc,.video-desc { padding-top:10px; margin:0 auto; width:715px;}
.post-text .post-content img {display: inline;}
.corner-fold {background: url("http://a.xnimg.cn/smallsite/images/theme/lightyellow/corner-fold.png") no-repeat scroll right top; display: inline; float: right; height: 60px; margin-right: -1px; margin-top: -1px; width: 60px;position:relative;}
#main .post-reply{display:block;border:1px solid none}
#main .post-reply .reply-list{display:block;clear:both}
.corner-fold .corner-inner {  height:75px; width:75px; background:#FEE035; left:22px; top:-36px ;-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg);-o-transform:rotate(45deg); position:absolute; }
.video-screen {text-align:center;}
.post-footer { padding-left:40px;display:block}
#siteTopic .sitehead,#followsCounter,footer .sitehead,#footer-sitedesc,#siteTopic-followsCounter,.post-footer .post-action .time-meta{display:none}
#header-followsCounter {position:absolute;top:105px;left:170px;font-size:16px;font-weight:bold;color:#E79203;*top:145px;}
#header-followsCounter a,#header-followsCounter a:hover{text-decoration:none ;}
#header-followsCounter em {font-size:24px;font-style:normal;}
.header-corner {display:block;position:absolute;right:0px;top:85px;*top:125px;_right:20px;width:55px;height:55px;background-color:#FEE035;overflow:hidden;background:url(http://a.xnimg.cn/smallsite/images/theme/lightyellow/head-corner3.png) no-repeat scroll 0px -2px;box-shadow: -2px 1px 1px rgba(0, 0, 0, 0.3);background:none\0;box-shadow:0px 0px 0px\0;}
.header-corner em {display:block;width:100px;height:100px;background-color:#FEE035;display:block\9;margin:0px\9;transform:rotate(135deg);-webkit-transform:rotate(135deg);-moz-transform:rotate(135deg);margin:-57px 0 0 14px;display: none\0;}
/*music*/
.post-music .album-cover {margin-right:10px}
.post-music .album-cover img{display:block;width:120px!important;height:120px}
.post-music .post-panel{position: relative;}
.post-music .post-content {width:740px}
.post-music .music-box{padding-left:45px;}
.post-music p{font-size:16px;text-align:left;padding:5px 0px;line-height:24px;}
.post-music .textarea-box{width:76%;float:right;overflow-x:hidden}
body{line-height:1.5!important;}
a {-moz-transition: color 400ms ease-out 0s;-webkit-transition: color 400ms ease-out 0s;transition: color 400ms ease-out 0s;}
.tag-selector li a, .tag-selector li a:hover,.share-to dt a, .share-to dt a:hover{color:#536981!important;}
a:link,a:visited{color:#E79203;}
a:hover{color:#ff6f05;}
.content span,.content p{line-height:1.5;}
#tagOrderTip{z-index:1000;}
.audio-screen {	padding-left:45px;}
.post-audio .audio-play {background: url("http://s.xnimg.cn/smallsite/images/audio-player.png") no-repeat scroll 0 0 transparent; cursor: pointer; display: block; height: 28px; width: 102px;}

/*RSS与归档样式*/
.rss a,.archive a{ display:none; position: absolute; left: -32px; width: 26px; height:26px; overflow:hidden; background:url(http://a.xnimg.cn/smallsite/images/theme/lightyellow/rss2.png) no-repeat; text-indent: -9999em; }
header .rss a{ display:block; background-position:right 1px; top: 141px; *top: 181px; }
header .archive a{ display:block; background-position:right -27px; top: 115px; *top: 155px; }
header .rss a:hover{ background-position:0 1px;}
header .archive a:hover{ background-position:0 -27px;}
/*#siteTopic .rss a{}
#siteTopic .archive a{}
footer .rss a{}
footer .archive a{}*/

/*hot-count*/
.hot-count {float:left;}
.hot-count h5 {display:none;}
.hot-count a {height:16px; line-height:16px; background:url(http://a.xnimg.cn/smallsite/images/theme/lightyellow/hot-icon.png) 4px 0 no-repeat;}
.release-pic img{border: 1px solid #FFFFFF; display: block; padding: 1px;}
.release{margin-left:4px;}
.release .release-pic{padding-right: 10px;}
.release-name, .release-time, .release-name a, .release-time, .release-time span, .btn{height:24px;line-height: 24px;}
#container .add-reply .sync_area{margin-top: 9px;}
.hot-count a {height:16px; line-height:16px; background:url(http://a.xnimg.cn/smallsite/images/theme/lightyellow/hot-icon.png) 4px 0 no-repeat;}
header #master, header #followers {display:none;}
header #master, header #followers,#header-followers,#header-master {display:none;}
.post .ccagreement{margin-left: 45px;}