/*----This is normal stylesheet for mars by L-moon----*/
body{background:#3d3d3d url(http://a.xnimg.cn/smallsite/images/theme/marstheme/star.jpg) center repeat fixed;font:normal 14px "Microsoft Yahei",Arial;  word-wrap:break-word;}
a:link,a:visited{text-decoration:none; color:#818181;}
#container{width:990px;margin:0 auto; padding-top:50px; position:relative;}
#header-followsCounter:hover{color:#fff195;}
#container header{width:280px;text-align:right;color:#ffffff;}
.sitehead{display:block;width:160px;height:160px;margin:0 0 10px 120px;border-radius:80px;overflow: hidden;}
.sitehead img{display:block;width:160px;height:160px;}
.data{height:24px;margin-bottom:10px;}
#header-followsCounter{font-size:16px;font-weight:bold;}
#header-followsCounter em{font-style:normal}
#header-followsCounter a,#header-followsCounter a:hover {color:#fff; text-decoration:none;}
#siteTopic ,#container footer{ float:left; width:280px; margin-top:20px; clear:left;}
#siteTopic h4 { display:none;}
#sitesummary{margin-bottom:10px;}
#title{font-size:40px;font-weight:bold;margin-bottom:10px; color:#fff;}
#title:hover{color:#fff195;}
.topics li{width:280px; *display:inline; height:36px;*zoom:1;overflow:hidden;}
.topics li a{display:block;float:right;padding:4px  8px 4px 12px;width:auto;min-width:42px;_width:42px;margin-bottom:10px;font-size:14px;color:#ffffff!important;background-color:#000000;-moz-transition: .4s ease-in-out;-o-transition: .4s ease-in-out;-webkit-transition: .4s ease-in-out;transition: .4s ease-in-out; white-space:nowrap;*zoom:1;}
.topics li a.s { font-weight:bold;}
.topics li a:hover { background: #fff195; padding-left:115px; color:#000!important;-moz-transition: .4s ease-in-out;-o-transition: .4s ease-in-out;-webkit-transition: .4s ease-in-out;transition: .4s ease-in-out;}
#master,#followers{display:block;position:relative;width:232px;margin:60px 0 20px;padding:10px 24px 24px;text-align:right;color:#FFFFFF;background:-moz-linear-gradient(315deg, transparent 25px, rgba(0,0,0,0.75) 25px);background:-webkit-linear-gradient(315deg, transparent 25px, rgba(0,0,0,0.75) 25px);background:-o-linear-gradient(315deg, transparent 25px, rgba(0,0,0,0.75) 25px);background:linear-gradient(315deg, transparent 25px, rgba(0,0,0,0.75) 25px);background-size: 278px 100%;background-repeat: no-repeat;background-position:top left;*background:#000001;_background:#000001;background:#000001\0;}
/*sync_area*/
#container .add-reply .sync_area{margin-top: 8px;_right:23px;}
#container .add-reply .sync_area input{vertical-align:middle;width:auto;height:auto;margin-bottom:5px;*margin-top:0px;margin-bottom:1px\9;background:none;border:none;outline:none}
#container .add-reply .sync_area label{cursor:pointer;*zoom:1;*padding-top:3px}
.add-reply {padding-bottom: 32px;}
.header{display:block;margin-right:-24px;position:absolute;top:-24px;width:256px;height:24px;background:rgba(0,0,0,0.75);filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1,startColorStr=#00000000,endColorStr=#00000000);}
.header span{display:block;width:24px;height:24px;left:-24px;overflow:hidden;position:absolute;}
.header span b{display:block;position:absolute;left:6px;top:6px;height:40px;width:40px;-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);-webkit-transform:rotate(45deg);background:rgba(0,0,0,0.75);filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1,startColorStr=#00000000,endColorStr=#00000000);}
#container footer h4{font-size:18px;margin-bottom:10px;}
#container footer  li{float:right;}
#container footer  li a,#container footer  li img{ opacity:1;filter:Alpha(opacity=100);}
#master ul{margin-left:-8px;}
#master  img{display:block;width:40px;height:40px;margin-left:8px;}
#followers ul{margin-left:-3px;}
#followers  img{display:block;width:75px;height:75px;margin:0 0 3px 3px;}
#main{width:695px;position:absolute; right:0; top:50px; z-index:10;_zoom:1;}
.post{position:relative;*zoom:1;padding-bottom:10px;margin:0 0 50px 0; min-height:194px;}
.post-panel{min-height:100px;_height:100px;width:500px; background-color:#fff;padding-bottom:10px;}
.post-footer { width:500px; background-color:#fff; padding-bottom:10px;}
.post-article .content{width:460px;margin:0 auto;}
.post-link .link{width:460px;}
.post-link .thumbnail{margin:10px auto 0;width:460px;}
.post-link .thumbnail img{display:block;float:left;width:200px;overflow:hidden;padding:3px;border:1px solid #aeaeae;margin-right:10px;background-color:#ffffff;}
.post-link .thumbnail p{margin-left:218px;font-size:14px;}
.reprint{margin:10px 20px 0;font-size:12px;}
.post-text  .post-content{padding:5px 10px;font-size:24px;font-weight:bold;}
.post-meta{position:absolute;right:-26px;top:140px;width:200px; font-size:16px; padding-left:20px}
.time-meta{ display:block;width:126px;height:126px; -moz-border-radius:63px;-webkit-border-radius:63px;border-radius:63px;background-color:#000; position:absolute; right:50px; top:0;}
.time-meta i ,.time-meta .year{display:none;}
.time-meta .time-s-2-2,.time-meta  .month{display:inline;font-size:22px;text-align:center; color:#fff; font-style:normal; position:absolute; top:21px; left:66px;}
.time-meta  .month {left:40px;} 
.time-meta .time-s-1-1{display:block; width:100px; height:2px; background-color:#888; text-indent:-9999px; position:absolute; top:64px; left:13px;*display:none;}
.time-meta .day{display:block;font-size:40px;line-height:36px;text-align:center;font-style:normal;padding-top:25px; position:absolute; top:52px;width:100%;}
.post-meta .first{color:#fff;background-color:#000000;}
.post-meta .first em{color:#fff195;}
.post-topic ul{width:180px;overflow: hidden;height:107px;}
.post-topic ul li{width:180px;white-space:nowrap;display: block;height:36px;}
.post-topic ul li a{-moz-transition: .4s ease-in-out;-o-transition: .4s ease-in-out;	-webkit-transition: .4s ease-in-out;transition: .4s ease-in-out;background-color: #000000; color: #FFFFFF !important; display: inline-block; font-size: 14px; font-weight: normal; height: 21px; margin-bottom: 10px; min-width: 42px; padding: 4px 8px; white-space: nowrap; width: auto;}
.post-topic li a:hover {background: #fff195; padding-right:30px; color:#000!important;-moz-transition: .4s ease-in-out;-o-transition: .4s ease-in-out;	-webkit-transition: .4s ease-in-out;transition: .4s ease-in-out;}
.post-action{padding:0 15px;}
.post-action li a{font-size:12px;display:inline-block;height:18px; line-height:15px; *display:block; float:left; min-width:25px;}
.reply,.enjoy,.enjoyed,.share,.delete{padding-left:20px;margin-right:10px;background:url("http://a.xnimg.cn/smallsite/images/theme/marstheme/sprite.png") no-repeat scroll -999px 0 transparent;}
.reply{background-position:0 2px;}
.enjoy{background-position:0 -18px;}
.enjoyed{background-position:0 -58px;}
.share{background-position:0 -38px;}
.delete{background-position:4px -78px;}
.edit,.placetop{padding-left:20px;margin-right:10px;background:url("http://a.xnimg.cn/smallsite/images/theme/marstheme/fun.png") no-repeat scroll -999px 0 transparent;}
.edit{background-position:-5px -44px;}
.placetop{background-position:-5px -2px;}
.post-photo h4,.post-video h4,.post-music h3, .post-link .link a,.post h4,.post-text .post-content{font-weight:normal;font-size:24px;}
.post { *overflow:hidden;}
.post-photo .photo{width:500px;overflow:hidden;}
.post-article .post-content{width:500px;overflow:hidden}
.post-photo .post-content img,.post-article .post-content img{display:block;max-width:500px;margin:0 auto;_width:500px;}
.post-video .post-content{_width:500px;_overflow:hidden}
.post-video .post-content img{display:block;max-width:500px;margin:0 auto}
.post-article .post-content img{max-width:460px;margin-top:10px;_width:460px;}
.post-photo .desc{font-size:14px; padding:5px 19px;width:462px;}
.video-desc{margin:10px 20px 0;font-size:12px;}
.post-audio h4{margin-bottom:10px;}
.audio-desc{margin-top:10px;font-size:12px;}
.video-panel{ overflow:hidden;}
.post-reply{padding:0 20px;margin-top:10px;}
.add-reply textarea{float:left; width:370px;height:69px; padding:2px; margin:0; border:1px solid #e1e1e2; vertical-align:bottom;}
.add-reply textarea:hover{border:1px solid #b9b9b9;}
.add-reply .input-button{float: right; cursor: pointer; height: 75px; margin: 0; padding: 0; text-align: center; width: 75px;background: url("http://a.xnimg.cn/smallsite/images/theme/full-darkblue/reply.png") repeat scroll 0 0 transparent;text-indent: -9999px; border: 0 none;}
.add-reply .input-button:hover{background-position: -75px 0;}
.add-reply .input-button:active{background-position: -150px 0;}
.reply-list li{position:relative; *zoom:1; margin-top:10px; padding-bottom: 10px; border-bottom: 1px solid #E3E3E3;}
.reply-list .head{float:left;display:block;}
.reply-list .head img{display:block;margin-top: 3px; padding:1px;border:1px solid #d3d2d2;}
.reply-main{display:block; position:relative; float:left; margin-left:5px; font-size: 12px;}

.reply-content .replyer{}
.reply-list .reply-time{position:absolute;right:0px;top:0px;font-size:12px;}
.reply-list .delete,.reply-panel .shield, .reply-panel .reply-report {float:left; margin:0 0 0 4px; display:none;width:13px;height:13px;text-indent:-9999px;overflow:hidden; outline:none;background-image:url('http://a.xnimg.cn/smallsite/images/home-new/reply-icon.png'); background-repeat:no-repeat;}
.reply-list .reply-list-btn {top:3px; right:0px; }
.reply-list .to-share {display:none; position:absolute; right:0px; top:19px;}
 .release-time span{_line-height:20px!important;}
.post-photo h4,.post-video h4{position:relative;*zoom:1;}
.post-video h4,.post-photo h4,.post-article h4,.post-link .link,.post-text .post-content,.post-audio h4{display:block; width:460px; padding: 20px 0 15px 20px;}
.audio-screen{margin-left:20px;}
.post s{position:absolute;left:0px;top:0px;width:34px;height:34px;overflow:hidden; }
.post s b{position:absolute;left:-27px;top:-27px;display:block;width:52px;height:52px;background-color:#d5fff1;-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
.post-photo h4 s{left:-20px;top:-22px; }
.post-video h4 s{top:-2px; left:-20px; }
.post-text s b,.post-article s b{background-color:#dbd5ff;}
.post-photo s b{background-color:#fff195;}
.post-audio s b{background-color:#C1E0FF;}
.post-link s b{background-color:#FFB9B9;}
#pagerbar{width:500px; position:relative;}
#pagerbar li{position:absolute;}
#pagerbar li.prev{right:300px;}
#pagerbar li.next{left:300px;}
.prev a:link,.next a:link,.prev a:visited,.next a:visited{ display:block;width:64px;height:32px;line-height:32px;font-size:16px;font-weight:bold;color:#fff;background-color:#000000; -moz-transition: 0.4s ease-in-out;-o-transition: 0.4s ease-in-out;-webkit-transition: 0.4s ease-in-out;transition: 0.4s ease-in-out;} 
.prev a:hover,.next a:hover {background: #ffffff;	color: #000000;}
.next a:hover{padding-right:40px;}
.prev a:hover{padding-left:40px;}
.prev a{padding-left:20px;margin:34px 20px 0 34px;}
.next a{text-align:right;padding-right:20px;margin:34px 34px 0 20px;}
#pagerbar .current{left:200px;display:block;width:100px;height:100px;line-height:100px;-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px;text-align:center;font-size:18px;font-weight:bold;color:#ffffff;background-color:#000000;}
.post-video .play-botton {
    background: url("http://s.xnimg.cn/smallsite/images/video-player.png") no-repeat scroll 0 0 transparent;display: block; height: 30px; left: 50%; margin: -15px 0 0 -15px; position:absolute; top: 50%; width: 30px;zoom:1}
.post-video .video-play {display:block;cursor:pointer;position:relative;margin:0px;_width:100%;*zoom:1;_overflow:hidden}
.video-screen{_position:relative;_display:block;_width:100%;_overflow:hidden;zoom:1}
.post-audio .audio-play {background: url("http://s.xnimg.cn/smallsite/images/audio-player.png") no-repeat scroll 0 0 transparent; cursor: pointer; display: block; height: 28px; width: 102px;}
.post-photo .day { color:#fff195;}
.post-photo .post-topic li a:hover { background-color:#fff195;}
 .post-video .day { color:#95FFDD;}
 .post-video .post-topic li a:hover { background-color:#95FFDD;}
.post-link .day { color:#FFB9B9;}
.post-link .post-topic li a:hover { background-color:#FFB9B9;}
.post-text .day,.post-article .day { color:#A495FF;}
.post-text .post-topic li a:hover,.post-article .post-topic li a:hover { background-color:#A495FF;}
.post-audio .day,.post-music .day{ color:#C1E0FF;}

.post-audio .post-topic li a:hover { background-color:#C1E0FF;}
.topics {overflow:hidden;} 
#sitedesc { font-size:16px; margin-bottom:10px;}
.post-text .post-meta,.post-link .post-meta ,.post-audio .post-meta, .post-photo .post-meta{overflow:hidden;}
.post-video .toolbar .close { cursor:pointer;}
.post-video .toolbar {  padding:7px 0 0 10px; text-align:center;}
#container embed { width:500px;}
#container object{width:500px;}
/*music*/
.post-music .post-content{width:460px;}
.post-music .album-cover {margin-right:10px}
.post-music .album-cover img{display:block;width:120px;height:120px}
.post-music .post-panel{background: url("http://a.xnimg.cn/smallsite/images/theme/marstheme/post-red.png") no-repeat scroll 0 0 #FFFFFF;min-height: 100px;padding: 20px 0 40px 20px;width: 480px;}
.post-music h3{margin-bottom:30px;}
.post-music p{font-size:14px;text-align:left;padding:5px 0px}
.post-music .textarea-box{width:285px;float:right;overflow-x:hidden}
.post-music .reprint{width:95%;margin:20px 0 0 0}
/*bg*/
#container .post-link .post-panel{background: url(http://a.xnimg.cn/smallsite/images/theme/marstheme/post-red.png) #fff no-repeat}
#container .post-audio .post-panel,#container .post-music .post-panel{background: url(http://a.xnimg.cn/smallsite/images/theme/marstheme/post-music.png) #fff no-repeat}
#container .post-article .post-panel,#container .post-text .post-panel{background: url(http://a.xnimg.cn/smallsite/images/theme/marstheme/post-blue.png) #fff no-repeat}
#container .post-photo .post-panel{background: url(http://a.xnimg.cn/smallsite/images/theme/marstheme/post-yellow.png) #fff no-repeat}
#container .post-video .post-panel{background: url(http://a.xnimg.cn/smallsite/images/theme/marstheme/post-video.png) #fff no-repeat}
#siteTopic .sitehead,footer .sitehead,#followsCounter,#siteTopic-followsCounter,#footer-sitedesc{display:none}
body{line-height:1.5!important;text-align:left!important;}
.content span,.content p{line-height:1.5;}
.post-photo h4, .post-video h4,.post-music h3,.post-link .link a,.post h4,.post-text .post-content{color:#818181;}
a:hover{color:#fff195;}
body{color:#818181;}
.tag-selector li a, .tag-selector li a:hover,.select,.select:hover{_color: #536981!important;}
/*tag排名需要为此模板单独用纯黑的背景图*/
#tagOrderTip {background: url("http://a.xnimg.cn/smallsite/images/theme/full/sprite02.png") no-repeat scroll center 19px transparent;opacity: 0.8;filter:alpha(opacity=8);}
#tagOrderTip s {background: url("http://a.xnimg.cn/smallsite/images/theme/full/sprite02.png") no-repeat scroll left -24px transparent;}
#tagOrderTip u {background: url("http://a.xnimg.cn/smallsite/images/theme/full/sprite02.png") no-repeat scroll right -5px transparent;}

/*RSS与归档样式*/
#container footer{ position: relative;}
#followers{ padding-bottom: 190px;}
.rss a,.archive a{ display:none; position:absolute; top:0px; font-size: 24px; font-weight: 700;}
footer .rss{ position: absolute; bottom: 40px; right: 24px; z-index: 5; display: block; width: 141px; height: 141px; background:url(http://a.xnimg.cn/smallsite/images/theme/marstheme/rss2.png) 0 0 no-repeat; _background:url(http://a.xnimg.cn/smallsite/images/theme/marstheme/rssie6.jpg) 0 0 no-repeat;}
footer .archive{ position: absolute; bottom: 50px; right:30px; z-index:6; display: block; width: 70px; height: 24px; }
#container footer .archive a{ display:block; width: 65px; top:-12px; right:2px; padding-right:5px; height: 36px; line-height: 32px; color: #000; text-align: right; text-transform:uppercase; }
#container footer .rss a{ display:block; position: absolute; right:7px; top: 70px; width: 40px; padding-right:5px; height: 24px; line-height: 24px; color: #000; text-align: right; font-size: 16px;}
#container footer .rss a:hover,#container footer .archive a:hover{ background-color:#000; color: #fff195;}

/*hot-count*/
.hot-count {float:left; margin-top:-4px;}
.hot-count h5 {display:none;}
.hot-count a {padding-left:20px; margin-right:10px; font-size:12px; background:url(http://a.xnimg.cn/smallsite/images/theme/marstheme/hot-icon.png) 5px 2px no-repeat;}
.release-pic img{padding: 1px; border: 1px solid #D3D2D2;}
.release-name, .release-time, .release-name a, .release-time, .release-time span, .btn{ height: 24px; line-height: 24px;}
.release .release-pic{padding-right: 9px;}
.reply-list .reply-content {width: 320px;}
.reply-list .delete, .reply-panel .shield, .reply-panel .reply-report{padding: 0;}
header #master, header #followers,#header-followers,#header-master {display:none;}
.reply-panel {border-top: 1px solid #E3E3E3;}
.post .ccagreement{margin-left:20px;}