a:link ,a:visited { color:#0685b1; text-decoration:none;}
body{font-family:"Microsoft Yahei", Arial;font-size:14px;color:#58676c;word-wrap:break-word;background:url("http://a.xnimg.cn/smallsite/images/theme/miqiang/bg.png") repeat scroll 50% 0 transparent;}

#header { border-top:4px solid #0685b1; position:relative;background:url("http://a.xnimg.cn/smallsite/images/theme/miqiang/header-pointer-v1.png") no-repeat 0 0 #fff; padding:22px 40px 22px 50px ;}
#header #sitesummary { float:left; width:60%;}
#header #siteTopic {text-align:right; width:30%; position:absolute; right:10px; bottom:30px; margin-right:50px;}
.topics li { float:right; padding-left:18px;margin-bottom:10px;}
.topics { height:18px; overflow:hidden; line-height:16px;  }
.topics a.s { font-weight:bold;}
#title a { font-size:50px; }
#sitedesc { padding-top:10px; display:block; }
#siteTopic .title { font-size:16px; padding:15px 0 11px ;}
#siteTopic .title a ,#siteTopic .title  a:hover{text-decoration:none ; color:#58676C ;}

#postList { position:relative;}
#content { width:1155px; margin:15px auto 70px;}   

/*sync_area*/
.add-reply .sync_area{display: block; float: right; clear: both; height: 20px; *height:25px; width: 75px; margin: 12px 6px 0 0; _margin-right:4px; overflow: hidden; text-align: right; font-size: 12px; color: #888888;}
.add-reply .sync_area input{vertical-align:middle;width:auto;height:auto;margin-bottom:5px;*margin-top:0px;margin-bottom:1px\9;background:none;border:none;outline:none}
.add-reply .sync_area label{cursor:pointer;*zoom:1;*padding-top:3px}

/*
#publishbar .barpanel {width:1150px;}
#publishbar .barpanel #logo {margin-left:0;}
#publishbar .barpanel .tools {margin-right:30px;}
*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Main
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#main {
	padding: 100px 0 0 0;
}
#postList {
	margin: 0 auto;
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-o-transition-duration: 0s;
	-ms-transition-duration: 0s;
	transition-duration: 0s;
}
.end{ background:none;}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Posts
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.column { width:286px; float:left;}
#postList .article-box {
	position:relative;
	background-color: transparent;
	padding: 0 0 20px;
	z-index: 50;
	opacity: 0;
	background-image: url(http://s.xnimg.cn/smallsite/images/theme/miqiang/corner-shadow.png);
	*background-image:none;
	background-position: 100% 100%;
	background-repeat: no-repeat;
	transition:opacity 1s ease;
	-moz-transition:opacity 1s ease;
	-webkit-transition:opacity 1s ease;
	overflow:hidden;
	width:280px;
}
#postList .isotope-item {
	opacity: 1;
	display: block;
}
#postList .article-box-hover {
	position:relative;
	z-index: 60;
	background-color: #ffffff;
	margin: -10px 10px 10px -10px;
	padding:10px 0 0 10px;
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	cursor: pointer; 
	width:280px;
}
#postList .post-panel {
	background: #ffffff;
	width: 250px;
	padding:10px;
} 
#postList .post-panel header {
	position: relative;
}
#postList .post-panel img {
	width:250px;
	display:block;
}
#postList .post-text img {
	width:34px;
}
#postList .post-panel h3 {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: Arial, Helvetica, sans-serif;
	color: #58676c;
}
#postList .post-panel blockquote {
	border-left: 4px solid #eef0f0;
	padding-left: 10px;
}
#postList .post-panel .more-link {
	font-family: Arial, Helvetica, sans-serif;
	color: #58676c;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
}
body.index-page section.post-full {
	display: none;
}
body.permalink-page section.post-summary {
	display: none;
}
.article .post-details {
	display: none;
}
#main .click-block {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	background: transparent;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	status
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#postList .post-text  { line-height:20px;font-size:20px; font-weight:bold; padding:8px 13px 0 40px; background:url(http://s.xnimg.cn/smallsite/images/theme/miqiang/quote-left-v1.png) no-repeat  0 0 transparent;}
#postList .post-text img {
    display: inline;
    vertical-align: top;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Photo
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#postList .post-panel.photo h2 {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: 20px;
	padding-bottom: 10px;
	margin-bottom: 16px;
	border-bottom: 1px solid #eef0f0;
}
#postList .post-panel.photo header {
	margin-bottom: 6px;
	text-align: center;
}
#postList .post-panel.photo header img {
	vertical-align: top;
}
#postList .post-panel.photo header img a {
	line-height: 0;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	music
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#postList .post-panel .post-music{width:100%;overflow:hidden;text-align:center}
#postList .post-panel .post-music .music-holder .music-desc{display:none}
#postList .post-panel .post-music .music-holder .music-screen{position:relative;width:120px;height:120px;margin:0px auto;zoom:1}
#postList .post-panel .post-music .music-holder .music-screen img{width:120px;height:120px}
#postList .post-panel .post-music .music-holder .music-screen .music-botton{position:absolute;top:0px;left:0px;width:120px;height:120px;background:url('http://xnimg.cn/smallsite/images/music-terminals.png') no-repeat;zoom:1;_background:url('http://xnimg.cn/smallsite/images/music-terminalie.png') no-repeat;}
/*terminal music style*/
.home .post-panel .post-music{width:580px;height:auto;margin:0px auto}
.home .post-panel .post-music h4{width:100%;text-align:center;padding:10px 0px}
.home .post-panel .post-music .music-desc{display:block;margin-top:-85px;padding:10px 10px 10px 150px;text-align:left;width:410px;font-size:14px;*overflow-x:hidden;min-height:70px;height:auto!important;height:70px;*overflow-y:visible}
.home .post-panel .post-music .music-play{display:block;}
.home .post-panel .post-music .music-play img{display:block;margin:0px auto 0 auto;float:left;width:120px;height:120px}
.home .post-panel .post-music .music-play object {float:right;margin-right:239px}
.home .post-panel .post-music .music-play span{display:none;float:left}
.home .post-panel .post-music .music-screen{width:auto;height:auto;margin:0px}
.home .post-panel .post-music .reprint{width:580px;overflow-x:hidden;margin-left:0px}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Photoset
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#postList .post-panel.photoset h2 {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: 20px;
	padding-bottom: 10px;
	margin-bottom: 16px;
	border-bottom: 1px solid #eef0f0;
}
#postList .post-panel.photoset header {
	margin-bottom: 6px;
	background: #e4e7e8;
}
#postList .html_photoset {
	text-align: center;
	line-height: 0;
}
#postList .post-panel.photoset header img {
	vertical-align: top;
}
#postList .post-panel.photoset header img a {
	line-height: 0;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Link
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#postList .post-link .link { text-align:center; font-size:24px; padding-bottom:5px; margin-bottom:5px; border-bottom:1px solid #eef0f0;}
#postList .thumbnail a { display:block; text-align:center;}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Audio
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#postList .post-audio h3 { text-align:center; font-size:24px; padding-bottom:5px; margin-bottom:5px; border-bottom:1px solid #eef0f0;}
 
#postList .post-audio .audio-player {
    background: url("http://s.xnimg.cn/smallsite/images/audio-player.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 28px;
    width: 102px;
	margin:0 auto;
}
.post-audio .audio-play {
    background: url("http://s.xnimg.cn/smallsite/images/audio-player.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 28px;
    width: 102px;
	margin:0 auto;
}
#postList .post-panel .desc { padding-top:10px;}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Video
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#postList .post-panel.video h2 {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: 20px;
	padding-bottom: 10px;
	margin-bottom: 16px;
	border-bottom: 1px solid #eef0f0;
}
 #postList .post-video .play-botton {
      background: url("http://xnimg.cn/apps/smallsite/css/cssimg/play.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 82px;
    left: 50%;
    margin: -38px 0 0 -41px;
    position: absolute;
    top: 50%;
    width: 81px;
}
 #postList .post-video .video-player {
    cursor: pointer;
    display: block; 
    overflow: hidden;
    position: relative;
}
.post-video .video-play {
    cursor: pointer;
    display: block; 
    overflow: hidden; 
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	article
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#postList .post-article .title { text-align:center; font-size:24px; padding-bottom:5px; margin-bottom:5px; border-bottom:1px solid #eef0f0;}
#postList .post-article .content {  line-height:20px;}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Post Meta
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
ul.post-meta {
	margin: 5px 0 0 0;
	list-style-type: none;	 
	display:none;
}
.article-box-hover ul.post-meta {
	display: block;
	text-align: right;
}
ul.post-meta li {
	 float:right;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	padding-right: 8px;
}
ul.post-meta li.timeago{
	float: left; 
	padding-left:25px;
	background:url(http://s.xnimg.cn/smallsite/images/theme/miqiang/sprite-v1.png) no-repeat  0 -2px transparent;
}
ul.post-meta li.notes{
	padding-left:25px;
	background:url(http://s.xnimg.cn/smallsite/images/theme/miqiang/sprite-v1.png) no-repeat  3px -32px transparent;
}
ul.post-meta li a {
	text-decoration: none;
	color: #58676c;
	font-size:12px;
	font-weight:normal;
}
ul.post-meta li a:hover {
	color: #0685b1;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Post View
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #333c3f;
	opacity: 0.75;
	z-index: 61;
}
.pop-post .post { z-index:9999;  display:inline;padding:0 10px 50px; background-color:#fff; -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.pop-post .post-panel { padding:0 20px 30px;}
.pop-post .post .header{height:32px; border-bottom:1px solid #EEF0F0; font-size:12px;}
.pop-post .header .close { float:right; line-height:32px; background:url(http://s.xnimg.cn/smallsite/images/theme/miqiang/sprite-v1.png) no-repeat  26px -61px transparent; padding-right:15px;} 
.pop-post  h4{ line-height:60px; text-align:center; font-size:22px;}
.pop-post .post-link .link { font-size:22px; line-height:34px;}
.pop-post .post-article img,.pop-post .post-photo img { max-width:1000px; display:block; margin:0 auto;}
.pop-post .post-article ,.pop-post .post-photo { *width:940px; overflow:hidden;} 
.pop-post .post-link ,.pop-post .post-audio,.pop-post .post-photo,.pop-post .post-video { text-align:center;}
.desc { padding:8px 0;}
.video-desc { padding-top:10px;}
.pop-post .post-text { font-size:22px; padding:20px 0 0 40px; background:url(http://s.xnimg.cn/smallsite/images/theme/miqiang/quote-left-v1.png) no-repeat  0 16px transparent;}
.pop-post .post-text img { vertical-align:middle;}

.pop-post .post-meta{ padding:15px 20px 0; }
.post-reply {padding-top:13px;  background:url(http://a.xnimg.cn/smallsite/images/pointer2.png) 165px 3px no-repeat;}
.post-meta .post-topic li{font-size:12px; float:left; margin:2px 10px 0 0; padding:0 5px; -webkit-border-radius: 2px;-moz-border-radius: 2px; line-height:22px;}
.post-meta .post-topic a { color:#eee;}
#postList  .footer .delete{ padding: 0 20px; background:url(http://s.xnimg.cn/smallsite/images/theme/miqiang/sprite-v1.png) no-repeat scroll 2px -164px; *background-position:2px -166px;}
.post-meta .post-action li a {display: inline-block; background: url("http://xnimg.cn/smallsite/images/theme/tagcard/icon-ty.png") no-repeat scroll 0 0 transparent; margin-right: 20px; font-size: 14px; height: 21px; line-height:21px; padding: 0 5px 0 20px; text-decoration: none; color: #aaaaaa;}
.post-meta .post-action li a:hover{color: #666666}
.post-meta .post-action .hot-count a{height: 21px; background: url("http://xnimg.cn/smallsite/images/theme/tagcard/icon-ty.png") no-repeat scroll 0 -43px; margin-right:5px; padding-left:18px; margin-right:20px; color: #AAAAAA !important; text-decoration:none; font-size: 14px; line-height: 21px;}
.post-meta .post-action .hot-count a:link,.post-meta .post-action .hot-count a:visited{color:#666;}
.post-meta .post-action .hot-count a:hover{background-position: 0 -222px; color:#666!important;}
.post-meta .post-action .share {background-position: 0 -87px;}
.post-meta .post-action .reply{background-position: 0 -64px;}
.post-meta .post-action .edit{background-position: 0 -154px;}
.post-meta .post-action .enjoy {background-position: 0 -109px;}
.post-meta .post-action .delete {background-position: 0 -177px;}
.post-meta .post-action .placetop {background-position: 0 -199px;}
.post-meta .post-action .share:hover{background-position: 0 -266px;}
.post-meta .post-action .edit:hover{background-position: 0 -313px;}
.post-meta .post-action .enjoy:hover{background-position: 0 -288px;}
.post-meta .post-action .delete:hover{background-position: 0 -336px;}
.post-meta .post-action .reply:hover{background-position: 0 -243px;}
.post-meta .post-action .placetop:hover{background-position: 0 -358px;}
.post-meta .post-action .enjoyed {background-position: 0 -131px;}
.add-reply{*zoom:1; *position: static; border-top:1px solid #EBEAEA; padding:15px 86px 10px; background-color:#F7F7F7;}
.add-reply textarea{width:823px;}
.share-box .input-button{ float:right;width:76px;height:34px;line-height:34px;padding:0;border:1px solid #d9d9d9;outline: 0 none;margin:0;font-size:18px;font-weight:bold;color:#0685b1;background-color:#eee;cursor:pointer;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;}
.add-reply .reply-submit {display:block; float:right; background: url("http://a.xnimg.cn/smallsite/images/theme/full-darkblue/reply.png") repeat scroll 0 0 transparent; height: 75px; width: 75px;margin: 0; padding: 0; text-indent: -9999px; color: #333333; cursor: pointer; border: 0 none;}
.add-reply .reply-submit:hover{background-position: -75px 0;}
.add-reply .reply-submit:active{background-position: -150px 0;}
.reply-panel{*position: static; background-color:#F7F7F7; padding: 0 85px;}
.reply-panel ul{border-top: 1px dotted #888888;}
.reply-list li{position: static; width: 918px;  *zoom:1;padding:10px 0; border-bottom:1px dotted #888; color: #888888;}
.reply-list li .head { float:left;}
.reply-list li .reply-main {float:left;}
.reply-list li.last{border-bottom:0 none;}
.reply-list .head img{float:left;display:block;width:30px;height:30px;padding:1px;border:1px solid #ffffff;margin-top:3px;}
.reply-list .reply-content{ width:760px; padding-right:10px;}
.reply-list .reply-content .replyer{padding-left:0;}
.reply-list .reply-time{float: right; font-size:12px;}
.reply-list .delete,.reply-panel .shield, .reply-panel .reply-report {float:left; margin:0 0 0 4px; display:none;width:13px;height:13px;text-indent:-9999px;overflow:hidden; outline:none;background-image:url('http://a.xnimg.cn/smallsite/images/home-new/reply-icon.png'); background-repeat:no-repeat;}
.reply-list .reply-list-btn {float: right; position: static;}
.reply-list .to-share {display: none; position: static; float: right; margin-top: 6px;}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Footer
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#aside { padding:20px 40px; background-color:#fff; border-bottom:4px solid #0685B1;}
#aside h4 { margin-bottom:8px;}
#aside img { width:50px; height:50px;}
.owners { float:left;width:30%;}
 .followers{ float:left; width:70%; }
 .followers .list{height:50px; overflow:hidden;}
.followers li { float:left;}
.owners a,.followers a { padding:0 10px 10px 0;} 
.pop-post { height:600px; overflow-y:scroll; background-color:#fff;}

.post .cover{display:none;position:absolute;right:0; bottom:0; background-color:#000; color:#fff; padding:2px 10px;}
.article-box-hover .cover{ display:inline;}
#postList .post-photo .photo { position:relative;*zoom:1;}
.post .post-panel { font-size:14px;}


.miqiang-share {position:static; border-top:none; background:url(http://a.xnimg.cn/smallsite/images/pointer2.png) 90px 3px no-repeat; padding-top:13px;}
.miqiang-share .share-box textarea { width:935px;height:26px;padding:3px;border:1px solid #d9d9d9;vertical-align:bottom; float:left;}
.miqiang-share .share-to { float:left;}
.miqiang-share .tag-selector { width:750px;}
.miqiang-share .share-box { border-top:1px solid #EBEAEA; background-color:#F7F7F7;}
.post-panel .content p { width:900px;}
.post-panel .content .desc { width:900px; margin:0 auto;}
img[src='']{display:none;}

/*input code*/
.pop-post .post-meta .code{float:right;font-size: 14px;width:420px;margin-top:-42px;}
.pop-post .post-meta .code .code-input{float:left ;margin-right:10px;width:120px;height:43px;line-height:43px;border:1px solid #ccc ;font-size:14px}
.pop-post .post-meta .code img{float:left ;width:120px;height:45px;}
.pop-post .post-meta .code .change{float:left ;height: 45px;padding:0; line-height: 56px ;color:#00B9BD;margin-left:20px;background-image:none ;}
.pop-post .post-meta .code .confirm{float:left ;padding:0;background-color:#00B9BD;background-image:none ;color:#fff;margin-left:30px;padding:5px 22px;margin-top:10px;}

/*rss*/
*html #siteTopic .title{ padding-right: 4px;}
.archive,.rss{ padding:10px 0 0 5px;}
#siteTopic .archive a,#siteTopic .rss a{ color:#0685B1;}
.data{ margin-bottom:11px;}

/*hot-count*/
#miqiang .hot-count {float:left; text-align:center;}
#miqiang .hot-count h5 {display:none;}
body.customize{padding-top:0!important;}
header #master, header #followers {display:none;}
/*.release*/
.release{height: 24px;  line-height: 24px; margin-top: -23px; *margin-top: -26px;}
.release a{color: #888!important; height: 24px;line-height: 24px;}
.release a:hover{color: #000!important;}
.release-time span,.release-time{color:#888!important; height: 24px; line-height: 24px;}
.release .release-pic{display: block; height: 24px; width: 24px;}
.release .release-pic img{padding: 1px; border: 1px solid #FFFFFF;}
.reply-list li .head { height: 24px !important; width: 24px !important;}
.to-share a{color: #888!important;}
.to-share a:hover{color: #000!important;}
.post-meta .post-topic{background: url("http://xnimg.cn/smallsite/images/theme/tagcard/tag.png") no-repeat scroll 0 24px transparent; padding: 20px 0 20px 20px;}
header #master, header #followers,#header-followers,#header-master {display:none;}
/*评论归一*/
.reply-list .reply-content{color:#888!important;}
.reply-content a{color:#888!important;}
.reply-content a:hover, .end .release a:hover, .end .reply-list .to-share a:hover{color:#000!important;}
.post-meta .post-topic li a{color: #888888; float: left; font-size: 12px; height: 20px; overflow: hidden; padding: 0 4px; word-wrap: break-word;line-height: 20px;}
.post-meta .post-topic li a:hover{color:#fff; background-color:#666666 }
.morereply{margin-top:10px; padding-bottom: 10px;}
.morereply a, .morereply a:link, .morereply a:visited{color: #888888 !important;}
.post-meta .post-topic ul{height: 20px;}
.post .post-panel .reprint{text-align: left;}