/* ===========================================
	Default
===========================================*/
body {background: url("http://a.xnimg.cn/smallsite/images/theme/miqiang/bg.png") repeat scroll 50% 0 transparent;color: #858585;font-size: 14px;word-wrap: break-word;}
a:link, a:visited {color: #888;text-decoration: none;}
a:hover {color:#444;}
a.sitehead {display:none;}
#container {min-width:1130px;}

/* ===========================================
	header
===========================================*/
#container header { position:relative;padding:22px 40px 30px 50px;background:#fff;zoom:1;}
#container header h1 {font-size:50px;color:#666;}
#container header h1 a {color:#444;}
#container header h1 a:hover {color:#000;}
#container header #sitedesc {display:block; width:55%; padding-top:10px;font-size:14px;color:#858585;}
#container header #header-followsCounter {position:absolute;right:45px;bottom:75px;font-size:16px;font-weight:bold;}
#container header #header-followsCounter em {font-family: Georgia;}
header #master, header #header-master, header #followers, header #header-followers, header .archive, header .rss {display:none;}

/* main-wrap */
#main-wrap {float:left;width:100%;position:relative;}
#main-wrap #main {min-height:725px;}
#siteTopic {position:absolute;top:-70px;right:45px;width:40%;z-index:200;zoom:1;}
#siteTopic ul {float:right;height:18px;margin-top:5px;font-size:14px;line-height:18px;clear:right;}
#siteTopic .rss, #siteTopic .archive {float:right;}
#siteTopic .rss {font-size:13px;}
#siteTopic .archive {margin:-1px 10px 0 0;}
#siteTopic h4, #siteTopic #siteTopic-followsCounter {display:none;}

/*
.col_0 {left:0;}
.col_1 {left:285px;}
.col_2 {left:570px;}
.col_3 {left:855px;}
.col_4 {left:1140px;}
.col_5 {left:1425px;}
.col_6 {left:1710px;}
.col_7 {left:1995px;}
.col_8 {left:2280px;}
.col_9 {left:2565px;}
.col_10 {left:2850px;}
*/

/*===========================================
	POST LIST
  ===========================================*/
#postList {position:relative;width:1130px;min-height:300px;_height:300px;padding:0 0 20px 0;margin:20px auto 0;
			-moz-transition:height 0.3s ease;
			-webkit-transition:height 0.3s ease;
			-o-transition:height 0.3s ease;
			transition:height 0.3s ease;}
#postList.loading {background:url(http://s.xnimg.cn/imgpro/bg/bg_line_loading.gif) no-repeat center bottom;}
#postList .post {
	position:absolute;
	width:270px;
	padding:0 0 20px;
	background-color: transparent;
	background-image: url(http://s.xnimg.cn/smallsite/images/theme/miqiang/corner-shadow.png);
	*background-image:none;
	background-position: 100% 100%;
	background-repeat: no-repeat;
	transition-property:opacity;
	transition-duration:0.7s;
	transition-timing-function:ease;
	-webkit-transition-property:opacity;
	-webkit-transition-duration:0.7s;
	-webkit-transition-timing-function:ease;
	-webkit-transition-delay:0.1s;
	-moz-transition-property:opacity;
	-moz-transition-duration:0.7s;
	-moz-transition-timing-function:ease;
	-moz-transition-delay:0.1s;
	-o-transition-property:opacity;
	-o-transition-duration:0.7s;
	-o-transition-timing-function:ease;
	-o-transition-delay:0.1s;	
	cursor:pointer;
	z-index: 50;
	opacity: 0;
}

#postList .post-panel {
	position: relative;
	background: #ffffff;
	width: 250px;
	padding:10px;
	box-shadow:-1px -1px 1px rgba(0,0,0,0.1);
	transition-property:padding,margin;
	transition-duration:0.2s;
	transition-timing-function:ease;
	-webkit-transition-property:padding,margin;
	-webkit-transition-duration:0.2s;
	-webkit-transition-timing-function:ease;
	-moz-transition-property:padding,margin;
	-moz-transition-duration:0.2s;
	-moz-transition-timing-function:ease;
	-o-transition-property:padding,margin;
	-o-transition-duration:0.2s;
	-o-transition-timing-function:ease;
} 

#postList .post-panel header {position: relative;}
#postList .post-panel img {width:250px;display:block;}

.post-text {line-height:1.5em;font-size:20px;}
#postList .post-text img {width:34px;}
.post-text .quote-start,
.post-text .quote-end	{width:34px;height:30px;display:inline-block;}
.post-text .quote-start {background:url("http://s.xnimg.cn/smallsite/images/theme/miqiang/quote-left-v1.png") no-repeat 0 0;}
.post-text .quote-end {background:url("http://s.xnimg.cn/smallsite/images/theme/miqiang/quote-right-v1.png") no-repeat 0 0;}

#postList .post-panel h3 {font-size: 12px;text-transform: uppercase;letter-spacing: 1px;font-family: Arial, Helvetica, sans-serif;color: #58676c;}
#postList .post-panel blockquote {border-left: 4px solid #eef0f0;padding-left: 10px;}
#postList .post-panel .more-link {font-family: Arial, Helvetica, sans-serif;color: #58676c;font-size: 10px;font-weight: bold;letter-spacing: 1px;text-transform: uppercase;}

/* FEED TYPE */
.feed-photo h4 {display:none;position:absolute;top:0;left:0;}
.feed-video h4,.feed-video .video-desc {display:none;}
.feed-music h4,.feed-music .music-desc {display:none;}
.feed-audio .audio-desc {}

#postList .post-music{width:100%;overflow:hidden;text-align:center}
#postList .post-music .music-desc{display:none}
#postList .post-music .music-play{display:block;width:250px;height:250px;overflow:hidden;}
#postList .post-music .music-play .music-botton{display:block;position:absolute;top:50%;left:50%;width:250px;height:250px;margin:-125px 0 0 -125px;background:url('http://xnimg.cn/smallsite/images/theme/miqiang/music_cover.png') no-repeat left top;zoom:1;_background:url('http://a.xnimg.cn/smallsite/images/music-terminalie.png') no-repeat center center;z-index:10;}
#postList .post-music .music-play:hover .music-botton{background-position:0 -250px;_background-position:center center;}



/* .post-action */
.post-action {display:none;position:absolute;bottom:0px;left:0;width:245px;height:25px;padding:0 17px;line-height:25px;z-index:5;}
.post-action .time-meta {padding:0 0 0 20px;background:url("http://s.xnimg.cn/smallsite/images/theme/miqiang/sprite-v1.png") no-repeat 0 3px;}
.post-panel .time-meta, .post-panel .hot-count, .post-action ul {display:none;}
.post-action .time-meta i {display:none;}


/*===========================================
	POST Hover
  ===========================================*/
#postList .post:hover {background-image:none;}
#postList .post:hover .post-panel{margin-left:-5px;margin-top:-5px;padding:15px;box-shadow:1px 1px 8px rgba(0,0,0,0.4)}
#postList .post:hover .post-action i.time-s-1-1,#postList .post:hover .post-action i.time-s-1-2 {display:inline;}
#postList .post:hover .post-photo h4 {display:none;}

/* footer */
#container footer {float:left;display:block;width:100%;padding:20px 0;background-color:#fff;_float:none;}
#container footer #footer-sitedesc,
#container footer .sitehead,
#container footer .rss,
#container footer .archive,
#container footer #followsCounter{display:none;}
#container footer #master{float:left;margin-left:50px;_width:300px;}
#container footer #followers{height:85px;margin:0 50px 0 400px;overflow:hidden;}
#container footer #master h4,
#container footer #followers h4 {margin-bottom:10px;font-size:16px;font-weight:normal;}
#container footer #master li,
#container footer #followers li {float:left;width:50px;height:50px;margin:0 10px 10px 0;}
#container footer #master li img,
#container footer #followers li img {width:50px;height:50px;}
#popWrap {display:none;position:absolute;width:10px;height:10px;background-color:#fff;z-index:399;overflow: hidden;opacity:0;
	-moz-transition-property:width,height,top,left,opacity;
	-moz-transition-duration:0.3s;
	-moz-transition-timing-function:ease;
	-moz-transition-delay:0.1s;
}
#loadingItem {display:block;position:absolute;width:25px;height:25px;background-color:rgba(255,255,255,0.8);padding:5px;z-index:190;}
#loadingItem img {width:25px;height:25px;}

.help-enter {z-index:200;}

/* Dialog */
#mqDialog div.dialog-box {margin:20px 0;padding:1px 0 0 0;}
.scroll_warp{top:0;width:100%;}
.scroll_warps{background:#D3D3D3;top:0;right:10px!important;border-radius:5px;}
.scroll_Bar{display:block;background-color:#EC4E33;border-radius:5px;z-index:1000}
.scroll_area .scroll_Bar:hover,
.scroll_area .scroll_Bar_hover{background-color:#FF7360}
div.dialog-box .tools-bar {position:absolute;right:-60px;top:80px;width:60px;height:60px;}
div.dialog-box .tools-bar a {display:block;position:absolute;left:0;top:0;width:60px;height:60px;margin-bottom:3px;background:#000 url('http://a.xnimg.cn/smallsite/images/theme/miqiang/dialog-btns.png') no-repeat left top;_border:1px dotted #888;_border-width:1px 1px 1px 0;text-indent:-99999px;opacity:0.5;
						-moz-transition:opacity 0.3s ease;-webkit-transition:opacity 0.3s ease;-o-transition:opacity 0.3s ease;transition:opacity 0.3s ease;}
div.dialog-box .tools-bar a span {display:none;}
div.dialog-box .tools-bar a img {display:none;}
div.dialog-box .tools-bar .prev {top:63px;_top:66px;background-position:-180px 0;}
div.dialog-box .tools-bar .next {top:126px;_top:132px;background-position:-90px 0;}
div.dialog-box .tools-bar .close:hover,
div.dialog-box .tools-bar .prev:hover,
div.dialog-box .tools-bar .next:hover {opacity:1;}
div.dialog-box .tools-bar img.loading-img{display:none;width:25px;height:25px;margin:17px 0 0 17px;}
div.dialog-box .tools-bar a.loading img.loading-img {display:block;}
div.dialog-box .tools-bar a.loading {background-image:none;}

#mqDialog div.content-box {padding:0;}
#mqDialog .content-box .post {width:916px;margin:0 auto;overflow:hidden;}
#mqDialog .content-box .post-panel img {max-width:916px;}
#mqDialog .content-box .post-panel h4 {margin-bottom:15px;color:#868686;font-size:24px;font-weight:normal;line-height:1.5em;}
#mqDialog .content-box .post-panel .post-link .link a {font-size:24px;line-height:1.5em;}
#mqDialog .content-box .post-panel .post-link .link {margin-bottom:15px;}
#mqDialog .post-music{height:auto;}
#mqDialog .post-music h4{width:100%;padding:10px 0px}
#mqDialog .post-music .music-desc{display:block;margin-top:-85px;padding:10px 10px 10px 165px;text-align:left;width:auto;font-size:14px;*overflow-x:hidden;min-height:70px;height:auto!important;height:70px;*overflow-y:visible}
#mqDialog .post-music .music-play{display:block;}
#mqDialog .post-music .music-play img {float:left;max-width:150px;_width:120px;}
#mqDialog .post-music .music-play object {float:right;margin-right:560px;}
#mqDialog .post-music .music-play span{display:none;float:left}
#mqDialog .post-music .music-screen{width:auto;height:auto;margin:0px}
#mqDialog .post-music .reprint{width:auto;margin-left:0px}
#mqDialog #header,
#mqDialog #main .post-prev,
#mqDialog #main .post-next,
#mqDialog #footer-sitedesc,
#mqDialog #master,
#mqDialog #followsCounter,
#mqDialog #followers,
#mqDialog .rss,
#mqDialog .archive {display:none;}
#mqDialog .post-footer {display:block;}

#mqDialog .post-topic {padding:20px 56px 0 80px;background:url("http://xnimg.cn/smallsite/images/theme/tagcard/tag.png") no-repeat 56px 22px;}
#mqDialog .post-topic li {float:left;margin-right:15px;background:none;}
#mqDialog .post-topic li a {color:#666;}

#mqDialog .post-action {display:block;float:left;clear:left;position:static;width:auto;height:30px;padding:0 54px;margin-top:20px;background-color:$ccc;}
#mqDialog .post-action ul {display:block;}
#mqDialog .post-action li {display:block;float:left;}
#mqDialog .post-action li.hot-count h5 {display:none;}
#mqDialog .post-action li a {display: inline-block; background: url("http://xnimg.cn/smallsite/images/theme/tagcard/icon-ty.png") no-repeat scroll 0 0 transparent; margin-right: 20px; font-size: 14px; height: 21px; line-height:21px; padding: 0 5px 0 20px; text-decoration: none; color: #aaaaaa;}
#mqDialog .post-action li a:hover{color: #666}
#mqDialog .post-action .hot-count a{background-position:0 -43px;}
#mqDialog .post-action .hot-count a:hover{background-position: 0 -222px; color:#666;}
#mqDialog .post-action .share {background-position: 0 -87px;}
#mqDialog .post-action .reply{background-position: 0 -64px;}
#mqDialog .post-action .edit{background-position: 0 -154px;}
#mqDialog .post-action .enjoy {background-position: 0 -109px;}
#mqDialog .post-action .delete {background-position: 0 -177px;}
#mqDialog .post-action .placetop {background-position: 0 -199px;}
#mqDialog .post-action .share:hover{background-position: 0 -266px;}
#mqDialog .post-action .edit:hover{background-position: 0 -313px;}
#mqDialog .post-action .enjoy:hover{background-position: 0 -288px;}
#mqDialog .post-action .delete:hover{background-position: 0 -336px;}
#mqDialog .post-action .reply:hover{background-position: 0 -243px;}
#mqDialog .post-action .placetop:hover{background-position: 0 -358px;}
#mqDialog .post-action .enjoyed {background-position: 0 -131px;}

#mqDialog .post-reply {position:relative;width:916px;padding:15px 56px;background-color:#F7F7F7;border-top:1px solid #EBEAEA;}
#mqDialog .add-reply {*zoom:1;}
#mqDialog .add-reply textarea{float:left;width:820px;height:68px;padding:3px;border:1px solid #d9d9d9;background-color:#fff;}
#mqDialog .add-reply .input-button{position:absolute;top:0;right:0;display:block;background:url("http://a.xnimg.cn/smallsite/images/theme/full-darkblue/reply.png") repeat scroll 0 0 transparent; height: 75px; width: 75px;margin: 0; padding: 0; text-indent: -9999px; color: #333333; cursor: pointer; border: 0 none;zoom:1;}
#mqDialog .add-reply .input-button:hover{background-position: -75px 0;}
#mqDialog .add-reply .input-button:active{background-position: -150px 0;}
#mqDialog .add-reply .sync_area{display:block;float:right;clear: both; height: 20px; *height:25px; width: 75px; margin: 12px 6px 0 0;*margin-top:90px; _margin-right:3px;overflow: hidden; text-align: right; font-size: 12px; color: #888888;}
#mqDialog .add-reply .sync_area input{vertical-align:middle;width:auto;height:auto;margin-bottom:5px;*margin-top:0px;margin-bottom:1px\9;background:none;border:none;outline:none}
#mqDialog .add-reply .sync_area label{cursor:pointer;*zoom:1;*padding-top:3px}
#mqDialog .reply-panel{*position: static; background-color:#F7F7F7;}
#mqDialog .reply-panel ul{border-top: 1px dotted #888888;}
#mqDialog .reply-list li{position: static; width: 918px;  *zoom:1;padding:10px 0; border-bottom:1px dotted #888; color: #888888;}
#mqDialog .reply-list li .head { float:left;}
#mqDialog .reply-list li .reply-main {float:left;}
#mqDialog .reply-list li.last{border-bottom:0 none;}
#mqDialog .reply-list .head img{float:left;display:block;width:30px;height:30px;padding:1px;border:1px solid #ffffff;margin-top:3px;}
#mqDialog .reply-list .reply-content{ width:760px; padding-right:10px;}
#mqDialog .reply-list .reply-content .replyer{padding-left:0;}
#mqDialog .reply-list .reply-time{float: right; font-size:12px;}
#mqDialog .reply-list .delete,.reply-panel .shield, .reply-panel .reply-report {float:left; margin:0 0 0 4px; display:none;width:13px;height:13px;text-indent:-9999px;overflow:hidden; outline:none;background-image:url('http://a.xnimg.cn/smallsite/images/home-new/reply-icon.png'); background-repeat:no-repeat;}
#mqDialog .reply-list .reply-list-btn {float:right;position:static;width:auto;}
#mqDialog .reply-list .reply-list-btn a {float:right;}
#mqDialog .reply-list .to-share {display:none;position:static;float:right;clear:right;margin-top:6px;}

/*.release*/
#mqDialog .release{height:24px;line-height:24px; margin-top:-23px;}
#mqDialog .release a{color: #888!important; height: 24px;line-height: 24px;}
#mqDialog .release a:hover{color: #000!important;}
#mqDialog .release-time span,.release-time{color:#888!important; height: 24px; line-height: 24px;}
#mqDialog .release .release-pic{display: block; height: 24px; width: 24px;}
#mqDialog .release .release-pic img{padding: 1px; border: 1px solid #FFFFFF;}
#mqDialog .reply-list li .head { height: 24px !important; width: 24px !important;}
#mqDialog .to-share a{color: #888!important;}
#mqDialog .to-share a:hover{color: #000!important;}

/*评论归一*/
#mqDialog .reply-list .reply-content{color:#888!important;}
#mqDialog .reply-content a{color:#888!important;}
#mqDialog .reply-content a:hover, .end .release a:hover, .end .reply-list .to-share a:hover{color:#000!important;}
#mqDialog .morereply{margin-top:10px; padding-bottom: 10px;}
#mqDialog .morereply a, .morereply a:link, .morereply a:visited{color: #888888 !important;}
#mqDialog .post-meta .post-topic ul{height: 20px;}
#mqDialog .post .post-panel .reprint{text-align: left;}

/* page bar */
#pagerbar {display:none;}
.customize .watterfall-pager{display:none;}
.watterfall-pager {position:relative;width:100%;height:40px;margin:40px 0 20px;text-align:center;}
.watterfall-pager .page-num {display:block;width:100px;margin:0 auto;border:1px solid #ccc;border-width:0 1px;font-size:16px;line-height:40px;}
.watterfall-pager a {position:absolute;left:50%;top:5px;border:1px solid #ccc;background-color:#fff;
					-moz-transition:all 0.3s ease;-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}
.watterfall-pager a.next {margin-left:51px;padding:5px 15px 5px 10px;border-width:1px 1px 1px 0;}
.watterfall-pager a.prev {margin-left:-119px;padding:5px 10px 5px 15px;border-width:1px 0 1px 1px;}
.watterfall-pager a.next:hover {margin-left:51px;padding-left:15px;}
.watterfall-pager a.prev:hover {margin-left:-124px;padding-right:15px;}



#rogue-suggest {display:none;}


































.topics li { float:right; padding-left:18px;}
.topics { height:16px; overflow:hidden; line-height:16px;  }
.topics a.s { font-weight:bold;}
#title a { font-size:50px; }

#content { width:1155px; margin:15px auto 70px;}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Main
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.end{ background:none;}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Posts
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.column { width:286px; float:left;}

#postList .post-panel header {
	position: relative;
}
#postList .post-panel img {
	width:250px;
	display:block;
}
#postList .post-text img {
	width:34px;
}
#postList .post-panel h3 {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: Arial, Helvetica, sans-serif;
	color: #58676c;
}
#postList .post-panel blockquote {
	border-left: 4px solid #eef0f0;
	padding-left: 10px;
}
#postList .post-panel .more-link {
	font-family: Arial, Helvetica, sans-serif;
	color: #58676c;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
}
body.index-page section.post-full {
	display: none;
}
body.permalink-page section.post-summary {
	display: none;
}
.article .post-details {
	display: none;
}
#main .click-block {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	background: transparent;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Photo
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#postList .post-panel.photo h2 {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: 20px;
	padding-bottom: 10px;
	margin-bottom: 16px;
	border-bottom: 1px solid #eef0f0;
}
#postList .post-panel.photo header {
	margin-bottom: 6px;
	text-align: center;
}
#postList .post-panel.photo header img {
	vertical-align: top;
}
#postList .post-panel.photo header img a {
	line-height: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Photoset
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#postList .post-panel.photoset h2 {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: 20px;
	padding-bottom: 10px;
	margin-bottom: 16px;
	border-bottom: 1px solid #eef0f0;
}
#postList .post-panel.photoset header {
	margin-bottom: 6px;
	background: #e4e7e8;
}
#postList .html_photoset {
	text-align: center;
	line-height: 0;
}
#postList .post-panel.photoset header img {
	vertical-align: top;
}
#postList .post-panel.photoset header img a {
	line-height: 0;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Link
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#postList .post-link .link { text-align:center; font-size:20px; padding-bottom:5px; margin-bottom:5px; border-bottom:1px solid #eef0f0;}
#postList .thumbnail a { display:block; text-align:center;}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Audio
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#postList .post-audio .audio-desc { text-align:center; font-size:20px; padding-bottom:5px;}
#postList .audio-screen {display:block;width:250px;height:250px;background: url("http://s.xnimg.cn/smallsite/images/theme/miqiang/music_link_cover.png") no-repeat 0 0;}
#postList .audio-screen .audio-play {display:none;}
#postList .post-audio .audio-player {
    background: url("http://s.xnimg.cn/smallsite/images/audio-player.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 28px;
    width: 102px;
	margin:0 auto;
}
.post-audio .audio-play {
    background: url("http://s.xnimg.cn/smallsite/images/audio-player.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 28px;
    width: 102px;
	margin:0 auto;
}
#postList .post-panel .desc { padding-top:10px;}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Video
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#postList .post-panel.video h2 {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: 20px;
	padding-bottom: 10px;
	margin-bottom: 16px;
	border-bottom: 1px solid #eef0f0;
}
 #postList .post-video .video-play img {width:auto;height:250px;}
 #postList .post-video .play-botton {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    margin: -125px 0 0 -125px;
    background: url("http://a.xnimg.cn/smallsite/images/theme/miqiang/video_cover.png") no-repeat 0 0;
    z-index:10;
    _background:url("http://xnimg.cn/apps/smallsite/css/cssimg/play-ie6.png") no-repeat 0 0 transparent;
    _width: 81px;
    _height: 80px;
    _margin: -40px 0 0 -40px;
}
#postList .post-panel:hover .post-video .play-botton {
	background-position:0 -250px;
}
 #postList .post-video .video-player {
    cursor: pointer;
    display: block; 
    overflow: hidden;
    position: relative;
}
.post-video .video-play {
    cursor: pointer;
    display: block;
    position:relative;
    width:250px;
    height:250px;
    overflow: hidden; 
}
.post-video embed {width:916px;}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	article
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#postList .post-article .title { padding-bottom:5px; margin-bottom:5px; border-bottom:1px solid #eef0f0;text-align:center; font-size:20px;font-weight:normal;}
#postList .post-article .content {line-height:1.5em;}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Post Meta
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
ul.post-meta {
	list-style-type: none;	 
	display:none;
}
.post:hover ul.post-meta {
	position: absolute;
	left:20px;
	bottom:3px;
	display: block;
	text-align: right;
}
ul.post-meta li {
	 float:right;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	padding-right: 8px;
}
ul.post-meta li.timeago{
	float: left; 
	padding-left:22px;
	background:url(http://s.xnimg.cn/smallsite/images/theme/miqiang/sprite-v1.png) no-repeat  0 -2px transparent;
}
ul.post-meta li.notes{
	padding-left:22px;
	background:url(http://s.xnimg.cn/smallsite/images/theme/miqiang/sprite-v1.png) no-repeat  3px -32px transparent;
}
ul.post-meta li a {
	text-decoration: none;
	color: #58676c;
	font-size:12px;
	font-weight:normal;
}
ul.post-meta li a:hover {
	color: #0685b1;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Post View
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #333c3f;
	opacity: 0.75;
	z-index: 61;
}
.pop-post .post { z-index:9999;  display:inline;padding:0 10px 50px; background-color:#fff; -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.pop-post .post-panel { padding:0 17px 30px 10px;}
.pop-post .post .header{height:32px; border-bottom:1px solid #EEF0F0; font-size:12px;}
.pop-post .header .close { float:right; line-height:32px; background:url(http://s.xnimg.cn/smallsite/images/theme/miqiang/sprite-v1.png) no-repeat  26px -61px transparent; padding-right:15px;} 
.pop-post  h4{ line-height:60px; text-align:center; font-size:22px;}
.pop-post .post-link .link { font-size:22px; line-height:34px;}
.pop-post .post-article img,.pop-post .post-photo img { max-width:1000px; display:block; margin:0 auto;}
.pop-post .post-article ,.pop-post .post-photo { *width:940px; overflow:hidden;} 
.pop-post .post-link ,.pop-post .post-audio,.pop-post .post-photo,.pop-post .post-video { text-align:center;}
.desc { padding:8px 0;}
.video-desc { padding-top:10px;}
.pop-post .post-text { font-size:22px; padding:20px 0 0 40px; background:url(http://s.xnimg.cn/smallsite/images/theme/miqiang/quote-left-v1.png) no-repeat  0 16px transparent;}
.pop-post .post-text img { vertical-align:middle;}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Footer
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#aside { padding:20px 40px; background-color:#fff; border-bottom:4px solid #0685B1;}
#aside h4 { margin-bottom:8px;}
#aside img { width:50px; height:50px;}
.owners { float:left;width:30%;}
 .followers{ float:left; width:70%; }
 .followers .list{height:50px; overflow:hidden;}
.followers li { float:left;}
.owners a,.followers a { padding:0 10px 10px 0;} 
.pop-post { height:600px; overflow-y:scroll; background-color:#fff;}

.post .cover{
	display:block;
	position:absolute;
	left:10px;
	bottom:10px;
	width:100%;
	height:30px;
	overflow: hidden;
	-webkit-transition-property:left, bottom;
	-moz-transition-property:left, bottom;
	-o-transition-property:left, bottom;
	-ms-transition-property:left, bottom;
	transition-property:left, bottom;
	-webkit-transition-duration:0.1s;
	-moz-transition-duration:0.1s;
	-o-transition-duration:0.1s;
	-ms-transition-duration:0.1s;
	transition-duration:0.1s;
	-webkit-transition-timing-function:ease;
	-moz-transition-timing-function:ease;
	-o-transition-timing-function:ease;
	-ms-transition-timing-function:ease;
	transition-timing-function:ease;
}
.feed-video .cover {display:block;height:100%;_width:270px;_height:270px;_zoom:1;left:0;top:0;z-index:10;}
.post:hover .cover {left:15px;bottom:15px;}
.post .cover p {display: none;}
.post .cover span {display:block;
	position:absolute;
	bottom:-30px;
	left:0;
	width:250px;
	height:30px;
	background-color:rgba(0,0,0,0.5);
	background-color:#000\9;
	color:#fff;
	text-align:center;
	line-height:30px;
	-webkit-transition:bottom 0.2s ease;
	-moz-transition:bottom 0.2s ease;
	-o-transition:bottom 0.2s ease;
	-ms-transition:bottom 0.2s ease;
	transition:bottom 0.2s ease;
}
.post:hover .cover span{bottom:0px;}

#postList .post-photo .photo { position:relative;*zoom:1;}
.post .post-panel { font-size:14px;}


.miqiang-share {position:static; border-top:none; background:url(http://a.xnimg.cn/smallsite/images/pointer2.png) 40px 3px no-repeat; padding-top:13px;}
.miqiang-share .share-box textarea { width:935px;height:26px;padding:3px;border:1px solid #d9d9d9;vertical-align:bottom; float:left;}
.miqiang-share .share-to { float:left;}
.miqiang-share .tag-selector { width:750px;}
.miqiang-share .share-box { border-top:1px solid #EBEAEA; background-color:#F7F7F7;}
.post-panel .content p { width:900px;}
.post-panel .content .desc { width:900px; margin:0 auto;}
img[src='']{
		display:none;
	}
















































header #master, header #followers {display:none;}
