body {
    background: url("http://a.xnimg.cn/smallsite/images/theme/polaroid/bg1.png") repeat scroll 0 0 transparent;
    font-family: 'Microsoft Yahei',Tahoma,Arial,Helvetica,Simsun,STHeiti;
    font-size: 12px;
    padding-bottom: 50px;
    word-wrap: break-word;
}
*html body {
	background:none;
	background-color:#333333;
	
}
a, a:link, a:visited {
    color: #666666;
    text-decoration: none;
}
/** html a, a:link, a:visited {
    color: #f2f2f2;
    
}*/
.last-col {
    margin-right: 0 !important;
}
#container {
    position: relative;
	width: 925px;
	margin: 0px auto 0 auto;
	padding: 0px;
}
#content {
    position: relative;
	width: 925px;
	margin: 0px auto 0 auto;
	padding: 0px;
}
#container header, .end #header {
  
   }
#container header, #sitesummary {
    padding: 40px 0;
    
}
#main-wrap {
    padding-top: 40px;
    
}
.help-enter { 
    -moz-transition: opacity 0.3s ease 0s;
    height: 101px;
    opacity: 0.2;
    filter:alpha(opacity=20); 
    position: fixed;
    right: 0;
    top: 60px;
    width: 40px;
}
* html .help-enter { 
    height: 101px; 
    position: absolute;
    top: -400px;
    width: 40px;
}
#container h1 {
	width: 340px;
	padding-left: 25px;
	padding-top:20px;
	border-radius: 5px;
	font-size: 28px;
	font-weight: bold;
}
#content h1 {
	width: 250px;
	padding: 25px;
	border-radius: 5px;
	font-size: 28px;
	font-weight: bold;
}
#title {
    color: #fff9b5;
    font-size: 38px;
    text-decoration: none;
}
#title:hover {
	color:#fffbd2;
}
footer, section, header {
    display: block;
}
#main {
    position: relative;
    margin: 0 auto;
    padding: 0 10px 120px 20px;
    width: 952px;
    height:450px;
}
.home .post-audio .audio-desc {
    padding-top: 0px;
    
}
.end .post-link {
    padding: 0 70px;
}
.reprint {
    margin: 0 auto;
    text-align: left;
    width: 720px;
}
.end .morereply {
    padding: 10px 0 0;
}
.home .post-action {
    display: none;
}
.add-reply .sync_area input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    height: auto;
    margin-bottom: 5px;
    outline: medium none;
    vertical-align: middle;
    width: auto;
    *margin-bottom: 0px;
}
.add-reply .sync_area label {
    cursor: pointer;
}
.post-audio .audio-desc {
     color: #666666;
    font-size: 14px;
    max-height: 158px;
    line-height: 24px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 10px;
    position: absolute;
    text-align: center;
    width: 141px;    }
.post .cover .video-desc {
    color: #FFFFFF;
    font-size: 20px;
    height: 106px;
    left: -1px;
    margin: 72px 20px;
    opacity: 0;
    filter:alpha(opacity=0); 
    overflow: hidden;
    position: absolute;
    top: -1px;
    width: 202px;
}
.post .cover:hover .video-desc {
    opacity: 1;
    filter:alpha(opacity=100); 
}
.post-audio .audio-panel {
    margin-bottom: 10px;
    text-align: center;
}
.post-video .video-desc {
    display:none;
    height:0px;
}
.post .post-video .video-play img {
    width: 163px;
    height:165px;
}
.post-panel .post-music {
    height: 161px;
    overflow: hidden;
    text-align: center;
    width: 161px;
}
.post-panel .post-music .music-desc {
    display: none;
}
.post-panel .post-music .music-play {
    float: left;
}
.post-panel .post-music .music-screen {
    height: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 100%;
}
.post-music	{
	position:relative;
	top:-17px;
}
.post-video	{
	position:relative;
	top:-16px;
}
.middle{
	position:relative;
	width:160px;
}
.link	{
	width:155px;
	max-height:158px;
}
.link a	{
	width:150px;
	height:150px;
	font-size:14px;
}
.post-content .link a{
    font-size: 30px;
    font-weight: normal;
    line-height: 40px;
    text-align: center;
    color:#666;
}
.photo img {
	
}
.post-panel .post-music .music-screen img {
    height: 161px;
    width: 161px;
}
.post-panel .post-music .music-screen .music-botton {
    background: url("http://xnimg.cn/smallsite/images/theme/polaroid/music-new.png") no-repeat scroll -1px -1px transparent;
    _background:url("http://xnimg.cn/smallsite/images/music-terminalie.png") no-repeat scroll center center;
    display: block;
    height: 161px;
    left: 0;
    position: absolute;
    top: 0px;
    width: 161px;
}
.post-article .content {
    position:relative;
    color: #666666;
    font-size: 14px;
    line-height: 36px;
    margin: 10px 0 20px;
}
.post-article .content {
    
    line-height: 50px\9;
   }
.post-article .title{
     position:relative;
    top:0px;
    color: #666666;
    font-size: 14px;
    font-family:'Microsoft Yahei',Tahoma,Arial,Helvetica,Simsun,STHeiti;
    font-style:normal;
    font-weight:100;

}
.end .post-article .title {
    font-size: 30px;
}
.post .post-audio .audio-play {
    background: url("http://s.xnimg.cn/smallsite/images/audio-player.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 28px;

    margin: 8px auto 20px;
    width: 102px;
}
#postList {
    padding: 20px 0 0;
}
#postList .post {
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
    position:absolute;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 10px;
    display: inline;
    float: left;
    height: 208px;
    margin: 0 10px 20px 0;
    overflow: hidden;
    width: 160px;
}
#postList .color2, #postList .color3 {
    display:none;
    visibility:hidden;
}
#postList .post{
	position:static\9;
		float:left\9;
}
* html #postList .post{
	position:static;
		float:left;
}
#postList .post:nth-child(10)
 {
	left:140px;
	top:100px;
	-webkit-transform: rotate(9deg);
	-moz-transform: rotate(9deg);
	transform: rotate(9deg);
	z-index:9;
}
#postList .post:nth-child(9) {
	left:331px;
	top:205px;
	-webkit-transform: rotate(9deg);
	-moz-transform: rotate(9deg);
	transform: rotate(9deg);
	z-index:8;	
}
#postList .post:nth-child(8) {
	left:175px;
	top:200px;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	transform: rotate(-20deg);
	z-index:7;
}
#postList .post:nth-child(7) {
	left:498px;
	top:15px;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	transform: rotate(-20deg);
	z-index:6;
	}
#postList .post:nth-child(6) {
	right:200px;
	top:40px;
	-webkit-transform: rotate(40deg);
	-moz-transform: rotate(40deg);
	transform: rotate(40deg);
	z-index:5;
}
#postList .post:nth-child(5) {
	left:500px;
	top:170px;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	transform: rotate(-10deg);
	z-index:4;
	}
#postList .post:nth-child(4) {
	left:600px;
	top:180px;
	-webkit-transform: rotate(40deg);
	-moz-transform: rotate(40deg);
	transform: rotate(40deg);
	z-index:10;
}
#postList .post:nth-child(3) {
	left:180px;
	top:22px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
	z-index:2;
}
#postList .post:nth-child(2) {
	left:350px;
	top:20px;
	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	transform: rotate(-60deg);
	z-index:1;
}
#postList .post:nth-child(1) {
	left:400px;
	top:5px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	z-index:0;
}
#main:hover #postList .post:nth-child(1) {
		top:0px;
  		left:0px;
    	-webkit-transform:none;
    	-moz-transform:none;
    	transform:none;
}
#main:hover #postList .post:nth-child(2) {
		top:0px;
  		left:190px;
    	-webkit-transform:none;
    	-moz-transform:none;
    	transform:none;
}
#main:hover #postList .post:nth-child(3) {
		top:0px;
  		left:380px;
    	-webkit-transform:none;
    	-moz-transform:none;
    	transform:none;
}
#main:hover #postList .post:nth-child(4) {
		top:0px;
  		left:570px;
    	-webkit-transform:none;
    	-moz-transform:none;
    	transform:none;
}
#main:hover #postList .post:nth-child(5) {
		top:0px;
  		left:760px;
    	-webkit-transform:none;
    	-moz-transform:none;
    	transform:none;
}
#main:hover #postList .post:nth-child(10) {
		top:240px;
  		left:760px;
    	-webkit-transform:none;
    	-moz-transform:none;
    	transform:none;
}
#main:hover #postList .post:nth-child(9) {
		top:240px;
  		left:570px;
    	-webkit-transform:none;
    	-moz-transform:none;
    	transform:none;
}
#main:hover #postList .post:nth-child(8) {
		top:240px;
  		left:380px;
    	-webkit-transform:none;
    	-moz-transform:none;
    	transform:none;
}
#main:hover #postList .post:nth-child(7) {
		top:240px;
  		left:190px;
    	-webkit-transform:none;
    	-moz-transform:none;
    	transform:none;
}
#main:hover #postList .post:nth-child(6) {
		top:240px;
  		left:0px;
    	-webkit-transform:none;
    	-moz-transform:none;
    	transform:none;
}
#postList .post:hover {
    background-color:#fffbd2;
    border-color: #fffbd2;
    border-style: solid;
    border-width: 10px;
}
#postList .post:hover, #postList .post:focus {
    -moz-transform: scale(1.05);
}
#postList .audio-holder {
    height: 194px;
}
#postList .post .post-audio .audio-play {
    background: url("http://a.xnimg.cn/smallsite/images/theme/mise/audio.png") no-repeat scroll 95px 33px transparent;
    cursor: pointer;
    display: block;
    height: 110px;
    margin: 4px auto 0;
    width: 155px;
}
#postList .post .post-video .video-play {
    cursor: pointer;
    display: block;
    height: 161px;
    overflow: hidden;
    position: relative;
    width: 161px;
}
#postList .post .post-video .play-botton {
    background: url("http://a.xnimg.cn/smallsite/images/theme/polaroid/video.png") no-repeat scroll 0 0 transparent;
    _background:url("http://xnimg.cn/smallsite/images/play-ie6.png") no-repeat center center transparent;
    display: block;
    height: 161px;
    left: 0;
    position: absolute;
    top: 0;
    width: 161px;
}
#postList .post .cover {
    display: block;
    left: -1px;
    position: absolute;
    text-decoration: none;
    top: 0px;
}
#postList .post .cover {
    position:relative\9;
    float:left\9;
    height: 166px\9;
   	width: 161px\9;
   	top:-178px\9;
}
#postList .feed-music .cover {
    position:relative\9;
    float:left\9;
    height: 166px\9;
   	width: 161px\9;
   	top:-181px\9;
}
#postList .feed-article .cover {
    position:relative\9;
    float:left\9;
    height: 166px\9;
   	width: 161px\9;
   	top:-174px\9;
}
#postList .feed-photo .cover {
    position:relative\9;
    float:left\9;
    height: 166px\9;
   	width: 161px\9;
   	top:-184px\9;
}
#postList .feed-link .cover {
    position:relative\9;
    float:left\9;
    height: 166px\9;
   	width: 161px\9;
   	top:-174px\9;
}
#postList .feed-audio .cover {
    position:relative\9;
    float:left\9;
    height: 166px\9;
   	width: 161px\9;
   	top:-210px\9;
}
* html .post.feed-article .post-panel .cover:hover i {
	display:none;
}
.post.feed-article .post-panel a.cover {
	display:none\9;
}
#postList .post .cover i {
    background-color: #000000;
    display: block;
    height: 161px;
    opacity: 0;
    filter:alpha(opacity=0); 
    width: 161px;
}
#postList .feed-music .cover i {
    background-color: #000000;
    display: block;
    height: 163px;
    opacity: 0;
    filter:alpha(opacity=0); 
    width: 161px;
}
#postList .feed-music .cover i {
    display: block\9;
    height: 165px\9;
}
#postList .feed-article .cover i {
    display: block\9;
    height: 165px\9;
}
#postList .feed-photo .cover i {
    display: block\9;
    height: 165px\9;
}
#postList .feed-link .cover i {
    display: block\9;
    height: 165px\9;
}
#postList .feed-audio .cover i {
    display: block\9;
    height: 165px\9;
}
#postList .post .cover:hover i {
    opacity: 0.4;
    filter:alpha(opacity=40);  
}
#postList .post .cover h4 {
    font-size: 16px;
    line-height:24px;
    height: 140px;
    margin: 0 auto;
    opacity: 0;
    filter:alpha(opacity=0); 
    overflow: hidden;
    padding: 0 10px;
    position: absolute;
    text-align: center;
    top: 14px;
    width: 141px;
    color:white;
}
#postList .post .cover:hover h4 {
    opacity: 1;
    filter:alpha(opacity=100); 
}
.post .cover span {
    -moz-transition: opacity 0.3s ease 0s;
    bottom: 10px;
    color: #FFFFFF;
    font-size: 14px;
    opacity: 0;
    filter:alpha(opacity=0); 
    position: absolute;
    right: 10px;
}
.post .cover:hover span {
    opacity: 0.9;
    filter:alpha(opacity=90); 
}
.post .cover span, .post .cover i, .post .cover p {
	display:none;
	}
.cover h4 {
	display:hidden;
	font-size:0px;
}
#postList .post .post-text, #postList .post .post-link, #postList .post .post-article {
   	color:#666666;
    font-size: 14px;
    height: 156px;
    line-height: 24px;
    overflow: hidden;
    padding: 0px 0px 0 4px;
    width: 155px;
    position:relative;
    top:-14px;
}
#postList .post-panel {
    background-color: #DED9D3;
    height: 161px;
}
.feed-photo .post-panel{
    _background-color:transparent!important;
}
.post-photo	{
	position:relative;
	top:-20px;
    _top:-16px;
}
#postList.clearfix .photo{
	height: 165px;
    overflow: hidden;
    text-align: center;
    width: 160px;
}
.end .post-panel .photo {
    _width:952px;
    _overflow: hidden;
}
#siteTopic-followsCounter em {
    font-size: 13px;
    font-style: normal;
}
.topics {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    width: 570px;
}
.topics li {
    display: block;
    float: right;
    height: 20px;
    line-height: 18px;
    padding: 0 8px;
    overflow:hidden;

}

* html .topics li {
	overflow:hidden;
}
.topics li a {
    border-radius: 10px 10px 10px 10px;
    display: inline;
    color:white;
}

.topics li a:hover {
	color:#fffbd2;
    text-decoration: none;
}


.topics li .s {
    color:#fff9b5;
    font-weight: bold;
}



#siteTopic h4 {
    display: none;
}
#main-wrap footer {
    margin: 50px auto 0;
    padding-bottom: 20px;
    position: relative;
    top:-130px;
    width: 983px;
    z-index: 98;
}
#main-wrap footer h4 {
    font-size: 16px;
    font-weight: normal;
    height: 60px;
    margin: 0px 0 0 5px;
    color:white;
	text-shadow:0.5px 0.5px gray;


}
#main-wrap footer #followers h4 {
    color:white;

}
#main-wrap footer #master img, #main-wrap footer #followers img {
    height: 49px;
    width: 49px;
}
#main-wrap footer li {
    float: left;
    height: 49px;
    margin: 0 5px 10px;
    width: 49px;
}
#pagerbar {
}
.pages {
    margin: 0 auto;
    position: relative;
    top: -9px;
    width: 267px;
}
.pages li {
    display: inline-block;
    line-height: 18px;
}


.pages li.prev a:hover {
    background: url("http://a.xnimg.cn/smallsite/images/theme/polaroid/backhovernew.png") no-repeat scroll 0 0 transparent;
    background-position: -17px -21px;
    color:#f2f2f2;

}


.pages li.next a:hover {
	background: url("http://a.xnimg.cn/smallsite/images/theme/polaroid/forwardhovernew.png") no-repeat scroll 0 0 transparent;
	background-position: 0px -21px;
        color:#f2f2f2;


}

* html .pages li.next a:hover {
	background:none;
	
}

* html .pages li.prev a:hover {
	background:none;
}

.pages li.prev a, .pages li.next a {
    display: block;
    width: 36px;
}
.pages li.prev a {
    background: url("http://a.xnimg.cn/smallsite/images/theme/polaroid/backnew.png") no-repeat scroll 0 0 transparent;
    position:fixed;
    background-position: -17px -21px;
    padding-right: 20px;
    width:43px;
    height:110px;
    text-align:left;
    text-indent:-9999px;
    text-decoration: none;
}
.pages li.next a {
	background: url("http://a.xnimg.cn/smallsite/images/theme/polaroid/forwardnew.png") no-repeat scroll 0 0 transparent;
    background-position: 0px -21px;
    padding-right: 20px;
    text-indent:-9999px;
    width:52px;
    height: 110px;;
    text-align: left;
    text-decoration: none;
}

* html .pages li.next a{
	background-image:none;
	position:relative;
	right:-500px;
	top:20px;
	padding-right: 20px;
    width:50px;
    height:20px;
    color:white;
    font-size:14px;
    text-align: right;
    text-decoration: none;
}

* html .pages li.next a:hover {
	background-image: none;
	background-position: -37px -20px;
}
* html .pages li.prev a{
	background-image:none;
	position:relative;
	left:-350px;
	top:110px;
	padding-right: 20px;
    width:50px;
    height:20px;
    color:white;
    font-size:14px;
    text-align: right;
    text-decoration: none;
}

* html .pages li.prev a:hover {
	background-image: none;
	background-position: -37px -20px;
}

.pages li.next {
    font-size:0px;
    position:fixed;
    right:-14px;
    top:322px;
    background-position: 3px 1px;
    height:100px;
    padding-left: 50px;
    
}

.pages li.prev {
    font-size:0px;
    position:fixed;
    left:0px;
    top:322px;
    background-position: 3px 1px;
    height:100px;
    padding-right: 50px;
}


.pages li.current {
    display: none;
    color: #666666;
    font-size: 0px;
    text-align: center;
}
.pages li.current:first-child {
    margin-left: 113px;
}
.end #main {
    height: auto !important;
    min-height: 150px;
    overflow: visible;
    padding: 0 0 25px;
}
.end .post-audio .audio-desc {
    font-size: 16px;
    margin: 0 auto;
    width: 900px;
}
.end .post-panel .post-music {
    height: auto;
    margin: 0 auto;
    width: 580px;
}
.end .post-panel .post-music h4 {
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
.end .post-panel .post-music .music-desc {
    display: block;
    position:relative;
    top:-87px;
    font-size: 14px;
    height: auto !important;
    min-height: 70px;
    padding: 10px 10px 10px 150px;
    text-align: left;
    width: 410px;
}
.end .post-panel .post-music .music-play {
    display: block;
    height: 120px;
}
.end .post-panel .post-music .music-play img {
    display: block;
    float: left;
    height: 120px;
    margin: 0 20px 0 auto;
    width: 120px;
}
.end .post-panel .post-music .music-play object {
    float: right;
    margin-right: 239px;
}
.end .post-panel .post-music .music-play span {
    display: none;
    float: left;
}
.end .post-panel .post-music .music-screen {
    height: auto;
    margin: 0;
    width: auto;
}
.end .post-panel .post-music .reprint {
    margin-left: 0;
    overflow-x: hidden;
    width: 580px;
}
#content footer {
    *position: relative;
    *zoom:1;
    background-color: #FFFFFF;
    margin: -46px auto 0;
    width: 952px;
    border-top: 1px solid;
    *border-top: none;
}
.post-reply{
    *position: relative;
    *zoom:1;
}
* html #content footer {
   
    margin: -160px auto 0;
    width: 952px;
}
.post-link .thumbnail {
    margin: 0 auto;
    text-align: center;
}
.post-link .thumbnail img {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 9px;
}
.post-link .thumbnail .desc {
    color: #333333;
    font-size: 12px;
    margin: 24px auto;
    width: 580px;
    display:none;
}
.post-meta {
    margin: 20px auto 0px;
    top: 25px;
    width: 952px;
    _margin-bottom:0px;
}
.post-meta .post-topic {
    line-height: 18px;
    height: 44px;
    margin: 0 auto;
    overflow: hidden;
    width: 830px;
    border-top: 1px solid #E3E3E3;
}
.end footer .post-topic{
    background-position: 0 28px;
}
.post-meta .post-topic ul {
    line-height: 26px;
    margin-bottom: 20px;
}
.post-meta .post-topic ul:before, .post-meta .post-topic ul:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.post-meta .post-topic ul:after {
    clear: both;
}
.post-meta .post-topic ul {
}
.post-meta .post-topic li {
    height: 20px;
    line-height: 20px;
    margin: 25px 20px 0 0;
    padding: 0 10px 0 5px;
}
.post-meta .post-topic li a:hover {
    text-decoration: none;
}
.post-meta .post-action {
    margin: 20px auto 30px;
    overflow: hidden;
    white-space: nowrap;
    width: 870px;
}
.post-meta .post-action ul {
    float: left;
    height: 20px;
}
.post-meta .post-action li {
    float: left;
    margin-right: 40px;
}
.post-meta .post-action .hot-count h5{
    display: none;
}
.post-meta .post-action .hot-count a{
    background-position:-12px -3px;
}
.post-meta .post-action .hot-count a:hover{
    background-position:-12px -33px;
}
.post-meta .post-action li a {
    display: inline-block;
    *display: inline;
    *zoom:1;
    font-family:'Microsoft Yahei';
    line-height:18px;
    padding-left:20px;
    height:20px;
}
.post-meta .post-action li a:hover {
    color:#FFfF9B;
    text-decoration:none;
}
.time-meta	{
	position:relative;
	text-align:center;
	top:180px;
	color:#aaa;
	font-family:"Helvetica";
	font-size:14px;

}
* html .time-meta	{
	position:relative;
	text-align:center;
	top:180px;
	font-family:"Helvetica";
	font-size:14px;

}
.time-s-0-1 {
	display:none;
	visibility:hidden;
}
.time-s-2-1 {
	display:none;
	visibility:hidden;
}
.time-s-0-2	{
	display:none;
	visibility:hidden;
}
.time-s-2-2	{
	display:none;
	visibility:hidden;
}
.time-s-2-3	{
	display:none;
	visibility:hidden;
}

.add-reply {
    margin: 0 auto;
    width: 870px;
}
.reply-panel{
    position: relative;
   	margin: 0 auto 10px; 
    width: 870px;
    *zoom:1;
}
.reply-list {
 position:relative;
 *position: relative;
 *zoom:1;
}
.end .reply-list li {
    *position: relative;
    *zoom:1;
    margin: 0 auto;
    position: relative;
    width: 870px;
}
.reply-list .head img {
    display: block;
    float: left;
    height: 30px;
    width: 30px;
}
.reply-list .reply-main {
    display: inline-block;
    width: 800px;
}
.reply-list .reply-content {
    float: left;
    font-size: 12px;
    padding: 0 180px 0 4px;
    color:#f2f2f2;
    width: 720px;
}
.reply-list .reply-content a {
    color: #999999;
    display: inline-block;
}
.reply-list .reply-content a:hover {
    color: #f2f2f2;
}
.reply-list img {
    display: block;
    float: left;
    height: 30px;
    vertical-align: middle;
    width: 30px;
}
.reply-list .reply-time {
    font-size: 12px;
    color:#888888 !important;
    position: absolute;
    right: 3px;
    top: 12px;
}

.reply-list .delete,.reply-panel .shield, .reply-panel .reply-report {float:left; margin:0 0 0 4px; display:none;width:13px;height:13px;text-indent:-9999px;overflow:hidden; outline:none;background-image:url('http://a.xnimg.cn/smallsite/images/home-new/reply-icon.png'); background-repeat:no-repeat;}
.reply-list .reply-list-btn {top:15px; right:3px; }
.reply-list .to-share {display:none; position:absolute; right:3px; top:29px; color:#888;}
.reply-list .to-share a{color: #888;}
.end .post-photo, .end .video-holder, .end .post-article {
    text-align: left;
}
.post-photo
.end .post-article p {
    line-height: 26px;
    text-align: left;
    color:black;
}
.end .post-photo .desc {
    padding: 10px 0;
}
.end .post-panel {
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom:56px;
    width: 100%;
    background-color:white;
    border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.end .post-panel img {
    display: block;
    margin: 0 auto;
    max-width: 800px;
    overflow: hidden;
}
.end .post-article .content, .end .post-music {
    margin: 20px auto 0;
    width: 720px;
}
.end .post-article .content {
    margin: 20px auto;
    text-align:left;
}
.end h4, .end .post-text, .end .post-link .link {
    font-size: 30px;
    font-weight: normal;
    line-height: 40px;
    margin: 0 auto 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 800px;
    color:#666666;
}
.end .post-photo .desc {
    margin: 0 auto;
    width: 800px;
}
.end .back {
    display: none;
}
.end #sitedesc {
    display: none;
}
.end .data {
    display: none;
}
#header-followsCounter, #sitedesc, #siteTopic .sitehead, #followsCounter, header .sitehead {
    display: none;
}
#header-master	{
	display:none;
}
.post-footer #master{
	display:none;
}
.post-footer #followers{
	display:none;
}
#siteTopic {
    height:150px;
    margin: 0 auto;
    padding: 15px 100px 0;
    position: absolute;
    right:-153px;
    top:92px;
    width: 410px;
    z-index: 99;
    text-align:right;
}
#siteTopic ul {
   
    height: 140px;
    margin: 0 auto;
    overflow: hidden;
    width: 400px;
    line-height:20px;
   
}
#siteTopic ul {
   
    height: 240px\9;
    overflow: hidden\9;
    width: 400px\9;
    line-height:30px\9;
   
}
#siteTopic-followsCounter {
    display: block;
    float: left;
    font-size: 16px;
    top:-14px;
    left: 295px;
    position: absolute;
    z-index: 110;
    width:200px;
    color:white;
    text-align:right;
}
#siteTopic-followsCounter a{
    color: white;
    text-decoration: none;
}
#siteTopic-followsCounter a:hover {
	color:#fffbd2;
}
footer .sitehead {
    left: 40px;
    position: absolute;
    top: 125px;
    z-index: 100;
    display: none;
}

footer .sitehead img {
    bottom: -255px;
    display: block;
    height: 0;
    left: -12.5%;
    overflow: hidden;
    padding-top: 190px;
    position: absolute;
    text-align: left;
    width: 125%;
}

#sitedesc {
   	left: 0;
    line-height: 22px;
    overflow: visible;    
    position: static;
    text-align: left;
   	width: 250px;
	padding-left: 25px;
	border-radius: 5px;
    z-index: 1;
    color:white;
    display: block;
    font-size: 12px;

}

#sitedesc a, #sitedesc p {
    display: block;
    float: left;
}
#sitedesc p {
    line-height: 24px;
    margin-left: -325px;
    width: 555px;
}
#footer-sitedesc {
 	bottom: -255px;
    display: block;
    height: 0;
    left: -12.5%;
    overflow: hidden;
    padding-top: 190px;
    position: absolute;
    text-align: left;
    width: 125%;
}

.post-prev	{
     display:block;
     background: url("http://a.xnimg.cn/smallsite/images/theme/polaroid/backnew.png") no-repeat scroll 0 0 transparent;
     position:fixed;
     left:-106px;
     top:260px;
    background-position: 87px -21px;
    padding-right: 20px;
    width:140px;
    height: 110px;
    text-align: left;
    text-decoration: none;
}
* html .post-prev  {
     display:block;
     background: url("http://a.xnimg.cn/smallsite/images/theme/polaroid/iebackhover.png") no-repeat scroll 0 0 transparent;
     position:relative;
     left:-90px;
     top:260px;
     width:40px;
    padding-right: 20px;
    font-size:20px;
    text-align: left;
    text-decoration: none;
    text-indent:-9999px;
}

.post-next {
    position:fixed;
    background: url("http://a.xnimg.cn/smallsite/images/theme/polaroid/forwardnew.png") no-repeat scroll 0 0 transparent;
    right:-146px;
    top:260px;
    background-position: -4px -21px;
    padding-right: 20px;
    width:180px;
    height: 110px;
    text-align: right;
    text-decoration: none;
}

.post-next {
    position:fixed\9;
    background: url("http://a.xnimg.cn/smallsite/images/theme/polaroid/forwardnew.png") no-repeat scroll 0 0 transparent\9;
    right:-146px\9;
    top:260px\9;
    background-position: -4px -21px\9;
    background-size:30px 60px\9;
    padding-right: 20px\9;
     width:180px\9;
    height: 110px\9;
    text-align: right\9;
    text-decoration: none\9;
    text-indent:-9999px\9;
}
* html .post-next {
    position:absolute;
    background: url("http://a.xnimg.cn/smallsite/images/theme/polaroid/ieforwardhover.png") no-repeat scroll 0 0 transparent;
    text-indent:-9999px;
    padding-right: 20px;
    font-size:20px;
    right:-110px;
    text-align: left;
    width:40px;
    text-decoration: none;
}


.post-prev:hover	{
    background: url("http://a.xnimg.cn/smallsite/images/theme/polaroid/backhovernew.png") no-repeat scroll 0 0 transparent;
    background-position: 87px -21px;
    }
* html .post-prev:hover    {
    background: url("http://a.xnimg.cn/smallsite/images/theme/polaroid/iebackhover.png") no-repeat scroll 0 0 transparent;
    text-decoration:none;
    color:white;
    }
.post-next:hover {
    background: url("http://a.xnimg.cn/smallsite/images/theme/polaroid/forwardhovernew.png") no-repeat scroll 0 0px transparent;
    background-position: -4px -21px;
	text-align: right;
}
* html .post-next:hover    {
     background: url("http://a.xnimg.cn/smallsite/images/theme/polaroid/ieforwardhover.png") no-repeat scroll 0 0 transparent;
    text-decoration:none;
    color:white;
    text-align:left;
    }

.post {
    position: relative;
}
* html .post {
    top:-120px;
}
footer #master {
    padding: 0 40px;
    position: absolute;
    background: url("http://a.xnimg.cn/smallsite/images/theme/polaroid/thumb.png") no-repeat scroll 0 -120px transparent;
    background-position: 82px 4px;
    left: -40px;
    top:101px;
    width: 370px;
    height:60px;
}
footer #master:hover {
	background: url("http://a.xnimg.cn/smallsite/images/theme/polaroid/thumbhovernew.png") no-repeat scroll 0 -120px transparent;
    background-position: 80px 2px;
    
}

footer #followers {
    margin-top: 20px;
    padding: 0 40px 20px;
    position: absolute;
    background: url("http://a.xnimg.cn/smallsite/images/theme/polaroid/thumb.png") no-repeat scroll 0 -120px transparent;
    background-position: 129px 5px;
    right: -40px;
    top: 81px;
    width: 370px;
    height:60px;

}
footer #followers:hover {
	background: url("http://a.xnimg.cn/smallsite/images/theme/polaroid/thumbhovernew.png") no-repeat scroll 0 -120px transparent;
    background-position: 129px 3px;


}

.home li.name-card {
	opacity:0;
	filter:alpha(opacity=0); 
	}

a.ownerhead {
	opacity:0;
	filter:alpha(opacity=0); 
	}
	
	
footer #master {
		background-image:none\9;


}
footer #master:hover {
	background-image:none\9;
}


a.ownerhead {
	visibility:visible\9;
	filter:alpha(opacity=100)\9; 

}
footer #followers {
	visibility:visible\9;
	background-image:none\9;
	
}
.home li.name-card {
	visibility:visible\9;
	filter:alpha(opacity=100)\9; 
}
footer #followers:hover {
	background-image:none\9;
   

}
img[src=""] {
    display: none;
}
.post-footer {
  
}
.reprint a {
    color: #666666;
}
.reprint a:hover {
    text-decoration: none;
}
#master:hover a.ownerhead {

	filter:alpha(opacity=100);
 	opacity:1;
	-moz-transition: opacity 1s ease 0s;
		-webkit-transition: opacity 1s ease 0s;
	transition: opacity 1s ease 0s;		}

#followers:hover li.name-card {

	filter:alpha(opacity=100);
 	opacity:1;
	-moz-transition: opacity 1s ease 0s;
		-webkit-transition: opacity 1s ease 0s;
	transition: opacity 1s ease 0s;		

}  
* html footer #master {
    padding: 0 40px;
    position: absolute;
    background: none;
    left: -40px;
    top:101px;
    width: 370px;
    height:60px;
}
* html footer #master:hover {
	background: none;
    
}

#tagOrderTip {
	
	filter:alpha(opacity=100);
 	opacity:1;
} 
.gotop{
    _right:-60px;
}
.middle .link a {color:#666;}
.tag-selector li a, .tag-selector li a:hover{_color: #536981!important;}
.share-to dt a, .share-to dt a:hover{_text-decoration: none!important;_color: #536981!important;}
.share-to dd a{_color: #4F647A!important;_text-decoration: none!important;}

/*RSS与归档样式*/
#siteTopic-followsCounter{ top:-36px;}
.rss a,.archive a{ position: absolute; top:-10px; width:40px; display:none; font-size:14px;}
.rss a:hover,.archive a:hover{ color:#FFFBD2; text-decoration:none;}
#siteTopic .rss a{ left: 457px; display:inline;  background-position:0 0; text-transform:uppercase; *left:453px;color:#fff;cursor: pointer;}
#siteTopic .archive a{
    left: 417px;
    display:inline; 
    background-position:0 bottom; 
    *left:413px;
    color:#fff;
    cursor: pointer;
}
#siteTopic .rss a:hover,#siteTopic .archive a:hover{
    color:#fffbd2;
}
.end #followers{
    display: none;
}
header #master, header #followers {
    display:none;
}
.add-reply textarea{
    width: 775px;
}
.end .sync_area{
    right: 1px; 
    _right:0px; 
    *width:80px;
    _width:85px;
    *right:-5px;
}
.add-reply form div{
    _position:relative;
}
.add-reply .input-button{
    *position:absolute;
    *top:0px; 
    *right:0px;
}
header #master, header #followers {
    display:none;
}
#container .post .post-photo .photo h4{
    display:none;
}
#siteTopic .archive a{ left: 417px; display:inline; background-position:0 bottom; *left:413px;color:#fff;cursor: pointer;}
#siteTopic .rss a:hover,#siteTopic .archive a:hover{color:#fffbd2;}
.end #followers{display: none;}
header #master, header #followers,#header-followers,#header-master {display:none;}
#container .post .post-photo .photo h4{display:none;}
/*status*/
#container .feed-text .inner .quote-start,#container .feed-text .inner .quote-end{
    display:none;
}
.end .add-reply{*padding-bottom: 0px;}
.followabout .layer-content .about-sites h4{width: auto; padding: 0; text-align: left; line-height: 19px;}
#morecoment, #morecoment:link, #morecoment:visited{color:#888!important;}
.post .ccagreement {
    margin-left: 115px;
    width: 66px;
}