/* BODY STYLES */
body{ background-color:#fff;font-family:"Microsoft Yahei",Arial;font-size:12px;color:#999999; word-wrap:break-word;}
#title{color:#fafafa;}
#header-followsCounter a{color:#999;}
#title:hover{color:#f47056;-moz-transition:color 400ms ease-out 0s; -webkit-transition:color 400ms ease-out 0s;transition:color 400ms ease-out 0s;}
a{text-decoration:none; color:#555;}
/* HEADER STYLES */
.topics li a{color:#999999;-moz-transition: all 400ms ease-out 0s; -webkit-transition: all 400ms ease-out 0s; transition: all 400ms ease-out 0s;}
.topics li a:hover{-moz-transition: all 400ms ease-out 0s; -webkit-transition: all 400ms ease-out 0s; transition: all 400ms ease-out 0s;}
#container #main-wrap .sitehead { display:none;}
#container header img{display:none;}
#container header .sitehead{background:url('http://a.xnimg.cn/smallsite/images/theme/simpleblackwhite/logo.png') no-repeat scroll center;width:87px;height:107px;display:none;margin:0 auto;cursor:default;}
#container header{position:relative; text-align:center;padding:85px 0px 50px;background-color:#111111;border-bottom:5px solid #F47056; text-align:center;}
header h1{margin:10px 0 10px 0;}
header #title {border: none;border-bottom:none!important;font-size:40px;-moz-transition:color 400ms ease-out 0s; -webkit-transition:color 400ms ease-out 0s;transition:color 400ms ease-out 0s;}
header #title a:hover { text-decoration:none;}
#sitedesc{font-size:14px;color:#999999; width:900px;word-wrap:break-word; word-break:break-all;margin:50px auto 0; display:block; text-align:center}
#siteTopic{padding-bottom:85px;position:absolute;top:-45px;left:50%;width:1000px;margin-left:-500px;}
#header-followsCounter{display:block;margin:20px 0 0 0;font-size:16px;font-weight:bold;letter-spacing:1px;color:#999999;}
#header-followsCounter a ,#header-followsCounter a:hover{text-decoration:none ; color:#333 ;}
#header-followsCounter em{font-style:normal}
#followsCounter{text-align:center;font-size:16px;margin-bottom:10px; display:block; font-weight:bold; position:absolute;top:0px;left:0px;width:300px;left:50%;margin-left:-150px;}
#siteTopic h4 { display:none;}
.topics{width:1000px;height:20px;overflow:hidden;margin:0 auto;text-align:center;left:50%;margin-left:-500;white-space:nowrap}
.topics li{display:inline-block;zoom:1;*display:inline;height:21px;padding:0 5px;}
.topics li a{font-size:14px}
.topics li a:hover{}
.topics li a.s{font-weight:bold;}
#main-wrap{ position:relative;background:transparent;}

/*sync_area*/
.add-reply .sync_area input{vertical-align:middle;width:auto;height:auto;margin-bottom:6px;*margin-top:0px;margin-bottom:1px\9;background:none;border:none;outline:none}
.add-reply .sync_area label{cursor:pointer;*zoom:1;padding-top:3px}
#container .add-reply .sync_area{top: 80px;}
/* POST STYLES */
#postList{width:810px;overflow:hidden;margin:0px auto}
/*time*/
.post{padding:0 0 100px 50px;margin-top:42px;*height:1%}
.time-meta{position:relative;top:25px;left:0;width:auto;color:#aaa;font-size:16px;font-family:Georgia;}
.time-meta i { display:none}
.time-meta i.time-s-1-1,.time-meta i.time-s-1-2 {display:inline;}
/*post*/
.post .post-content{position:relative;margin:10px 0 0 0}
.audio-screen{padding:10px 0;}
.post .post-photo h4{height:1%;}
.post h4,.post-text .post-content,.post-link .link a,.post-video .video-holder h4{font-size:26px;color:#F47056; font-weight:bold;line-height:43px; width:auto;min-height:10px;*min-height:auto;*margin-bottom:10px;margin-bottom:10px;}
/*icon*/
.post-text{background:url('http://a.xnimg.cn/smallsite/images/theme/simpleblackwhite/simper_17.png') no-repeat 0px 35px}
.post-article{background:url('http://a.xnimg.cn/smallsite/images/theme/simpleblackwhite/simper_09.png') no-repeat 0px 35px}
.post-link{background:url('http://a.xnimg.cn/smallsite/images/theme/simpleblackwhite/simper_05.png') no-repeat 0px 35px}
.post-photo{background:url('http://a.xnimg.cn/smallsite/images/theme/simpleblackwhite/simper_07.png') no-repeat 0px 35px}
.post-video{background:url('http://a.xnimg.cn/smallsite/images/theme/simpleblackwhite/simper_11.png') no-repeat 0px 35px}
.post-audio,.post-music{background:url('http://a.xnimg.cn/smallsite/images/theme/simpleblackwhite/simper_13.png') no-repeat 0px 35px}
/*content*/
.post .post-content .content{width:100%;line-height:26px;font-size:14px}
/*audio-play*/
.audio-play{margin:0px!important}
/*topic*/
.post-topic{overflow:hidden}
.post-topic ul li{float:left;padding-left: 12px;margin:20px 15px 0 0px; display:inline;background:url("http://a.xnimg.cn/smallsite/images/theme/simpleblackwhite/fun-icon2.png") no-repeat scroll 0px -26px transparent;_background:transparent;_padding-left:0px;}
.post-topic ul li a{display:block; float:left; height:15px; overflow:hidden; font-size:12px; white-space: nowrap; padding-right:8px; padding-left:8px;background-color:#999; line-height:15px; color:#fff!important; -moz-transition: all 0ms ease-out 0s; -webkit-transition: all 0ms ease-out 0s; transition: all 0ms ease-out 0s;}
.post-topic ul li:hover{background:url("http://a.xnimg.cn/smallsite/images/theme/simpleblackwhite/fun-icon2.png") no-repeat scroll 0px -54px transparent;-moz-transition: all 0ms ease-out 0s; -webkit-transition: all 0ms ease-out 0s; transition: all 0ms ease-out 0s;}
.post-topic ul li:hover a{background-color:#f47056;-moz-transition: all 0ms ease-out 0s; -webkit-transition: all 0ms ease-out 0s; transition: all 0ms ease-out 0s;}
.post-topic ul li a:hover{background-color:#f47056;-moz-transition: all 0ms ease-out 0s; -webkit-transition: all 0ms ease-out 0s; transition: all 0ms ease-out 0s;} 
/*post-action*/
.post-action{margin-top:13px; margin-left:-15px;}
.post-action ul li{float:left;font-size:12px;}
/*replay*/
.post-reply{margin-top:40px;text-align:left;}
.add-reply textarea{width:669px;}
.reply-list li{position:relative;*zoom:1;margin-top:8px;border-bottom:1px dotted #7ac7bd;padding-bottom:8px}
.reply-list .head img{float:left;display:block;margin-top: 3px;}
.reply-list .reply-content{float:left; padding:8px 110px 8px 44px;font-size:12px; width:620px;_zoom:1;_padding-left:0;_display:inline;*zoom:1;*padding-left:0;*display:inline;}
.reply-list .reply-content a, .release-name a, .release .btn{display:inline-block;zoom:1;*display:inline; color:#999!important;}
.reply-list .reply-content a:hover, .release-name a:hover, .release .btn:hover{color:#333333!important;}
.reply-list .reply-time{position:absolute;right:0px;top:0px;font-size:12px;}
.reply-list .delete,.reply-panel .shield, .reply-panel .reply-report {float:left; margin:0 0 0 4px; display:none;width:13px;height:13px;text-indent:-9999px;overflow:hidden; outline:none;background-image:url('http://a.xnimg.cn/smallsite/images/home-new/reply-icon.png'); background-repeat:no-repeat;}
.reply-list .reply-list-btn {top:2px; right:0px; }
.reply-list .to-share {display:none; position:absolute; right:0px; top:19px;}
.reply-list .to-share a {color:#999;}
.reply-list .to-share a:hover {color:#333;}
 
/*reprint*/
.reprint{margin-top:10px;text-align:left;font-size:12px;}
/*post-action*/
.post-action li a{display:block;height:23px;ovreflow:hidden;float:left;background:url('http://a.xnimg.cn/smallsite/images/theme/simpleblackwhite/fun-icon2.png') no-repeat;padding-left:19px;padding-right:25px;line-height:23px;color:#999999;}
.post-action li a:hover{}
.post-action li a.delete{ background-position:0px -209px;}
.post-action li a.edit{ background-position:0px -181px;}
.post-action li a.share{ background-position:0px -103px;}
.post-action li a.reply{ background-position:0px 6px;}
.post-action li a.enjoy{ background-position:0px -157px;}
.post-action li a.enjoyed{ background-position:0px -78px;}
.post-action li a.placetop{ background-position:0px -131px;}
.desc,.audio-desc,.video-desc{line-height:28px;font-size:13px;margin-top:10px;}
.post-action li a{}
.thumbnail img{ float:left}
.thumbnail,.post-content{padding:10px 0px}
.post-link .thumbnail .desc{display:inline;padding-left:10px}
/*video*/
.post-video .play-botton {display:block;background: url("http://s.xnimg.cn/smallsite/images/video-player.png") no-repeat scroll 0 0 transparent;height: 30px;left: 50%;margin: -15px 0 0 -15px;
position: absolute;top: 50%;width: 30px;}
.post-video .video-play { float:left; cursor:pointer; position:relative;}
.post-audio .audio-play {background: url("http://s.xnimg.cn/smallsite/images/audio-player.png") no-repeat scroll 0 0 transparent;cursor: pointer;display: block;height: 28px;width: 102px;margin:0 auto}
.post-photo .photo,.post-photo .desc {width:100%; text-align:center;_overflow:hidden}
.post-content .photo img,.post-article .post-content img,.post-video img{display:block;max-width:760px;margin:0 auto 10px auto;background-color:#ffffff}
/*music*/
.post-music .album-cover {margin-right:10px}
.post-music .album-cover img{display:block;width:120px;height:120px}
.post-music .post-panel{}
.post-music h3{color:#F47056;font-size: 26px;font-weight: bold;line-height: 43px;min-height: 10px; padding-right: 50px;width: auto;;margin-bottom:10px}
.post-music p{font-size:14px;text-align:left;padding:5px 0px}
.post-music .textarea-box{width:76%;float:right;overflow-x:hidden}

/*footer*/
#container footer {background:#111111;border-top:5px solid #F47056;padding:150px 0 60px 0}
#container footer  img { width: 50px; height:50px;border:1px solid #8e8e8e;margin:0 2px 2px 0}
#container footer li { float:left;}
#container footer h4 { font-size:16px; margin:10px 0;text-align:left;color:#999999;}
.reply-panel {border-top: 1px dotted #7AC7BD;font-size: 12px;}
.add-reply{padding-bottom: 30px;}
/*pagerbar*/
#pagerbar{float:left;position:relative;left:0;top:50px;_top:100px;width:100%;text-align:center;}
#pagerbar .pages{width:650px;height:50px;margin:0 auto}
#pagerbar .pages li{display:inline-block;overflow:hidden;height:41px;margin:0px 10px;vertical-align:middle;*display:inline;*zoom:1;}
#pagerbar .pages .prev a,#pagerbar .pages .next a{display:inline-block;*display:block;width:41px;height:41px;overflow:hidden;text-indent:-9999em;}
#pagerbar .current{width:400px;height:41px;overflow:hidden;font-size:35px;line-height:41px;}
#pagerbar .pages .prev a{background:url('http://a.xnimg.cn/smallsite/images/theme/simpleblackwhite/page-prve.png') no-repeat;}
#pagerbar .pages .next a{background:url('http://a.xnimg.cn/smallsite/images/theme/simpleblackwhite/page-next.png') no-repeat;}

.audio-desc { margin-bottom:8px;}
#followers,#master{margin:0px auto;width:800px;}
#siteTopic-followsCounter,#followsCounter,#main .post-action .time-meta,#container #footer-sitedesc{display:none;}
.quote-end{display:inline-block;zoom:1;width:43px;height:43px;vertical-align:top;background:url("http://a.xnimg.cn/smallsite/images/theme/simpleblackwhite/simper_18.png") no-repeat scroll 0 1px;}
.video-holder embed{width:680px;height:523px;}
.video-holder object{width:680px;height:523px;}

/*RSS与归档样式*/
header{ *zoom:1;}
.rss a,.archive a{ display:none; position: absolute; font-size:14px; color:#999; height:20px; width:72px; text-indent: -9999px; background:url("http://a.xnimg.cn/smallsite/images/theme/simpleblackwhite/rss.png") no-repeat; _background:url("http://a.xnimg.cn/smallsite/images/theme/simpleblackwhite/rss-ie6.png") no-repeat;}
#container header .rss a{ display:block; top:20px; right:32px; text-transform:uppercase;background-position: -87px 0;}
#container header .archive a{ display:block; top:20px; right:120px; margin-left: 200px; background-position: 0 0px;}
#container header .rss a:hover{background-position: -87px -30px;}
#container header .archive a:hover{background-position: 0px -30px;}
body.customize header .rss a,body.customize header .archive a{top: 15px;}
/*#siteTopic .rss a{}
#siteTopic .archive a{}
footer .rss a{}
footer .archive a{}*/

/*hot-count*/
.hot-count {float:left; margin:3px 6px 0 0;}
.hot-count h5 {display:none;}
.post-action .hot-count a {margin-right:25px; padding-left:33px; color:#999; text-decoration:none; background:url(http://a.xnimg.cn/smallsite/images/theme/simpleblackwhite/fun-icon3.png) 15px -235px no-repeat;}
.post-action .hot-count a:hover {color:#f47056;}
.release{top:80px;}
.post-action .hot-count a:hover {color:#f47056;}
header #master, header #followers {display:none;}
header #master, header #followers,#header-followers,#header-master {display:none;}
.release-time span{_line-height:16px;}