body { 
	word-wrap:break-word; 
    background: #add0d7 url("http://a.xnimg.cn/smallsite/images/theme/storybook/bg_blue.png"); 
	color:#444;
}  
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 width: 99%;
}
#title {
	text-shadow:0 -1px #3a2f11, 0 1px #fff;
	-moz-transition: color 400ms ease-out 0s;
	-webkit-transition: color 400ms ease-out 0s;
	transition: color 400ms ease-out 0s;
}
#title:hover {
	color:#9fbfc5;
	text-shadow:0 -1px #9fbfc5, 0 1px #fff;
	-moz-transition: color 400ms ease-out 0s;
	-webkit-transition: color 400ms ease-out 0s;
	transition: color 400ms ease-out 0s;
	}
#container {
  background:url(http://a.xnimg.cn/smallsite/images/theme/storybook/background.jpg) no-repeat center bottom;
}
#container header,#main-wrap {
  width:960px; 
  margin:0 auto; 
}
#container #main-wrap {
  position:relative}
#container header {
  position:relative; 
  z-index:100;
}
#siteTopic .sitehead {
  display:inline; 
  float:left;
	margin:0px 0 0 18px;
	width: 146px;
  border: solid 2px #c0c0ae;
  background: url("http://a.xnimg.cn/smallsite/images/theme/storybook/bg_tan.png"); 
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	text-align:center;
	padding-top:30px;
	clear:right;
}
#container .sitehead img{border-radius:5px;
  display: block;
  margin: 0 auto 12px; 
	max-width:125px;
	_width:125px;
}    
#siteTopic-followsCounter {text-align: center;
  overflow: hidden;
  width: 130px; 
	color: #699;
	font-size: 16px;
  font-weight: bold;
	position:absolute;
	top:388px; _top:388px;
  left:30px;
}
#siteTopic-followsCounter em{
  font-style:normal;
}
#siteTopic-followsCounter a:link,#siteTopic-followsCounter a:visited{
  color:#55553B;
  text-decoration:none;
}
#siteTopic-followsCounter a:hover {
  color:#9fbfc5;
  text-decoration:none;
}
.post-link .post-content{
  min-height:120px;
}
.post h4,.post-text .post-content,.post-link .post-content{
  position: relative;
  zoom:1;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -o-border-top-left-radius: 8px;
  -ms-border-top-left-radius: 8px;
  -khtml-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
	font-size: 28px;
  line-height: 36px;         
  font-weight: bold;
  color: white;
  position: relative;
	padding: 18px 20px;
	text-shadow:1px 1px 1px rgba(0,0,0,0.5);
  -webkit-text-shadow:1px 1px 1px rgba(0,0,0,0.5);
  -moz-text-shadow:1px 1px 1px rgba(0,0,0,0.5);
} 
.post-inner .caption {
  font-size:10.5pt;
}
.primary-headline, .post .post-inner .caption h1, .post .post-inner .caption h2, .post .post-inner .caption h3, .post .post-inner .caption h4, .post .post-inner .caption h5, .post .post-inner .caption h6 {
  font-size: 24px;
  line-height: 27px;
  font-weight: bold;
  margin: 0 0 12px;
  font-color: #766c74;
} 
a{
  color: #4282a2;
  text-decoration: none; 
}
a:hover {
  color: #3a94c1; 
} 
#content {
  position: relative; 
}
#cloudsSmall {
  position: fixed;
  min-height: 100%;
  width: 100%;
  background-image: url("http://a.xnimg.cn/smallsite/images/theme/storybook/clouds_small.png");
  background-size: auto;
  background-attachment: fixed;
  background-position: 0 0;
  z-index: 0;
  opacity: 0.5;
  top: 0;
  left: 0; 
}
#postList {
  min-height:500px;
  min-height:600px\9;
  _height:500px;
}

/*music*/
.post-music .album-cover {
  margin-right:10px;
}
.post-music .post-content .album-cover img{display:block;
  width:120px;
  height:120px;
  margin: 2px 0 0 10px;
  text-align:left;
}
.post-music .post-content {
  width: 580px;
}
.post-music .post-panel{}
.post-music .music-box{
  padding:0 20px;
  margin-bottom:20px;
}
.post-music h3{ 
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: white;
  font-size: 28px;
  font-weight: bold;
  line-height: 36px;
  padding: 18px 20px;
  position: relative;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	background-color: #B9C16F;
	margin-bottom:30px;
	width:100%;
}
.post-music p{
  font-size:14px;
  text-align:left;
  padding:5px 0px;
}
.post-music .textarea-box{
  width:365px; 
  _width:350px;
  float:right;
  overflow-x:hidden;
}
.reprint {
	padding: 0px 20px;
	color:#999;
	font-size:14px;
}
#main { 
  margin-bottom:800px; position:relative;
  width: 960px;
  z-index: 3;
  float:right; 
  _margin-left:-3px;
  _padding-top:50px;
  padding: 20px 66px 100px 0;
  background:url(http://a.xnimg.cn/smallsite/images/theme/storybook/towerrepeat.png) repeat-y 79px 0;
  *background-position: 13px 0;
  _background-position: 48px 0;
}
#main #header {
  width: 596px;
  padding: 12px;
  background: #f2eebb url("http://a.xnimg.cn/smallsite/images/theme/storybook/bg_yellow.png");
  text-align: center;
  position: relative;
  -moz-box-shadow: inset 0 18px 34px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 18px 34px rgba(255, 255, 255, 0.2);
  -o-box-shadow: inset 0 18px 34px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 18px 34px rgba(255, 255, 255, 0.2); }
.innerHeader {
  border: dashed 2px #cfca9c;
  padding: 24px 24px 18px; 
  color: #706d48;
}
#container header h1 {
  font-size: 36px;
  text-transform: uppercase;
  width:780px; height:156px; 
	background:url(http://a.xnimg.cn/smallsite/images/theme/storybook/header_bg.png) no-repeat -4px 32px;
	text-align:center;
	line-height:156px;
	padding-top:40px;
	margin-left:190px;
	*margin-left:170px;
}
#sitedesc {
  margin-left:320px;
  width: 520px;
  color: #54828b;
  font-family:Helvetica,STHeiti,simsun;
  font-size:12px;
  text-align:center; 
  font-weight:normal;
  text-shadow:0 0 ,0 1px #bfd6da;
}
#main #header img.birdies {
  position: absolute;
  top: -25px;
  right: 10px; 
}
#main #header img.headerLeft, #main #header img.headerRight {
  position: absolute;
  bottom: -12px; 
}
#main #header img.headerLeft {
  left: -80px; 
}
#main #header img.headerRight {
  right: -80px; 
}
.post-topic { 
  font-size:10.5pt;
}
.post-topic li { 
  float:left;
  padding-left:20px;
  height:18px;
  line-height:18px;
  overflow:hidden;
}
.post-topic li a {
  font-size:14px;
}
.post-text .reprint a,.post-text .post-meta a,.post-text .post-reply a{
  color:#cc6; 
}
.post-photo .reprint a,.post-photo .post-meta a,.post-photo .post-reply a {
  font-size:12px; 
  color:#D388A1;
}
.post-video .reprint a,.post-video .post-meta a,.post-video .post-reply a{
  color:#c63;
}
.post-link .reprint a,.post-link .post-meta a,.post-link .post-reply a{
  color:#a38bba;
}
.post-audio .reprint a,.post-audio .post-meta a,.post-audio .post-reply a{
  color:#a6cdd4;
}
.post-article .reprint a,.post-article .post-meta a,.post-article .post-reply a{
  color:#b9c16f;
} 
.post {
  position: relative;
  margin:0 0 70px 340px;
  *margin-left:255px;
  _margin-left:290px;
  _margin-bottom:100px;
  min-height: 220px; 
  width:620px;
  background: white;
	*zoom:1;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 1px 3px #58a2b2;
  -webkit-box-shadow: 0 1px 3px #58a2b2;
  -o-box-shadow: 0 1px 3px #58a2b2;
  box-shadow: 0 1px 3px #58a2b2; 
}
.post-action a.enjoy, .post-action a.enjoyed, .post-action a.reply, .post-action a.share {
  display: block;
  left: 645px;
  position: absolute;
  width:45px;     
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  font-weight: normal;
  text-indent:-999999px;
}
.post-action a span { 
  position:absolute; 
  display:block; 
  left:60px; 
  top:0px;
  max-width:80px;
  *width:80px;
  height:35px;
  color:#4282A2;
  font-size: 20px;
  text-indent:0px;
  overflow: hidden;
}
.post-action  a.enjoy{ 
  color:#4282A2;
	background: url("http://a.xnimg.cn/smallsite/images/theme/storybook/heart-bg.png") no-repeat;
	bottom:-5px;
}
.post-action  a.enjoyed {
  color:#4282A2;
	background: url("http://a.xnimg.cn/smallsite/images/theme/storybook/heart-bg02.png") no-repeat; 
	bottom:-5px;
}
.post-action  a.share { 
  color:#4282A2;
	bottom:115px;
	background: url("http://a.xnimg.cn/smallsite/images/theme/storybook/share-bg.png") no-repeat;
}
.post-action  a.reply {  
  color:#4282A2;
  background: url("http://a.xnimg.cn/smallsite/images/theme/storybook/comment-bg.png") no-repeat;
  bottom:55px;
}
.post .post-inner .header p {
  padding: 0 15px; 
}
.post .post-inner .header p:last-child {
  margin-bottom: -6px; 
}
.post .photo, .post .desc, .post-article .content{
  padding:0 20px 0;
	width:580px;
	_overflow:hidden;
}
.post .post-inner .caption p.reference .via {
  font-style: italic; 
}
.post .post-inner .caption blockquote {
  background: url("http://a.xnimg.cn/smallsite/images/theme/storybook/bg_blockquote.png") repeat-y;
  padding: 0 0 0 24px;        
  font-style: italic; 
}
.post .post-inner .caption blockquote em {
  background: #fbf7dc; 
}
.post .post-inner .caption blockquote p {
  font-style: italic; 
}
.post .post-inner .caption blockquote p em {
  background: #fbf7dc; 
}
.thumbnail{ 
  margin-top:10px;
  _height:280px;
}
.thumbnail a{ 
  float:left; 
  padding-right:18px; 
  display:block; 
  width:200px;
}
.thumbnail .desc { 
  float:left; 
  width:320px;
}
.post .post-content img {
  max-width:580px; 
  _width:580px;
  overflow:hidden;
	display:block;
	margin:0 auto 10px;
  text-align: center; 
}
.post .post-inner .meta {
  padding: 0 12px 24px;  
  }
.post-action{ 
  z_index:9999;
  color: #666; 
	padding:13px 0 5px 13px;
	font-size:10pt;
  *zoom:1;
}
.post-action ul{
  *zoom:1;
}
.post-topic{ 
  padding-bottom:10px; 
  font-size:12pt;
}
.post .post-inner .meta p.date a {
  color: #666;
  font-weight: normal; }
.post .post-inner .meta p.date a:hover { 
  color:#333;
}
.post .post-inner .meta ul.tags {
  display: inline;
  float: left;
  margin: 0 0 0 5px; 
}
.post .post-inner .meta ul.tags li {
  display: inline; 
}
.post .post-inner .meta ul.tags li:after {
  content: " / ";
  color: #c6c4bf; 
}
.post .post-inner .meta ul.tags li:last-child:after {
  content: none; 
}
.post .post-inner .meta ul.tags li a {
  color: #9cb5c1;
  font-weight: normal; 
}
.post .post-inner .meta ul.tags li a:hover {
  color: #3a94c1; 
}
.post-article h4 {
  background-color:#b9c16f; 
  padding: 18px 20px; 
	margin-bottom:30px;
}
.post-text .post-panel {
  background-color:#b9c16f; 
	margin-bottom:30px;
	-moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -o-border-top-left-radius: 8px;
  -ms-border-top-left-radius: 8px;
  -khtml-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
} 
.post .audio .header { 
  padding:0;
}
.post .post-inner.quote .header blockquote img.quoteLeft, .post .post-inner.quote .header blockquote img.quoteRight, .post .post-inner.answer .header blockquote img.quoteLeft, .post .post-inner.answer .header blockquote img.quoteRight {
  position: absolute; 
}
.post .post-inner.quote .header blockquote img.quoteRight, .post .post-inner.answer .header blockquote img.quoteRight {
  right:7px;
  bottom: -22px; 
}
.post .post-inner.quote .header blockquote img.quoteLeft, .post .post-inner.answer .header blockquote img.quoteLeft {
  top:3px;
  left:7px; 
}
.post .post-inner.quote .header img.quoteArrow, .post .post-inner.quote .post-inner.answer .header img.answerArrow, .post .post-inner.answer .post-inner.quote .header img.answerArrow, .post .post-inner.answer .header img.quoteArrow, .post .post-inner.answer .header img.answerArrow {
  position: absolute;
  bottom: -15px;
  left: 20px;
  z-index: 10; 
}
.post .post-inner.quote .caption, .post .post-inner.answer .caption {
  padding-top: 24px;
  position: relative; }
.post .post-inner.quote .caption p:first-child strong, .post .post-inner.answer .caption p:first-child strong {
  margin: 0 0 12px;
  font-size: 18px;
  color: #abb364; 
}
.post .post-inner.answer .header {
  background: #df98b0 url("http://a.xnimg.cn/smallsite/images/theme/storybook/bg_pink.png");
  border: solid 5px #d388a1; 
}
.post .post-inner.answer .header h1 {
  padding-left: 40px;
  position: relative; 
}
.post .post-inner.answer .header h1 span {
  position: absolute;
  left: 0;
  top: 0; 
}
.post .post-inner.answer .caption div.asker {
  padding: 0 0 12px;
  margin: 0;
  border-bottom: solid 1px #dddddd; 
}
.post .post-inner.answer .caption div.asker img.askerAvatar {
  float: left;
  margin-right: 20px; 
}
.post .post-inner.answer .caption div.asker span.askerName {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  float: left; 
}
.post-photo h4 {
	background-color:#D388A1; 
	margin-bottom:10px;
}
.post-video h4 {
  background-color: #c63;
} 
.post .post-inner.text .header {
  border: none;
  background-color: #9e87b5 ;
  padding: 18px 20px 6px; 
}
.post-link .link {
  background: url("http://a.xnimg.cn/smallsite/images/theme/storybook/bg_textdashes.png") repeat-x 0 bottom;
  padding: 0 20px 12px;
  margin: 0 -20px; 
}
.post-link .link a {
  color: white;
  font-weight: normal; 
	font-size:22pt;
}
.post-link .link a:after {
  content: " "; 
}
.post-link .link a:hover {
  color: white; 
} 
.post .post-inner.chat .header {
  background: #fabf4d url("http://a.xnimg.cn/smallsite/images/theme/storybook/bg_orange.png");
  border: solid 4px #cb753c;
  padding: 18px 20px 6px; 
}
.post .post-inner.chat .header h1 {
  padding: 0 20px 12px;
  margin: 0 -20px; 
}
.post .post-inner.chat .header h1 a {
  font-weight: normal;
  color: white; 
}
.post .post-inner.chat .caption ul.chatLog {
  margin-top: -6px;
  list-style-type: none;
  padding-left: 0; 
}
.post .post-inner.chat .caption ul.chatLog li {
  margin: 3px -20px;
  padding-left: 20px;
  padding-right: 20px; 
}
.post .post-inner.chat .caption ul.chatLog li.even {
  background: #eef5f7; 
}
.post .post-inner.chat .caption ul.chatLog li.even span {
  font-weight: bold;
  color: #fabf4d; 
}
.post .post-inner.chat .caption ul.chatLog li.odd {
  background: white; 
}
.post .post-inner.chat .caption ul.chatLog li.odd span {
  font-weight: bold;
  color: #abb364; 
}
.post-audio {
  background: #70a7b2 url("http://a.xnimg.cn/smallsite/images/theme/storybook/bg_teal.png"); 
  border: solid 4px #7eb2bd;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px; 
}
.post .post-inner.audio .caption .song {
  margin: 0 12px 0 18px;
  float: left;
  width: 400px; 
}
.post .post-inner.audio .caption .song h1.title {
  margin: 0 0 6px; 
}
.post .post-inner.audio .caption .song h2.album, .post .post-inner.audio .caption .song h3.artist {
  color: #deda9c;
  font-size: 16px;
  line-height: 21px;
  margin: 0; 
}
.post .post-inner.audio .caption .song h3.artist {
  font-size: 14px;
  line-height: 21px; 
}
.post .post-inner.audio .caption .song span {
  display: block;
  margin: 6px 0 -6px; 
}
.post .post-inner.audio .caption img.albumArt {
  float: left;
  margin: 0 0 0 12px;
  border: solid white 2px;
  width: 132px;
  height: 132px; 
}
.post .post-inner.audio .caption img.notes {
  position: absolute;
  right: 20px;
  top: -10px; 
}
#pagination {
  margin-bottom: -80px; 
}
#pagination .older, #pagination .newer {
  width: 154px;
  height: 33px;
  text-indent: -9999px;
  display: block;
  float: left;
  background: url("http://a.xnimg.cn/smallsite/images/theme/storybook/btn_older.png"); 
}
#pagination .newer {
  background: url("http://a.xnimg.cn/smallsite/images/theme/storybook/btn_newer.png");
  float: right; 
}
#about {
  position: relative;
  z-index: 4;
  background: #696555 url("http://a.xnimg.cn/smallsite/images/theme/storybook/bg_brown.png");
}
#about .innerContainer {
  width: 940px;
  margin: 0 auto;
  padding: 18px 0 0; 
}
#main-wrap footer h4{
  color: #c3eef3;
  text-transform: uppercase;
  font-size: 16px;
  padding: 0 0 6px; 
}
#container footer li { 
  float:left; 
  width:71px; 
  height:71px; 
  border:2px solid #fff; 
  margin:0 4px 4px 0;
}
#master {
  width: 315px;
  float: right;  
	margin-top:450px;
  margin-left:235px; _margin-right:-19px;
}
#container footer li img {
  width:71px; 
  height:71px; 
  background-color:#fff; 
}   
#followers {
  float: left;
  width: 410px;
	height:340px; _height:345px;
	margin:438px 0 110px 0;
  *margin:450px 0 110px 0;
  _margin:-100px 0 110px 20px;
	overflow:hidden;
	} 
#followers  img { 
  width:30px; 
  height:30px;
} 
.mountains {
  width: 100%;
  height: 195px;
  background: url("http://a.xnimg.cn/smallsite/images/theme/storybook/bg_mountains.png") repeat-x bottom left;
  position: relative;
  z-index: 0;
  bottom: -70px; 
}
.hills {
  width: 100%;
  height: 196px;
  background: url("http://a.xnimg.cn/smallsite/images/theme/storybook/bg_hills.png") repeat-x bottom left;
  position: relative;
  top: 5px;
  z-index: 6; 
}
.hills .illustration {
  width: 100%;
  height: 376px;
  position: absolute;
  background: url("http://a.xnimg.cn/smallsite/images/theme/storybook/ill_bottom.png") no-repeat bottom center;
  bottom: 0;
  min-width: 940px; 
}
.play-botton {
  background: url("http://s.xnimg.cn/smallsite/images/video-player.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 30px;
  left: 50%;
  margin: -15px 0 0 -15px;
  position: absolute;
  top: 50%;
  width: 30px;
}
.video-play {
  display:block;
  position:relative;
  *display:inline;
  *zoom:1;
  cursor:pointer;
}
.topic{
  padding-left:12px;
}
.audio-play {
  background: url("http://s.xnimg.cn/smallsite/images/audio-player.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 28px;
  width: 102px;
} 
.audio-screen {
  display: block; 
  padding:10px 20px; 
  height:50px;
}
.audio-desc { 
  padding:0 20px;
}
.audio-holder .audio-desc,.audio-holder .reprint{ 
  color:#fff;
}
/*sync_area*/
#container .add-reply .sync_area{
  right: -3px; 
  _right:0px;
  top: 90px; 
  *top:86px;
  _top:87px;
}
#container .add-reply .sync_area input{
  float:left; 
  vertical-align:middle;
  width:auto;
  height:auto;
  margin-bottom:5px;
  margin-top: 4px;
  *margin-top:3px;
  background:none;
  border:none;
  outline:none;
}
#container .add-reply .sync_area label{
  cursor:pointer;
  *zoom:1;
  *padding-top:3px;
  line-height: 20px;
}
#pagerbar { 
  width:624px; 
  height:48px; 
  background: url(http://a.xnimg.cn/smallsite/images/theme/storybook/page_bg.png) no-repeat scroll 0 0 transparent; 
  margin:20px 0 0 337px;
  *margin-left:255px;
  _margin-left:285px;
}
#pagerbar li { 
  height:19px;
  width:30px;
  float:left;
  margin-top:15px; 
  overflow:hidden;
  _height:18px;
}
#pagerbar a { 
  display:block;
  height:19px;
  width:30px;
}
#pagerbar ul { 
  padding:0 200px;
}
#pagerbar .prev a{
  background: url(http://a.xnimg.cn/smallsite/images/theme/storybook/page_pointer02.png) no-repeat scroll 0 0 transparent; 
  text-indent:-999px;
}
#pagerbar .next a{
  background: url(http://a.xnimg.cn/smallsite/images/theme/storybook/page_pointer02.png) no-repeat scroll 0 -74px transparent;
  text-indent:-999px;
}
#pagerbar .next a:hover {
  background: url(http://a.xnimg.cn/smallsite/images/theme/storybook/arrow.png) 2px 1px no-repeat;
}
#pagerbar .prev a:hover {
  background: url(http://a.xnimg.cn/smallsite/images/theme/storybook/arrow.png) 1px -60px no-repeat;
}
#pagerbar .next {
  float:right;
}
#pagerbar li.current {
  padding-left:75px;
}
.post-reply{
  overflow:hidden;
}
.post-reply .add-reply{ 
  padding-top: 10px;
}
.post-reply .add-reply{
  width:582px;
  margin:10px auto 10px 16px; 
  *margin-bottom: 0;
  padding-left:2px; 
  padding-bottom: 20px;
  *padding-bottom: 0; 
  _padding-bottom:0px; 
  _margin-bottom:0px;
}
.post-reply .add-reply textarea{
  float:left;
  width:489px;
  height:69px;
  padding:2px;
  margin:0;
  border: 1px solid #E8E8E8;
  vertical-align:top;
  font-size:12px;
  font-family: 'Microsoft Yahei',Tahoma,Arial,Helvetica,Simsun,STHeiti;
}
.post-reply .add-reply textarea:hover{
  border: 1px solid #c3c3c3;
}
.post-reply .add-reply input{
  background: url("http://a.xnimg.cn/smallsite/images/theme/full-darkblue/reply.png") repeat scroll 0 0 transparent; 
  border: 0 none; 
  cursor: pointer; 
  float: right; 
  height: 75px; 
  padding: 0; 
  text-indent: -999px; 
  width: 75px;
}
.post-reply .add-reply input:hover{
  background-position: -75px 0;
}
.post-reply .add-reply input:active{
  background-position: -150px 0;
}
.reply-panel{
  position: relative;
  margin:0 auto;
  border-top: 1px solid #ECEBEA;
}
.reply-list li{ 
  display: block;
  margin-top: 5px;
  padding:5px 18px 10px; 
  position:relative; 
  border-bottom:1px solid #ecebea;
}
.reply-list li.first{
  border-top:0 none;
}
.reply-list li.last{
  border-bottom:0 none;
}
.reply-list li.bg { 
  background-color:#eef5f7;
}
.reply-list li .head{
  display:block;
  float:left;
}
.reply-list li .reply-main{
  float:left;
  position:relative;
  *zoom:1;
  width:538px;
  _width:520px;
  margin:0;
}
.reply-list li .head img{
  display:block;
  margin-top: 4px;
}
.reply-list li .replyer{
  float:left;
  margin-right:8px;
  font-size:12px; 
}
.reply-list li .reply-content{
  width:420px;
  *width:400px;
  zoom:1;
  padding:0 0 4px 0;
  font-size:12px;
  color:#333;
}
.reply-list li a{
  font-size:12px;
  color:#6cc;
}
.reply-list li .reply-time{
  position:absolute;
  right:20px;
  top:5px;
  font-size:11px;
  color:#333333;
}
.reply-list .delete,.reply-panel .shield, .reply-panel .reply-report {
  float:left; 
  margin:0 0 0 4px; 
  display:none;
  width:13px;
  height:13px;
  text-indent:-9999px;
  overflow:hidden; 
  outline:none;
  background-image:url('http://a.xnimg.cn/smallsite/images/home-new/reply-icon.png'); 
  background-repeat:no-repeat;
}
.reply-list .reply-list-btn {
  top:8px; 
  right:20px; 
}
.reply-list .to-share {
  display:none; 
  position:absolute; 
  right:20px; 
  top:24px; 
  font-size:12px;
}
.following img { 
  width:24px;
  height:24px; 
  vertical-align:baseline;
}
.post-action li .delete,.post-action li .edit,.post-action li .placetop{
  background:url("http://a.xnimg.cn/smallsite/images/theme/storybook/storybook-fun.png") no-repeat;
  padding:0px 0 0 25px;
}
.post-action li .delete{ 
  background-position:0px -4px;
}
.post-action li .edit{ 
  background-position:0px -68px;
}
.post-action li .placetop{ 
  background-position:0px -36px;
}
.morereply {
  _display:block;
  height:26px; 
  _overflow: hidden;
  line-height:40px; 
  *line-height: 36px;
  padding-left:20px; 
}
#siteTopic {
  background:url(http://a.xnimg.cn/smallsite/images/theme/storybook/towertop-new.png) no-repeat 10px 0;
  position:absolute;
  top:-214px;
  left:0px;
  _left:30px;
  padding-top:380px;
  z-index:101;
}
#siteTopic h4 { 
  display:none;
}
.topics {
  display: inline;
  float:left;
  width: 146px;
  border: solid 2px #c0c0ae;
  background: url("http://a.xnimg.cn/smallsite/images/theme/storybook/bg_tan.png");
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); 
  margin:40px 0 0 18px;
  clear:both
}
.topics li {
	-moz-transition: background-color 400ms ease-out 0s;
	-webkit-transition: background-color 400ms ease-out 0s;
	transition: background-color 400ms ease-out 0s;
  padding: 6px 12px 4px;
  *padding-left:0px;
  border-top: solid 2px #d1d1c8;
  border-right: solid 2px #d1d1c8;
  border-left: solid 2px #d1d1c8;
  border-bottom: solid 2px #c0c0ae;
  text-align: center; 
}
.topics li:nth-child(n+12) {
  display:none;
}
.topics li:hover {
	background-color:#eaeadf;
	-moz-transition: background-color 400ms ease-out 0s;
	-webkit-transition: background-color 400ms ease-out 0s;
	transition: background-color 400ms ease-out 0s;
 }
.topics li a { 
  font-size: 16px;
  font-weight: normal;
  line-height: 21px;
  color: #55553b;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.topics  li a.s { 
  font-weight:bold;
}
.topics  li a:hover {
  font-weight:bold;
  cursor: pointer; 
}  
.video-screen{
  padding-top:40px; 
  _position:relative;
  _width:100%;
  _overflow:hidden;
  text-align:center;
}
.video-desc { 
  padding:0px 20px;
}
.post-audio .post-panel { 
  background:url(http://a.xnimg.cn/smallsite/images/theme/storybook/bg_notes.png) no-repeat right top;
  _background-image:none;
}
.post-text .post-panel { 
  background:url(http://a.xnimg.cn/smallsite/images/theme/storybook/bg_quoteleft.png) no-repeat #B9C16F;
  _background-image:none;
}
.post-text .post-content {
  color:#fff; 
  background:url(http://a.xnimg.cn/smallsite/images/theme/storybook/bg_quoteright.png) no-repeat right bottom;
  _background-image:none;
}
.post-link .post-content { 
  background:url(http://a.xnimg.cn/smallsite/images/theme/storybook/arrow_link.png) no-repeat 520px 15px #9E87B5;
  _background-image:none;
}
.post-article .post-content { 
  margin-bottom:20px;
}
.post-link .post-content {
  margin-bottom:20px; 
  padding-bottom:6px;
}
.time-meta { 
  display:none;
}
.time-meta i{ 
  display:none;
}
.time-meta .time-s-1-1,.time-meta .time-s-1-2{ display:inline; 
  font-style:normal;
}
header .sitehead,footer .sitehead,#header-followsCounter,#followsCounter,#footer-sitedesc {
  display:none;
}
#main-wrap footer {
  *padding-bottom:98px;
  width:960px; 
  background:url(http://a.xnimg.cn/smallsite/images/theme/storybook/shu.png) no-repeat 9px -50px; 
  _background:url(http://a.xnimg.cn/smallsite/images/theme/storybook/shuIE.png) no-repeat 45px -40px; position:absolute; 
  bottom:0; 
  z-index:10;
}
.post-action .edit, .post-action .placetop, .post-action .delete {
  font-family:Helvetica,STHeiti,Simsun;
  font-size:12px;
}
.post-action .edit:link, .post-action .placetop:link, .post-action .delete:link,
.post-action .edit:visited, .post-action .placetop:visited, .post-action .delete:visited {
  color:#A1C2C7;
}
.post-action .edit:hover, .post-action .placetop:hover, .post-action .delete:hover {
  color:#c99;
}
.post-content h4 {
  color:#fff;
}
#tagOrderTip {
  z-index:101;
}

/*RSS与归档样式*/
#siteTopic .sitehead{ 
  padding-bottom: 70px;
}
.rss,.archive{ 
  display: none;
}
#siteTopic .rss,#siteTopic .archive{ 
  display: block;
  margin:40px 0 0 18px;
  position: relative; 
  left: 2px; 
  clear:both; 
  height:34px; 
  width: 146px; 
  background: url("http://a.xnimg.cn/smallsite/images/theme/storybook/bg_tan.png");
}
#siteTopic .rss{ 
  top: -37px; 
  *top: -77px;
}
#siteTopic .archive{ 
  top: -145px; 
  *top:-185px;
}
#siteTopic .rss a,#siteTopic .archive a{
  display:block;  
  height:20px; 
  padding: 6px 12px 4px; 
  *padding-left:0px; 
  border-top: solid 2px #d1d1c8; 
  border-right: solid 2px #d1d1c8; 
  border-left: solid 2px #d1d1c8; 
  border-bottom: solid 2px #c0c0ae; 
  text-align: center; 
  line-height: 20px; 
  color: #55553B; 
  text-transform:uppercase; 
  font-size: 16px; 
}
#siteTopic .rss a:hover,#siteTopic .archive a:hover{
  background-color: #eaeadf; 
  -moz-transition: background-color 400ms ease-out 0s; 
  -webkit-transition: background-color 400ms ease-out 0s; 
  transition: background-color 400ms ease-out 0s; 
  font-weight: bold;
}
/*hot-count*/
.hot-count {
  position:absolute; 
  left:644px; 
  bottom:180px; 
  height:41px;
  *zoom:1;
}
.hot-count h5 {
  display:none;
}
.hot-count a {
  display:block; 
  height:41px; 
  _width:100px; 
  padding-left:60px; 
  line-height:41px; 
  font-size:20px; 
  color:#4282A2; 
  background:url(http://a.xnimg.cn/smallsite/images/theme/storybook/hot-icon.png) 2px 0 no-repeat;
}
.release{
  top: 96px;
}
header #master, header #followers,#header-followers,#header-master {
  display:none;
}
.release-time span{_line-height: 18px;}
.post-footer{*zoom:1; *position: relative;padding-bottom: 15px;}
.post .ccagreement{margin: 10px 0 10px 20px;}