/*----This is stylesheet for sunrise by L-moon----*/
body{background:#faf7ec url(http://a.xnimg.cn/smallsite/images/theme/sunrise/bg_body.png) repeat 0 0;font:normal 14px "Microsoft Yahei",Arial;color:#4a472f; word-wrap:break-word}
a,a:link, a:visited {text-decoration:none;color:#63A985;}
a:hover{color:#fa7c5b;text-decoration:none}
#container {padding-bottom:130px;background:url(http://a.xnimg.cn/smallsite/images/theme/sunrise/footer.png) repeat-x 0 bottom;}
#container header{background:#F6F1CE url(http://a.xnimg.cn/smallsite/images/theme/sunrise/bg_header_01.png) repeat 0 0;}
#container header h1,#sitedesc{width:865px;margin:0 auto}
#header-followsCounter {display:block;width:100%;height:20px;background:url(http://a.xnimg.cn/smallsite/images/theme/sunrise/bg_header_02.png) repeat-x 0 bottom;text-indent:-999999px;}
#header a { color:#4a472f; font-weight:bold}
#header .head_bg { width:100%;height:100%; padding:50px 0; background:url(http://a.xnimg.cn/smallsite/images/theme/sunrise/header_bg.png) repeat}
#sitedesc { font-size:16px; padding-bottom:50px}
#container header h1{font-size:36px; padding:50px 0 15px; font-size:42px}
#followsCounter{background-color:#fbefbb; padding:5px 15px;margin-top:10px;text-align:center;border-radius:25px;transition:background-color 0.3s ease;-moz-transition:background-color 0.3s ease;-webkit-transition:background-color 0.3s ease;}
#followsCounter a ,#followsCounter a:hover{text-decoration:none ;color:#4A472F ;}
#followsCounter:hover {background-color:#FAE06F;}
#followsCounter em{font-style:normal}
#title:link, #title:visited{ color:#4A472F}
#title:hover {text-decoration:none;color:#63A985;}
#main-wrap{width:900px;margin:40px auto 0;background:url(http://a.xnimg.cn/smallsite/images/theme/sunrise/bg_content.png) repeat-y 650px top;}
#siteTopic,#container footer{float:right;clear:right;width:220px;padding-left:6px}
.sitehead img{display:block;max-width:170px;*width:170px;padding:9px;border:1px solid #e9dbb6;background-color:#ffffff; margin-bottom:12px}
.data{height:24px;line-height:24px;padding-left:22px;margin:10px 0 0;background:url(http://a.xnimg.cn/smallsite/images/theme/sunrise/sprite.png) no-repeat 0 -120px}
.data h3{float:left;padding-right:22px;font-size:16px;background:url(http://a.xnimg.cn/smallsite/images/theme/sunrise/sprite.png) no-repeat right -144px}
#master {display:block;margin-bottom:15px}
#master h4,#followers h4,#siteTopic h4{height:38px;line-height:38px;padding-left:48px;margin:30px 0 10px;font-size:16px;background:url(http://a.xnimg.cn/smallsite/images/theme/sunrise/sprite.png) no-repeat 0 -168px}
#followers h4{background-position:0 -244px}
#siteTopic h4{background-position:0 -206px;text-indent:-999999px;}
#master ul{margin-right:-6px}
#master ul li{float:left;margin:0 5px 5px 0;}
#master ul li img{display:block;width:50px;height:50px;padding:4px;border:1px solid #e9dbb6;background-color:#ffffff}
.topics{padding-left:48px;margin-top:-48px;min-hight:10px}
.topics li{float:left;height:14px;line-height:23px;margin:0 10px 10px 0}
.topics li a{white-space: nowrap}
.topics li a.s{font-weight:bold}

/*sync_area*/
#container .add-reply .sync_area input{vertical-align:middle;width:auto;height:auto;margin-bottom:5px;*margin-top:0px;margin-bottom:1px\9;background:none;border:none;outline:none}
#container .add-reply .sync_area label{cursor:pointer;*zoom:1;*padding-top:3px}
/*article > p*/
.post-article .post-content p{max-width:500px!important}

#followers ul li{float:left;margin:0 5px 5px 0;}
#followers ul li img{display:block;width:50px;height:50px;padding:4px;border:1px solid #e9dbb6;background-color:#ffffff}
#main{float:left;width:660px;_background-image:none;overflow:hidden}
.post{display:block;float:left;position:relative;min-height:83px;_height:83px;margin:0 0 25px 0;padding:0 0 25px 0;margin-right:30px;background:url(http://a.xnimg.cn/smallsite/images/theme/sunrise/bg_post.png) no-repeat bottom right;*zoom:1}
.post s img{position:absolute;left:0;top:0;display:block;width:110px;height:83px}
.post-article s img{border:0 none;padding:0;margin:0;background:none}
.reprint{margin-top:10px;font-size:12px}
.post-text .post-content,.post-panel h4,.post-link .link{min-height:37px;_height:37px;margin-bottom:30px;padding-top:18px;font-size:28px;font-weight:normal;}
.post-text{margin-bottom:0}
.post-topic{padding-left:45px;background:url(http://a.xnimg.cn/smallsite/images/theme/sunrise/sprite.png) no-repeat 0 -300px}
.post-topic ul li{display:inline-block; *display: inline; *zoom:1; float:left; height:18px; line-height:18px; margin-right:10px}
.post-topic ul li a{ *float:left; font-size:12px; white-space: nowrap}
.post-action{margin-top:10px; font-size:12px;}
.post-action li a:link,.post-action li a:visited{color:#63A985;}
.post-action li a:hover{color:#94C9B5; text-decoration:none;}
.time-meta{background-position:0 0; *word-spacing:-3px;}
.time-meta .year, .time-meta .month, .time-meta .day {font-size:12px;}
.reply{padding-left:29px;background-position:0 -72px}
.enjoy{background-position:0 -24px}
.enjoyed{background-position:0 -96px}
.share{background-position:0 -48px}
.post-action .time span,.post-action ul li a span.text{display:inline-block;zoom:1;*display:inline;height:24px;padding-right:10px;background:url(http://a.xnimg.cn/smallsite/images/theme/sunrise/sprite.png) no-repeat right -144px}
.post-photo .photo img,.post-article .post-content img,.post-video img{display:block;padding:4px;margin:0 auto 10px auto;border:1px solid #e9dbb6;background-color:#ffffff;max-width:500px}
.post-photo .photo,.post-article .post-content{width:510px;overflow:hidden;padding:0;background-color:transparent}
.post-photo .photo img{max-width:500px}
.post-article .post-content img{margin-top:10px}
.post-photo .desc{font-size:14px;line-height:14px;margin-bottom:10px} 
.post-link .thumbnail{margin-top:10px}
.post-link .thumbnail img{display:block;float:left;width:200px;overflow:hidden;padding:4px;border:1px solid #e9dbb6;background-color:#ffffff}
.post-link .thumbnail p{margin-left:220px;font-size:14px}
.post-audio .post-content{padding:20px;border:1px solid #e9dbb6;background-color:#ffffff}
.post-reply{width:492px;padding:20px 11px;border:1px solid #e9dbb6;margin-top:18px;background-color:#ffffff;}
.add-reply textarea{background-color: #DAEEEA;border: 1px solid #BBE2DA; height: 69px; width: 405px; margin: 0; padding: 2px; vertical-align: bottom;}
.add-reply textarea:hover{border: 1px solid #7fb99f;}
.add-reply .input-button{background: url("http://a.xnimg.cn/smallsite/images/theme/sunrise/reply.png") repeat scroll 0 0 transparent; border: 0 none; cursor: pointer; height: 75px; width: 75px; margin: 0; padding: 0; text-align: center; text-indent: -9999px;}
.add-reply .input-button:hover{background-position: -75px 0;}
.add-reply .input-button:active{background-position: -150px 0;}
.reply-list li{position: relative; margin: 10px 0 0; padding: 0 0 10px; width: 490px; border-bottom: 1px solid #BCE2D7;}
.reply-list .head img{float:left;display:block;width:30px;height:30px; margin-top: 2px; padding:1px;border:1px solid #d3d2d2;}
.reply-list .reply-main {float:left; display: block; width:405px;*width:375px;*overflow:hidden;*float:left}
.reply-list .reply-content{width: 350px;}
.reply-list .reply-content .replyer{padding-left:0}
.reply-list .reply-time{position:absolute;right:0px;top:0px;font-size:12px}
.reply-list .delete,.reply-panel .shield, .reply-panel .reply-report {float:left; margin:0 0 0 4px; display:none;width:13px;height:13px;text-indent:-9999px;overflow:hidden; outline:none;background-image:url('http://a.xnimg.cn/smallsite/images/home-new/reply-icon.png'); background-repeat:no-repeat;}
.reply-list .reply-list-btn {top:3px; right:0px; }
.reply-list .to-share {display:none; position:absolute; right:0px; top:19px;}
.reply-list ul li{*width:490px}
#pagerbar{width:630px;height:47px;line-height:46px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;margin-bottom:70px;text-align:center;background-color:#faeeb9; position:relative}
.pages {display:block;width:100%;height:47px;text-align:center;}
.pages li{zoom:1; position:absolute ;width:20px}
.pages li.current {display:block; position:static; width:auto; margin:0 auto;}
.pages .prev a,.pages .next a{display:block;width:20px;height:16px;overflow:hidden; text-indent:-9999px;outline:none;background:url(http://a.xnimg.cn/smallsite/images/theme/sunrise/sprite.png) no-repeat 0 -282px}
.pages .prev {left:200px; top:16px;}
.pages .next {right:200px; top:16px;}
.pages .next a{ background-position:-20px -282px}
.pages .num{vertical-align:top;font-size:18px;color:#f7764e}
.bottom{height:101px;margin-top:35px;background:url(http://a.xnimg.cn/smallsite/images/theme/sunrise/footer.png) repeat-x}
.post-video .play-botton {
    background: url("http://s.xnimg.cn/smallsite/images/video-player.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    position: absolute;
    top: 50%;
    width: 30px}
.post-video .video-play {display:block;cursor:pointer;position:relative;margin:0px;_width:100%;_zoom:1;_overflow:hidden;_text-align:center}
.post-video .video-holder embed {max-width:500px;_width:500px;padding:4px;border:1px solid #E9DBB6;background-color:#fff;}
.video-screen{_position:relative;_display:block;_width:100%;_overflow:hidden;zoom:1}
.post-audio .audio-play {
    background: url("http://s.xnimg.cn/smallsite/images/audio-player.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 28px;
    width: 102px}

/*music*/
.post-music .album-cover {margin-right:10px}
.post-music .album-cover img{display:block;width:120px;height:120px}
.post-music .post-panel{padding-bottom: 45px;width: 510px;}
.post-music h3{ font-size: 28px;font-weight: 900;margin-bottom: 30px;min-height: 37px;padding-top: 18px;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5)}
.post-music p{font-size:14px;text-align:left;padding:5px 0px}
.post-music .textarea-box{width:335px;float:right;overflow-x:hidden}
.post-music .post-panel {background: url("http://a.xnimg.cn/smallsite/images/theme/sunrise/bg_audio.png") no-repeat scroll 0 0 transparent}


.audio-desc ,.video-desc { padding-top:10px}
.post-action ul li a span.text:hover{ text-decoration:underline}
.post-video .toolbar{ text-align:center; padding-top:10px; cursor:pointer}
.time-meta i{ display:none}
.time-meta .time-s-1-1,.time-meta .time-s-1-2{ display:inline}
.post-panel{ padding-bottom:45px; width:510px;overflow: hidden;}
.post-panel ,.post-footer { padding-left:120px}
.post-video .post-panel  {background: url(http://a.xnimg.cn/smallsite/images/theme/sunrise/bg_video.png) no-repeat scroll 0 0 transparent;}
.post-audio .post-panel  {background: url(http://a.xnimg.cn/smallsite/images/theme/sunrise/bg_audio.png) no-repeat scroll 0 0 transparent}
.post-text .post-panel  {background: url(http://a.xnimg.cn/smallsite/images/theme/sunrise/bg_quote.png) no-repeat scroll 0 0 transparent}
.post-link .post-panel  {background: url(http://a.xnimg.cn/smallsite/images/theme/sunrise/bg_link.png) no-repeat scroll 0 0 transparent}
.post-article .post-panel  {background: url(http://a.xnimg.cn/smallsite/images/theme/sunrise/bg_text.png) no-repeat scroll 0 0 transparent}
.post-photo .post-panel  {background: url(http://a.xnimg.cn/smallsite/images/theme/sunrise/bg_photo.png) no-repeat scroll 0 0 transparent}
.time-meta, .post-action li a{display:inline-block; *display: inline; _display:block; word-wrap:none; *zoom:1; float:left; height:24px;  min-width:25px; line-height:24px; padding-left:33px; margin-right:6px; margin-bottom:10px; background:url(http://a.xnimg.cn/smallsite/images/theme/sunrise/sprite.png) no-repeat -999px 0 #fbefbb;cursor:pointer; -moz-border-radius:25px; -webkit-border-radius:25px;border-radius:25px; padding-right:10px; *zoom:1;}
.post-action a.delete{background:url(http://a.xnimg.cn/smallsite/images/theme/sunrise/fun.png) no-repeat 6px -6px #fbefbb;}
.post-action a.edit{background:url(http://a.xnimg.cn/smallsite/images/theme/sunrise/fun.png) no-repeat 6px -70px #fbefbb;}
.post-action a.placetop{background:url(http://a.xnimg.cn/smallsite/images/theme/sunrise/fun.png) no-repeat 6px -37px #fbefbb;_width:48px;}	
.post-action a.share{background-position:-1px -48px;}
.post-action a.reply{background-position:3px -72px;}
.post-action a.enjoy{background-position:0px -23px;}
.post-action a.enjoyed{background-position:0px -96px;}
.post-action{ position:relative;width:510px;}
.post-action .time-meta{float:left; margin-bottom:10px; background-position:0px 0px; color:#63A985;line-height:22px;cursor:auto;}
header .sitehead,footer .sitehead,#siteTopic-followsCounter,#footer-sitedesc,.post-panel .time-meta{display:none}

/*RSS与归档样式*/
.rss a,.archive a{ display:none; position: absolute; top: 95px; left: 50%;  width:55px; height:55px; background:url(http://a.xnimg.cn/smallsite/images/theme/sunrise/rss2.png) no-repeat; _background:url(http://a.xnimg.cn/smallsite/images/theme/sunrise/rss2ie6.png) no-repeat; text-indent:-9999em;}
header .rss a{ display:block; background-position:-77px -3px; margin-left: 330px; _background-position: right 0;}
header .archive a{ display:block; background-position:-7px -3px; margin-left: 260px; _background-position: 0 0;}
header .rss a:hover{ background-position:-77px -62px;}
header .archive a:hover{ background-position:-7px -62px;}
*html header .rss a:hover{ background-position:-77px -3px; filter:alpha(opacity=60);  _background-position: right 0;}
*html header .archive a:hover{ background-position:-7px -3px; filter:alpha(opacity=60);  _background-position: 0 0;}
body.customize header .rss a,body.customize header .archive a{top: 50px;}
/*#siteTopic .rss a{}
#siteTopic .archive a{}
footer .rss a{}
footer .archive a{}*/
.release-name, .release-time, .release-name a, .release-time, .release-time span, .btn{_line-height:28px;}
.release-time span{_line-height:24px;}
#container .add-reply .sync_area, .end .sync_area{top:83px; _right:15px;}
/*hot-count*/
.hot-count {clear:left;}
.hot-count h5 {display:none;}
.hot-count a {display:block; float:left; height:24px; padding-left:30px; margin-right:5px; padding-right:10px; line-height:24px; border-radius:25px; background:#FBEFBB url(http://a.xnimg.cn/smallsite/images/theme/sunrise/hot-icon.png) 10px 6px no-repeat; color:#63A985!important;}
.hot-count a:hover{color:#94C9B5!important;}
.release-pic img{padding: 1px; border: 1px solid #D3D2D2;}
.release .release-pic{padding-right: 9px;}
.hot-count a:hover{color:#94C9B5!important;}
header #master, header #followers,#header-followers,#header-master {display:none;}
.add-reply {padding-bottom: 34px;}
.reply-panel {border-top: 1px solid #BCE2D7;}
.release-name, .release-time, .release-name a, .release-time,.btn{line-height: 22px; _line-height:28px!important;}
.release-time span{_line-heigth:22px!important;}