html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {line-height: normal;font-family:'Microsoft Yahei',Tahoma,Arial,Helvetica,Simsun,STHeiti;word-break: normal;}

ol, ul , li{
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
pre{
	white-space:pre-wrap;
}
/* remember to define focus styles! */
:focus {
    outline:0;
}
/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clearfix:before, .clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}
h1{font-size:16px}
h2, h3{font-size:14px}
h4, h5, h6{font-size:12px}
a {
	-webkit-transition-property:color, background-color;
	-moz-transition-property:color, background-color;
	-o-transition-property:color;
	-ms-transition-property:color;
	transition-property:color;
	-webkit-transition-duration:0.3s;
	-moz-transition-duration:0.3s;
	-o-transition-duration:0.3s;
	-ms-transition-duration:0.3s;
	transition-duration:0.3s;
	-webkit-transition-timing-function:ease;
	-moz-transition-timing-function:ease;
	-o-transition-timing-function:ease;
	-ms-transition-timing-function:ease;
	transition-timing-function:ease;}
small{font-size:11px}
input, option, textarea{font-family:Arial;font-size:12px;}
.input-text{border:1px solid #888888;padding:2px 3px;}
/*html5 layout reset*/
article, aside, dialog, figure, footer, header, 
hgroup, nav, section, figcaption, details, summary {display:block}

/*thunder*/

#publishbar{background:rgba(38,38,38,0.85);width:100%;min-width:960px;height:40px;position:fixed;left:0;top:0;_position:relative;z-index:400;background:#262626\9;}
body.pub-act #publishbar{position:absolute;top:0;left:0;}
#publishbar .barpanel{color:#333;position:relative;width:960px;margin:0 auto;}
#publishbar .barpanel #logo{float:left;position:static;margin-top:5px;}

#publishbar .barpanel .station-hot {position:absolute; left:120px; top:10px;}
#publishbar .barpanel .station-hot a {color:#808080; background:url(http://s.xnimg.cn/smallsite/images/station-hot.png) no-repeat left center; padding-left:15px;}
#publishbar .barpanel .station-hot a:hover {background:url(http://a.xnimg.cn/smallsite/images/icon.gif) no-repeat left center; padding-left:15px;}

.tools .station-hot2 { position:absolute; left:-820px; top:3px; width:100px; _left:-810px; +left:-815px;}
.tools .station-hot2 a {color:#808080; background:url(http://s.xnimg.cn/smallsite/images/station-hot.png) no-repeat left center; padding-left:15px;}
.tools .station-hot2 a:hover {background:url(http://a.xnimg.cn/smallsite/images/icon.gif) no-repeat left center; padding-left:15px;}
#publishbar .barpanel #logo a{
	background:url(http://a.xnimg.cn/smallsite/images/home-new/publisher-logo.png) no-repeat 0 0;
	_background:url(http://a.xnimg.cn/smallsite/images/theme/thunder/logo-ie6.png) no-repeat 0 0;
	display:block;
	height:28px;
	text-indent:-9999em;
	width:83px;
}
#publishbar .barpanel #logo a:hover{background-position:0 -28px; _background-position:0 -29px;}
#publishbar .barpanel #logo a img{display:none;}
#publishbar #publisher-box{left:120px;position:absolute;top:40px;}
#publishbar dl.publisher-selector{width:500px;}
#publishbar .publisher-selector-box{height:40px;left:40px;position:absolute;top:-40px;background-color:transparent;}
#publishbar .publisher-selector dd{margin-left:30px;}
#publishbar .publisher-status-trigger,
#publishbar .publisher-blog-trigger,
#publishbar .publisher-photo-trigger,
#publishbar .publisher-share-trigger,
#publishbar .active a,
.bar-home,
.bar-set,
.bar-open{
	background: url(http://a.xnimg.cn/smallsite/images/bar-icons-new.png) no-repeat 0 -152px;
	*background: url(http://a.xnimg.cn/smallsite/images/bar-icons.png) no-repeat 0 -152px;
	display: block;
	height: 40px;
	text-indent: -9999em;
	width: 80px;
}
.bar-open {
    background-position: 0 -327px;
    display: inline-block;
    height: 7px;
    margin-left: 4px;
    overflow: hidden;
    padding: 0;
    width: 10px;
}
#publishbar .publisher-blog-trigger{background-position:0 -193px;}
#publishbar .publisher-photo-trigger{background-position:0 -233px;}
#publishbar .publisher-share-trigger{background-position:0 -272px;}

#publishbar .active .publisher-status-trigger,
#publishbar  a:hover.publisher-status-trigger{background-position:0 8px;}
#publishbar .active .publisher-blog-trigger,
#publishbar  a:hover.publisher-blog-trigger,
#publishbar #publisher-box .active .publisher-text,
#publishbar #publisher-box a:hover.publisher-text{background-position:0 -33px;}
#publishbar .active .publisher-photo-trigger,
#publishbar a:hover.publisher-photo-trigger{background-position:0 -73px;}
#publishbar .active .publisher-share-trigger,
#publishbar a:hover.publisher-share-trigger{background-position:0 -112px;}
#publishbar .publisher-selector dd.active{background:url(http://a.xnimg.cn/smallsite/images/white-arrow2.png) center bottom no-repeat;}

/*tools*/
#publishbar .barpanel .tools{
	float:right;
	margin:7px 0 0;
	_margin-left:-3px;
	}
#publishbar .barpanel .tools a{
	color:#DBD7D7;
	font-size:14px;
	display:block;
	vertical-align:middle;
	text-decoration:none;
}
#publishbar .barpanel .tools a:hover{
	color:#FFF;
	text-decoration:none;
}
#publishbar .barpanel .tools .hover-arrow{
	background:url(http://a.xnimg.cn/smallsite/images/white-arrow2.png) center top no-repeat;
	display:block;
	height:6px;
	width:10px;
	left:50px;
	position:absolute;
	top:-5px;
	overflow:hidden;
}
.bar-home,
.bar-set,
.bar-open{
	background-position:0 -112px;
	text-indent:0;
	padding-left:15px;
	height:auto;
	width:auto;
}
.bar-home{background-position:0 -402px;}
.bar-set{background-position:0 -434px;}
a:hover.bar-home{background-position:0 -366px;}
a:hover.bar-set{background-position:0 -463px;}
.bar-create{
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	line-height:22px;
	height:24px;
	width:auto;
	padding:0 10px;
	background-color:rgba(255, 255, 255, 0.1);
	*background-color:#404040;
	}
.bar-open{
	display:inline-block;
	margin-left:4px;
	width:10px;
	height:7px;
	background-position:0 -327px;
	overflow:hidden;
	padding:0;
	*padding-bottom:5px;
}
.menubox,
.settingbox{
	position:relative;
	zoom:1;
}
.bar-menulist{
	left:-27px;
	position:absolute;
	top:33px;
	z-index:401;
	display:none;
	background:none repeat scroll 0 0 rgba(64,61,40,0.85);
	*background:#403d28;
	border:1px solid ddd;
	-webkit-box-shadow:0 0 5px black;
	-moz-box-shadow:0 0 5px black;
	border-top:1px solid #5e5e5e;
}
#publishbar .barpanel .tools .bar-menulist .hover-arrow{
	background: url("http://a.xnimg.cn/smallsite/images/home-new/top-bar-arrow.png") no-repeat scroll center top transparent;
    display: block;
    height: 6px;
    left: 33px;
    overflow: hidden;
    position: absolute;
    top: -6px;
    width: 10px;
}
#publishbar .barpanel .settingspop{
	width:238px;
	position:absolute;
	top:33px;
	right:-13px;
	background:#FFF;
	display:none;
	border:1px solid ddd;
	-webkit-box-shadow:0 0 5px black;
	-moz-box-shadow:0 0 5px black;
	padding:20px;
}
#publishbar .barpanel .tools .settingspop .hover-arrow{
	right:20px;
	top:-5px;
	left:auto;
}
#publishbar .settingspop .adminlist li .info a{
	font-size:12px;
	display:inline-block;
	height:30px;
	line-height:auto;
	padding-top:5px;
	vertical-align:top;
	margin-left:10px;
	color:#005eac;
	text-decoration:none;
}
#publishbar .settingspop .btn{
	font-size:12px!important;
	background:transparent url(http://a.xnimg.cn/smallsite/images/admin-button.png) 0 0 scroll no-repeat;
	color:#333!important;
	cursor:pointer;
	text-decoration:none;
	display:inline;
	height:25px;
	line-height:25px!important;
	padding:0 15px;
}
#publishbar .barpanel .tools .bar-menulist a{
	height:28px;
	color:#888888;
	line-height:28px;
	width:180px;
	overflow:hidden;
	white-space:nowrap;
	display:block;
	background:none repeat scroll 0 0 #333333;
	_padding-top:6px;
	_height:24px;
	opacity:0.9;
	margin:0;
	padding:0 10px;
	border-bottom:1px solid #373737;
}
#publishbar .barpanel .menubox img{
	vertical-align:text-bottom;
	margin-right:5px;
	height:16px;
	width:16px;
}
#publishbar .barpanel .tools .bar-menulist a:hover,
#publishbar .barpanel .tools .bar-menulist a:hover.creat-site{color:#00b9bd;}
.addsite-ico{
	background:url(http://a.xnimg.cn/smallsite/images/home-new/add-icon.png) 3px 2px no-repeat;
	}
a:hover .addsite-ico{
	background:url(http://a.xnimg.cn/smallsite/images/home-new/add-icon.png) -15px -25px no-repeat;
	}
#publishbar .barpanel .tools a.follow-btn{
	background:#404040 url(http://a.xnimg.cn/smallsite/images/side-ico.png) 10px -232px no-repeat;
	_background:#404040 url(http://a.xnimg.cn/smallsite/images/side-ico-ie6.png) 10px -232px no-repeat;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	line-height:22px;
	height:24px;
	width:auto;
	padding:0 10px 0 25px;
	background-color:rgba(255, 255, 255, 0.1);
	*background-color:#404040;
	}
#customerActions{
	left:110px;
	margin-left:60px;
	position:absolute;
	top:0;
}
#customerActions li{
	float:left;
	display:block;
	width:70px;
	height:40px;
	overflow:hidden;
}
#customerActions li a{
	float:left;
	display:block;
	width:70px;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:16px;
	color:#DBD7D7;
	outline:none;
	text-decoration:none;
}
#customerActions li.color{
	width:90px;
}
#customerActions li.color a{
	width:90px;
}
#customerActions li a:hover{text-decoration:none;color:#FFF;}
#customerActions li a.select,
#customerActions li a.select:hover{
	color:#FFF;
	cursor:default;
	background:#404040;}
#saveorquit{float:right;margin-top:6px;}
#saveorquit .save-submit,#saveorquit .save-cancel{background:#59AAB3;border:1px solid #59AAB3;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;cursor:pointer;display:block;float:left;margin-left:10px;line-height:18px;color:#FFF;font-size:14px;padding:4px 10px 1px;}
#saveorquit .save-cancel{background:#404040;border:1px solid #404040;}


/* tools ---- tongji.css*/
.bar-hovertongji,.bar-tongji{
	display:none ;
 	background: none repeat scroll 0 0 #333333;
	opacity:0.9;
    box-shadow: 0 0 5px black;
    left: -23px;
    position: absolute;
    top: 33px;
    z-index: 401;
	padding:0 10px 10px 10px;
	border-top:1px solid #666666;
}
.bar-hovertongji p,.bar-tongji p{white-space:nowrap;color:#888888;margin-top:10px;font-size:12px;}
.bar-hovertongji p span,.bar-tongji p span{color:#bfbfbf;font-weight:bold;font-size:14px;}
/* tools----Recommand.css */
.tuijianbox , .zijianbox, .tognjibox{
	position:relative;
	width:26px;
	zoom:1;
}
#publishbar .barpanel .tools .tuijian,#publishbar .barpanel .tools .zijian{
   	cursor: pointer;
   	line-height: 26px;
	width:26px;
	margin-right:-5px;
}
.bar-tuijian,.bar-zijian{
    background: none repeat scroll 0 0 #333333;
    box-shadow: 0 0 5px black;
    display: none;
    left: -23px;
    position: absolute;
    top: 33px;
	opacity:0.9;
    z-index: 401;
	padding:0 5px;
	border-top:1px solid #666666;
}
#publishbar .barpanel .tools .bar-tuijian .hover-arrow,#publishbar .barpanel .tools .bar-zijian .hover-arrow,#publishbar .barpanel .tools .bar-hovertongji .hover-arrow,#publishbar .barpanel .tools .bar-tongji .hover-arrow{
   background: url("http://a.xnimg.cn/smallsite/images/home-new/top-bar-arrow.png") no-repeat scroll center top transparent;
    display: block;
    height: 6px;
    left: 33px;
    overflow: hidden;
    position: absolute;
    top: -6px;
    width: 10px;	
}
.numofrecomman{
    display: block;
    height: 28px;
    line-height: 28px;
    text-align: center;
	color:#888888;
	font-size:12px;
	white-space:nowrap;
}
#publishbar .barpanel .tools .hover-arrow{
    background: url("http://a.xnimg.cn/smallsite/images/white-arrow2.png") no-repeat scroll center top transparent;
    display: block;
    height: 6px;
    left: 50px;
    overflow: hidden;
    position: absolute;
    top: -6px;
    width: 10px;
}


/*succeed*/
.succeed{ 
	background:url(http://a.xnimg.cn/smallsite/images/tipbg.png) no-repeat;
	_background:none;
	display:block;
	height:46px;
	width:130px;
	color:#5F7894;
	font-size:24px;
	padding:12px 0 0 60px;
}

/* New-bar */
.menu-list {float:right; margin:0 5px; display:inline;}
.bar-home, .bar-set, .bar-open {padding:0;}
.zijian, .my-site-list, .tools a.bar-set,  #publishbar .tools a.bar-home, .tongji, .bar-contribute {width:26px; display:block; height:26px; text-indent:-2000px; }
/*.zijian:hover, .tuijian:hover, .menubox a.my-site-list:hover, .tools a.bar-set:hover, #publishbar .tools .bar-home:hover, .tongji:hover, .bar-contribute:hover {background-color:#595959; background:# _____; opacity:0.8; filter:alpha(opacity=80);}*/
.tuijian, .zijian {background:url(http://a.xnimg.cn/smallsite/images/bar-icon.png) -54px 5px no-repeat; text-indent:-2000px; _background:url(http://a.xnimg.cn/smallsite/images/bar-icon-ie6.png) -54px 5px no-repeat; text-indent:-2000px;}
.my-site-list {background:url(http://a.xnimg.cn/smallsite/images/bar-icon.png) -150px 5px no-repeat; text-indent:-2000px; _background:url(http://a.xnimg.cn/smallsite/images/bar-icon-ie6.png) -150px 5px no-repeat; text-indent:-2000px;}
.tools a.bar-set {background:url(http://a.xnimg.cn/smallsite/images/bar-icon.png) -116px 5px no-repeat; text-indent:-2000px; _background:url(http://a.xnimg.cn/smallsite/images/bar-icon-ie6.png) -116px 5px no-repeat; text-indent:-2000px;}
#publishbar .tools a.bar-home {background:url(http://a.xnimg.cn/smallsite/images/bar-icon.png) -192px 5px no-repeat; text-indent:-2000px; _background:url(http://a.xnimg.cn/smallsite/images/bar-icon-ie6.png) -192px 5px no-repeat; text-indent:-2000px;}
.tongji {background:url(http://a.xnimg.cn/smallsite/images/bar-icon.png) -85px 5px no-repeat; text-indent:-2000px; _background:url(http://a.xnimg.cn/smallsite/images/bar-icon-ie6.png) -85px 5px no-repeat; text-indent:-2000px;}

.tuijian:hover, .zijian:hover {background:#595959 url(http://a.xnimg.cn/smallsite/images/bar-icon.png) -54px -32px no-repeat; text-indent:-2000px; _background:#595959 url(http://a.xnimg.cn/smallsite/images/bar-icon-ie6.png) -54px -32px no-repeat; text-indent:-2000px;}
.my-site-list:hover {background:#595959 url(http://a.xnimg.cn/smallsite/images/bar-icon.png) -150px -32px no-repeat; text-indent:-2000px; _background:#595959 url(http://a.xnimg.cn/smallsite/images/bar-icon-ie6.png) -150px -32px no-repeat; text-indent:-2000px;}
.tools a.bar-set:hover {background:#595959 url(http://a.xnimg.cn/smallsite/images/bar-icon.png) -116px -32px no-repeat; text-indent:-2000px; _background:#595959 url(http://a.xnimg.cn/smallsite/images/bar-icon-ie6.png) -116px -32px no-repeat; text-indent:-2000px;}
#publishbar .tools a.bar-home:hover {background:#595959 url(http://a.xnimg.cn/smallsite/images/bar-icon.png) -192px -32px no-repeat; text-indent:-2000px; _background:#595959 url(http://a.xnimg.cn/smallsite/images/bar-icon-ie6.png) -192px -32px no-repeat; text-indent:-2000px;}
.tongji:hover {background:#595959 url(http://a.xnimg.cn/smallsite/images/bar-icon.png) -85px -32px no-repeat; text-indent:-2000px; _background:#595959 url(http://a.xnimg.cn/smallsite/images/bar-icon-ie6.png) -85px -32px no-repeat; text-indent:-2000px;}

.next-site {width:77px; height:26px; background:#595959 url(http://a.xnimg.cn/smallsite/images/bar-icon.png) -219px 5px no-repeat;margin:0;}
.next-site a:hover {width:77px; height:26px; background:#595959 url(http://a.xnimg.cn/smallsite/images/bar-icon.png) -219px -32px no-repeat; _background:#595959 url(http://a.xnimg.cn/smallsite/images/bar-icon-ie6.png) -219px -3i2px no-repeat;}
#publishbar .next-site a {width:52px; height:26px; padding-left:25px; line-height:26px; font-size:12px;}
.tuijian, .zijian {text-indent:-2000px;} 
.my-site-list {width:35px;}

.bar-contribute, .bar-btn, .bar-btn-attention, .bar-btn-ready, .bar-btn-creat, .bar-btn-back {line-height:26px;}
.bar-contribute {background:url(http://a.xnimg.cn/smallsite/images/bar-icon.png) -14px 5px no-repeat; _background:url(http://a.xnimg.cn/smallsite/images/bar-icon-ie6.png) -14px 5px no-repeat; text-indent:-2000px;}
.bar-contribute:hover {background:#595959 url(http://a.xnimg.cn/smallsite/images/bar-icon.png) -14px -32px no-repeat; background:url(http://a.xnimg.cn/smallsite/images/bar-icon-ie6.png) -14px -32px no-repeat; text-indent:-2000px;}
.bar-btn {height:26px; padding:0 10px 0 24px; background:#595959 url(http://a.xnimg.cn/smallsite/images/bar-icon.png) -299px -13px no-repeat;}
.bar-btn-ready, .bar-btn-creat, .bar-btn-back {height:26px; padding:0 10px; background:#595959;}
#publishbar .barpanel .tools .bar-btn-ready,#publishbar .barpanel .tools .bar-btn-attention,#publishbar .barpanel .tools .bar-btn{margin-left:1px;}
#publishbar .barpanel .tools .bar-btn-attention {height:26px; padding:0 10px 0 25px; background:#00b9bd url(http://a.xnimg.cn/smallsite/images/bar-icon.png) -299px -51px no-repeat;color:#fff;}
.bar-btn-reg,.bar-btn-login{height:26px;line-height:26px}

/*account-sync*/
.account-synca{position:absolute;display:block;bottom:67px;right:-50px;background:url("http://a.xnimg.cn/smallsite/images/prompt_borderc.png") 50px bottom no-repeat;padding-bottom:5px;text-align:left;*z-index:2000;*zoom:1;_width:285px}
.account-synca .textarea{position:relative;padding:15px 10px 15px 10px;border:3px solid #00b9bd;background:#e9efef;font-weight:bold;font-size:18px;color:#666;font-style:normal;*z-index:2000;*zoom:1}
.account-synca .textarea p{width:100%}
.account-synca .textarea a{display:block;position:absolute;top:0px;right:0px;_right:-1px;width:13px;height:13px;background:url("http://a.xnimg.cn/smallsite/images/prompt_close.png") no-repeat}

/*new-music*/
.album-cover{width:153px;height:124px;float:left;background:url(http://a.xnimg.cn/smallsite/images/home-new/music_bgimga.png) no-repeat;overflow:hidden}
.album-cover img{margin:2px 0 0 10px}

#publishbar .tab-btn {float:left; margin-left:0; display:inline;}
.tab-btn a {float:left; display:block; margin-right:5px; font-size:14px;}
.tab-btn .thunder-link {margin:12px 25px 0 0; width:99px; background:url(http://a.xnimg.cn/smallsite/images/theme/thunder/thunder-link.png) 0 0 no-repeat; _background:url(http://a.xnimg.cn/smallsite/images/theme/thunder/kankan-logo.png) 0 0 no-repeat; text-indent:-9999px;}
.tab-btn .thunder-link:hover {background-color:none;}
.tab-btn .new, .tab-btn .sync {padding:0 10px; margin-top:5px; height:30px; line-height:30px; text-decoration:none; color:#bcbcbc;}
.tab-btn .new:hover, .tab-btn .sync:hover {background-color:#595959; color:#fff; border:none;}
.tab-btn .select {border-bottom:3px solid #00a9ae;}

.thunder {position:relative; height:200px; padding-top:50px;}
.header-content {width:840px; height:66px; margin:20px auto 0;}
.list-thunder {width:890px; margin:0 auto; display:block; background:url(http://a.xnimg.cn/smallsite/images/theme/thunder/list-thunder02.jpg) 0 0 no-repeat;}
.player-thunder {width:970px; margin:0 auto; display:block; background:url(http://a.xnimg.cn/smallsite/images/theme/thunder/player-thunder02.jpg) 0 0 no-repeat;}
#title {width:840px; height:66px; margin:0 auto; line-height:66px; overflow:hidden; text-align:center; font-size:60px; color:#d5d5d5;}
.thunder #followsCounter {display:block; width:200px; margin:20px auto 0; font-size:16px; color:#fff; text-align:center;}
.header-content #sitedesc {float:left; width:635px; height:66px; margin-left:100px; _display:inline; font-size:18px; line-height:22px; text-align:center; word-wrap:break-word; color:#848484; overflow:hidden;}
.home .thunder .share {display:block; float:right; width:55px; height:14px; margin-top:30px; padding:10px 0 10px 40px; background:#00a8ab url(http://a.xnimg.cn/smallsite/images/theme/thunder/thunder-share.png) 18px 9px no-repeat; color:#fff; text-decoration:none; line-height:14px;}
.thunder .share:hover {background-color:#00b9bc;}

#jsContainer{position:absolute;top:0;left:0;z-index:1000;}
#maskLayer{position:fixed;_position:absolute;top:0;left:0;z-index:9998;background:transparent url(http://a.xnimg.cn/smallsite/images/dialog/masklayer.png) repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://a.xnimg.cn/smallsite/images/dialog/masklayer.png',sizingMethod='scale');}
#maskLayer .maskpanel{position:absolute;top:0;left:0;width:100%;height:100%;z-index:2;}

.hackflash{position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;z-index:1;_height:expression(this.parentNode.offsetHeight);opacity:0;filter:alpha(opacity=0);_filter:progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0)}
.dialog{position:absolute;top:100px;width:400px;z-index:9999;display:none;}
.dialog .dtl, .dialog .dtr, .dialog .dbl, .dialog .dbr,
.dialog .dtm, .dialog .dbm, .dialog .dml, .dialog .dmr {background:transparent url(http://a.xnimg.cn/smallsite/images/dialog/dialog_spirit.png) 0 0 scroll repeat;}
.dialog .dtl, .dialog .dtr, .dialog .dbl, .dialog .dbr{width:10px;height:10px;}
.dialog .dtl{background-position:-10px -30px;}
.dialog .dtr{background-position:-10px -10px;}
.dialog .dbl{background-position:-10px -40px;}
.dialog .dbr{background-position:-10px -20px;}
.dialog .dialog_container{position:relative;zoom:1;z-index:2;}
.dialog .dialog_body{background:#FFFFFF;color:#524222;}
.dialog .dialog_content{padding:10px;font-size:12px;}
.dialog .dialog_body .nopadding{padding:0px;}
.dialog .dialog_body .center{text-align:center;}
.dialog .dialog_body .dia-message-box{padding:20px 10px 20px 20px;}
.dialog .dialog_body .dia-message-box span{padding-left:31px;background:url(http://a.xnimg.cn/smallsite/images/yes2.png) 0px 2px no-repeat;font-size:16px ;}
/*fix ie6 opacity*/
.dialog .dtl{_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://a.xnimg.cn/smallsite/images/dialog/dialog_top_left.png',sizingMethod='crop');}
.dialog .dtr{_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://a.xnimg.cn/smallsite/images/dialog/dialog_top_right.png',sizingMethod='crop');}
.dialog .dbl{_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://a.xnimg.cn/smallsite/images/dialog/dialog_bottom_left.png',sizingMethod='crop');}
.dialog .dbr{_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://a.xnimg.cn/smallsite/images/dialog/dialog_bottom_right.png',sizingMethod='crop');}
.dialog .dtm, .dialog .dbm, .dialog .dml, .dialog .dmr{_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://a.xnimg.cn/smallsite/images/dialog/dialog_border.png',sizingMethod='scale');}
/*confirm dialog*/
.dialog_header{padding:5px 10px;background-color:#F5F5F5;border-bottom:1px solid #E0E0E0;}
.dialog_header h3{float:left;color:#524222;}
.dialog_header .close{width:9px;height:9px;overflow:hidden;float:right;margin-top:5px;text-indent:-9999px;display:block;background:transparent url(http://a.xnimg.cn/smallsite/images/dialog/dialog_close.png) 0 0 no-repeat;}
.dialog_header .close:hover{background-position:-22px 0;}
.dialog_footer{padding:5px 10px;background-color:#EFEFEF;border-top:1px solid #E0E0E0;text-align:right;}
.dialog_footer input{margin-left:10px;padding:0 10px;overflow-x:visible;border-radius:3px;height:23px;line-height:23px;background:transparent url(http://a.xnimg.cn/smallsite/images/dialog/dialog_button.png) 0 0 repeat-x;cursor:pointer;}
.dialog_footer input.confirm{background-position:0 -46px;color:#FFFFFF;border:1px solid #55993B;background-color:#69AA4D;}
.dialog_footer input.confirm:hover{background-position:0 -69px;}
.dialog_footer input.cancel{background-position:0 0;color:#333333;border:1px solid #C7C7C7;background-color:#E2E2E2;}
.dialog_footer input.cancel:hover{background-position:0 -23px;}

/*new dialog (extend original dialog)*/ 
.dialog .noshadow  {border:5px solid #00b9bd ;position:relative ;zoom:1 ;}
.dialog .noshadow .dialog-close{position:absolute ;top:-5px;right:-5px ;width:34px;height:34px;overflow:hidden;text-indent:-9999px;display:block;background:transparent url(http://a.xnimg.cn/smallsite/images/dialog/dialog-close2.png) 0 0 no-repeat;cursor: pointer;z-index:100}
.dialog .noshadow .dialog-close:hover{background-position:0 -34px;}
/*confirm dialog*/
.dialog_header2{padding:5px 10px;}
.dialog_header2 h3{float:left;color:#333;font-size:18px ;font-weight: normal;}
.dialog_footer2{padding:5px 10px;background-color:#E9EFEF;border-top:1px solid #D5E5E5;text-align:right;}
.dialog_footer2 input{width:71px;height:29px ;line-height: 29px;margin-left:10px;padding:0 ;color:#FFFFFF;font-size:14px;background-color:#e9efef;cursor:pointer ;}
.dialog_footer2 input.confirm{width:71px;height:29px ;color:#FFFFFF;border: 1px solid #00B9BD;background-color:#00B9BD;}
.dialog_footer2 input.confirm:hover{}
.dialog_footer2 input.cancel{color:#888;border: 1px solid #d9d9d9;background-color:#d9d9d9;}
.dialog_footer2 input.cancel:hover{}


/*thunder-pop*/
.thunder-pop {width:525px; height:130px; padding:0 10px 10px;}
.thunder-pop h5 {height:26px; line-height:26px; color:#656565; font-size:18px;}
.thunder-pop .text {width:100%; height:60px; margin-top:10px; font-size:14px; line-height:20px; border:1px solid #bac3c2;}
.thunder-pop .pop-submit {float:right; width:68px; height:34px; margin-top:10px; font-size:16px; font-weight:bold; cursor:pointer; color:#fff; line-height:34px; text-align:center; background-color:#00b9bc; border:none;}


/*login Dialog*/
.login-panel{
	padding:20px 18px auto 20px;
	font-size:14px;
	color:#524222;
}
.login-panel .data-box{float:left;padding-left:30px;}
.login-panel .data-box  h2{padding-bottom:20px;font-size:15px;}
.login-panel .data-box .item{padding:6px 3px;border:1px solid #bcd3d5 ;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;position:relative;width:232px;}
.login-panel .data-box .user-tip{padding:4px 0;font-size:14px;}
.login-panel .data-box .item .login-lab{color:#999999;position:absolute;top:4px;left:3px;visibility:visible;font-size:14px;}
.login-panel .data-box .item .input {font-size:16px;color:#888;border:0;width: 227px;}
.login-panel .data-box .action .input-submit{border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;border:0;background-color:#5f7894;padding:5px 10px;_padding:2px 4px ;+padding:2px 4px ;cursor: pointer;font-size:14px;color:#fff;}
.login-panel .no-account{float:right;margin-top:39px;padding-bottom:84px;padding-left:30px;border-left:1px dashed #adcacc}
.login-panel .no-account .no-tip{padding-bottom:15px;}
.login-panel .no-account .register-btn{background-color:#59aab3;padding:5px 10px;cursor: pointer;font-size:14px;color:#fff;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
.login-panel .action{padding-top:10px;}
.login-panel .action a{color:#524222;}

.bar-menulist{
	left:-27px;
	position:absolute;
	top:33px;
	z-index:401;
	display:none;
	background:none repeat scroll 0 0 rgba(64,61,40,0.85);
	*background:#403d28;
	border:1px solid ddd;
	-webkit-box-shadow:0 0 5px black;
	-moz-box-shadow:0 0 5px black;
	border-top:1px solid #5e5e5e;
}
#publishbar .barpanel .tools .bar-menulist .hover-arrow{
	background: url("http://a.xnimg.cn/smallsite/images/home-new/top-bar-arrow.png") no-repeat scroll center top transparent;
    display: block;
    height: 6px;
    left: 33px;
    overflow: hidden;
    position: absolute;
    top: -6px;
    width: 10px;
}
#publishbar .barpanel .settingspop{
	width:238px;
	position:absolute;
	top:33px;
	right:-13px;
	background:#FFF;
	display:none;
	border:1px solid ddd;
	-webkit-box-shadow:0 0 5px black;
	-moz-box-shadow:0 0 5px black;
	padding:20px;
}
#publishbar .barpanel .tools .settingspop .hover-arrow{
	right:20px;
	top:-5px;
	left:auto;
}
#publishbar .settingspop .adminlist li .info a{
	font-size:12px;
	display:inline-block;
	height:30px;
	line-height:auto;
	padding-top:5px;
	vertical-align:top;
	margin-left:10px;
	color:#005eac;
	text-decoration:none;
}
#publishbar .settingspop .btn{
	font-size:12px!important;
	background:transparent url(http://a.xnimg.cn/smallsite/images/admin-button.png) 0 0 scroll no-repeat;
	color:#333!important;
	cursor:pointer;
	text-decoration:none;
	display:inline;
	height:25px;
	line-height:25px!important;
	padding:0 15px;
}
#publishbar .barpanel .tools .bar-menulist a{
	height:28px;
	color:#888888;
	line-height:28px;
	width:180px;
	overflow:hidden;
	white-space:nowrap;
	display:block;
	background:none repeat scroll 0 0 #333333;
	_padding-top:6px;
	_height:24px;
	opacity:0.9;
	margin:0;
	padding:0 10px;
	border-bottom:1px solid #373737;
}
#publishbar .barpanel .menubox img{
	vertical-align:text-bottom;
	margin-right:5px;
	height:16px;
	width:16px;
}
#publishbar .barpanel .tools .bar-menulist a:hover,
#publishbar .barpanel .tools .bar-menulist a:hover.creat-site{color:#00b9bd;}
.addsite-ico{
	background:url(http://a.xnimg.cn/smallsite/images/home-new/add-icon.png) 3px 2px no-repeat;
	}
a:hover .addsite-ico{
	background:url(http://a.xnimg.cn/smallsite/images/home-new/add-icon.png) -15px -25px no-repeat;
	}
#publishbar .barpanel .tools a.follow-btn{
	background:#404040 url(http://a.xnimg.cn/smallsite/images/side-ico.png) 10px -232px no-repeat;
	_background:#404040 url(http://a.xnimg.cn/smallsite/images/side-ico-ie6.png) 10px -232px no-repeat;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	line-height:22px;
	height:24px;
	width:auto;
	padding:0 10px 0 25px;
	background-color:rgba(255, 255, 255, 0.1);
	*background-color:#404040;
	}


































































header #master, header #followers {display:none;}