@unit-test-expecteds {
    2: "extra space" before ".abcd:hover", maybe at the end of previous rule
    2: "extra space" before ".test", maybe at the end of previous rule
}

.abcd {
    border: 1px solid red;
    width: 0;
} 

.abcd:hover {
    width: 0;
    height: 200px;
}

 .test {
    width: 100px;
}
