/*
 * @author: zhifu.wang@renren-inc.com
 */
@unit-test-expecteds {
    1: css3 prop "-moz-animation-delay" should align to right in ".css-three-attrs-no-order"
    1: css3 prop "-ms-animation-delay" should align to right in ".css-three-attrs-no-order"
    1: css3 prop "-o-animation-delay" should align to right in ".css-three-attrs-no-order"
    1: css3 prop "animation-delay" should align to right in ".css-three-attrs-no-order"
    1: css3 prop "border-radius" should align to right in ".border-radius-no-order"

    0: css3 prop "border-radius" missing some of "-webkit-,-moz-,-o-,std" in ".border-radius-no-order"
    0: css3 prop "-webkit-border-radius" missing some of "-webkit-,-moz-,-o-,std" in ".border-radius-has-webkit"

    0: css3 prop "-webkit-animation-delay" missing some of "-webkit-,-moz-,-o-,std" in ".no-standard"
    0: css3 prop "-moz-animation-delay" missing some of "-webkit-,-moz-,-o-,std" in ".no-standard"
    0: css3 prop "-ms-animation-delay" missing some of "-webkit-,-moz-,-o-,std" in ".no-standard"
    0: css3 prop "-o-animation-delay" missing some of "-webkit-,-moz-,-o-,std" in ".no-standard"

    1: css3 prop "-webkit-animation-delay" should keep in "-webkit-,-moz-,-ms-,-o-,std" order in ".not-keep-in-order"
    1: css3 prop "-moz-animation-delay" should keep in "-webkit-,-moz-,-ms-,-o-,std" order in ".not-keep-in-order"
    1: css3 prop "-ms-animation-delay" should keep in "-webkit-,-moz-,-ms-,-o-,std" order in ".not-keep-in-order"
    1: css3 prop "-o-animation-delay" should keep in "-webkit-,-moz-,-ms-,-o-,std" order in ".not-keep-in-order"
    1: css3 prop "animation-delay" should keep in "-webkit-,-moz-,-ms-,-o-,std" order in ".not-keep-in-order"
}

.css-three-attrs-no-order {
    -webkit-animation-delay: 1;
    -moz-animation-delay: 1;
    -ms-animation-delay: 1;
    -o-animation-delay: 1;
    animation-delay: 1;
}

.border-radius-no-order {
    border-radius: 1;
}

.border-radius-has-webkit {
    -webkit-border-radius: 1;
}

.no-standard {
    -webkit-animation-delay: 1;
       -moz-animation-delay: 1;
        -ms-animation-delay: 1;
         -o-animation-delay: 1;
}

.keep-in-order {
    -webkit-animation-delay: 1;
       -moz-animation-delay: 1;
        -ms-animation-delay: 1;
         -o-animation-delay: 1;
            animation-delay: 1;
}

.not-keep-in-order {
        -ms-animation-delay: 1;
    -webkit-animation-delay: 1;
       -moz-animation-delay: 1;
         -o-animation-delay: 1;
            animation-delay: 1;
}
