/*
 * @author: zhifu.wang@renren-inc.com
 */
@unit-test-expecteds {
    2: should enter in multi-selector, in ".multia, .multiaa"
    2: too many "enter"s in ".multiaaa,   .multiaaaa"
    2: extra "space" before comma in ".multib , .multic"
    2: extra "space" after comma in ".multid,  .multie"
    2: selector should not start with "space" in ".multif,  .multig"
    2: selector should not start with "space" in ".multip,   .multiq"
    2: comma should at the end of selector in ".multil , .multim"
    2: selector should end with only one space ".multih, .multii"
    2: selector should end with only one space ".multin, .multio"
    2: selector should end with only one space ".multij, .multik"
}

.multia, .multiaa { width: 100px; height: 100px; }

.multiaaa, 

.multiaaaa { width: 100px; height: 100px; }

.multi-selector,
.multi-selectorb { width: 100px; height: 100px; }

.multib ,
.multic { width: 100px; height: 100px; }

.multid, 
.multie { width: 100px; height: 100px; }

.multif,
 .multig { width: 100px; height: 100px; }

.multih,
.multii{ width: 100px; height: 100px; }

.multij,
.multik  { width: 100px; height: 100px; }

.multil
, .multim { width: 100px; height: 100px; }

.multin,
.multio
{
    width: 100px;
}

.multip,
  .multiq { width: 100px; height: 100px; }

