/* css by duo.wang */

.duo-wang .pop_dialog_table{
    background: #FF00FF;
}
.duo-wang .content {
    margin: 0 auto;
    width: 960px;
}
.duo-wang .textWrapper {
    position: relative;
    height: 100px;
    width: 398px;
    border: 1px solid #AAA;
}
.duo-wang .show-publish-btn{
    
}
.duo-wang .textWrapper .text-word {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.duo-wang .textWrapper .textarea {
    display: inline-block;
    height: 70px;
    width: 398px;
    margin: 0;
    padding: 0;
    border: none;
    overflow: auto;
    resize: none;
}
.duo-wang .textWrapper .textarea:focus {
    outline: none;
}
.duo-wang .textWrapper .publish-btn {
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.duo-wang .blog-list {
    width: 400px;
    padding: 0;
    list-style: none;
}
.duo-wang .blog-list li {
    
    margin-top: 10px;
    background: #ddd;
}
.duo-wang .blog-list li p {
    line-height: 22px;
    word-break: normal;
    word-wrap: break-word;
}
