.test {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.test2 {
    margin: 0 1px 2px 3px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.test3 {
    margin: 20px 10px 10px;
}
.test4 {
    margin: 10px;
    margin-top: 20px;
}
