/*
 * @author: zhifu.wang@renren-inc.com
 */
@unit-test-expecteds {
    0: can not set font-family for ".set-font-family"
    0: can not set font-family for ".set-by-font"
    0: can not set font-family for ".set-by-font-but-no-comma"
    0: can not set font-family for ".set-by-font-but-no-comma-another"
}

.set-font-family {
    font-family: 'arial,sans-serif';
}

.set-by-font {
    font: italic bold 12px/30px Georgia, serif;
}

.set-by-font-but-no-comma {
    font: italic bold 12px/30px Georgia;
}

.set-by-font-but-no-comma-another {
    font: italic bold Georgia;
}
