/*
 * @author: zhifu.wang@renren-inc.com
 */
@unit-test-expecteds {
    0: please shorter the selector ".a .b .c .d .e .f"
    0: use less tag in "body div ul li"
    0: use less tag in "body .a .b li"
    0: use less tag in "ul li"
    0: use less tag in "ol li"
    0: use less tag in "dl dt"
    0: use less tag in "dl dd"

    0: should not put "HTMLtag" and "#id" together in "div#test"
    0: should not put "HTMLtag" and ".class" together in "body.class ul li"
    0: should not put "HTMLtag" and ".class" together in "body.class ul .class .a"
    0: should not put "HTMLtag" and ".class" together in "ul.test li"

    0: should not use ~=,^=,|=,$=,*= in selector of ".div[class~=xxx]"
    0: should not use ~=,^=,|=,$=,*= in selector of ".div[class^=xxx]"
    0: should not use ~=,^=,|=,$=,*= in selector of ".div[class*=xxx]"
    0: should not use ~=,^=,|=,$=,*= in selector of ".div[class|=xxx]"
    0: should not use ~=,^=,|=,$=,*= in selector of ".div[class$=xxx]"
}

.div[class*=xxx] {
    width: 100px;
}

.div[class|=xxx] {
    width: 100px;
}

.div[class$=xxx] {
    width: 100px;
}

.div[class^=xxx] {
    width: 100px;
}

.div[class~=xxx] {
    width: 100px;
}

div#test {
    width: 100px;
}

.a .b .c .d .e .f {
    width: 100px;
}

body div ul li {
    width: 100px;
}

body .a .b li {
    width: 100px;
}

body.class ul li {
    width: 100px;
}

body.class ul .class .a {
    width: 100px;
}

ul.test li {
    width: 100px;
}

ul li {
    width: 100px;
}

ol li {
    width: 100px;
}

dl dt {
    width: 100px;
}

dl dd {
    width: 100px;
}
