@unit-test-expecteds {
    0: should add @author in the head of "FEDMustContainAuthorInfo.css"
}

.test {
    width: 100px;
}

/** * @author : zhifu.wang@renren-inc.com
 */
/* comment 1*/
/* comment 2*/
.test-b {
    width: 100px;
}

/* fa */ /* fda */
.test-c {
    width: 100px;
}

.test-d {
    width: 100px;
}
