/*
 * @author: zhifu.wang@renren-inc.com
 */
@unit-test-expecteds {
    1: unit should be removed when meet 0 in ".test-zero-px"
    1: zero should be removed when meet 0.xxx in ".test-zero-dot-one-px"
    1: unit should be removed when meet 0 in ".test-padding"
}

.test-zero-px {
    width: 0px;
}

.test-zero {
    width: 0;
}

.test-zero-dot-one-px {
    width: 0.1px;
}

.test-padding {
    padding: 1px 0px;
}
