/*
 * @author: zhifu.wang@renren-inc.com
 */
@unit-test-expecteds {
    0: should not use AlphaImageLoader in ".test"
    1: value of "background-image" should use lower case, in ".test"
}

.test {
    background-image: filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://a.xnimg.cn/img/pop_dialog_top_left.png',sizingMethod='crop');
}
