/*
 * @author: zhifu.wang@renren-inc.com
 */
@unit-test-expecteds {
    2: should have one "space" before "width" in ".single-line-no-space"
    2: should have "only one space" after the opening brace in ".single-line-no-space"
    2: should have one "space" before "height" in ".single-line-no-space"
    2: should not have "space" after "width" in ".extra-space-end"
    2: should have one "space" before value of "width" in ".extra-space-before-value"
    2: found extra "space" after value of "width" in ".extra-space-after-value"
    1: each rule in ".extra-space-after-value" need semicolon in the end, "width" has not
}

.correct-single-line-styles { width: 100px; height: 100px; }
.single-line-no-space {width:100px;height:100px;}
.extra-space-end { width :100px; }
.extra-space-before-value { width:100px; }
.extra-space-after-value { width: 100px ; }
.extra-space-after-value { width: 100px }
