/*
 * @author: zhifu.wang@renren-inc.com
 */
@unit-test-expecteds {
    0: can not set font-family for ".test-chn"
    0: can not set font-family for ".test-chn-font"
    0: can not set font-family for ".test-eng"
    0: should not use chinese font family name in ".test-chn"
    0: should not use chinese font family name in ".test-chn-font"
}

.test-chn {
    font-family: '宋体';
}

.test-chn-font {
    font: italic bold 12px/30px '宋体', '黑体';
}

.test-eng {
    font-family: sarif;
}
