/*
 * @author: zhifu.wang@renren-inc.com
 */
@unit-test-expecteds {
    0: value of "z-index" is not correct in ".z-index-minus"
    0: value of "z-index" is not correct in ".z-index-exceed"
    0: value of "z-index" is not correct in ".z-index-exceed-more"
}

.z-index-minus {
    z-index: -1000;
}

.z-index-minus-one {
    z-index: -1;
}

.z-index-zero {
    z-index: 0;
}

.z-index-one {
    z-index: 1;
}

.z-index-little-less {
    z-index: 1999;
}

.z-index-little-less-beta {
    z-index: 2099;
}

.z-index-max {
    z-index: 2100;
}

.z-index-exceed {
    z-index: 2101;
}

.z-index-exceed-more {
    z-index: 100000;
}
